In [1]:
import pandas as pd
import glob
import os
import json
import sys
from collections import Counter
import numpy as np

In [3]:
namedf = pd.read_csv('all_responses_round0-2.csv',sep="\t")

In [4]:
namedf

,Unnamed: 0,vg_img_id,vg_obj_name,all_responses,url
0,0,2357077,batter,"Counter({'man': 9, 'batter': 7, 'person': 4, '...",http://object-naming-amore.upf.edu//2357077_81...
1,1,2378759,jacket,"Counter({'jacket': 10, 'man': 9, 'sweatshirt':...",http://object-naming-amore.upf.edu//2378759_13...
2,2,2319953,giraffe,Counter({'giraffe': 24}),http://object-naming-amore.upf.edu//2319953_30...
3,3,2361401,giraffe,Counter({'giraffe': 27}),http://object-naming-amore.upf.edu//2361401_23...
4,4,2401994,sandwich,"Counter({'sandwich': 22, 'food': 3, 'hotdog': ...",http://object-naming-amore.upf.edu//2401994_11...
5,5,2415944,van,"Counter({'van': 12, 'car': 7, 'automobile': 3,...",http://object-naming-amore.upf.edu//2415944_32...
6,6,2398394,car,"Counter({'car': 25, 'automobile': 1, 'vehicle'...",http://object-naming-amore.upf.edu//2398394_11...
7,7,1159907,desk,"Counter({'desk': 23, 'curtain': 1, 'keyboard':...",http://object-naming-amore.upf.edu//1159907_15...
8,8,2362791,zebra,Counter({'zebra': 25}),http://object-naming-amore.upf.edu//2362791_77...
9,9,2411103,kid,"Counter({'child': 11, 'boy': 9, 'person': 2, '...",http://object-naming-amore.upf.edu//2411103_36...
10,10,2380079,woman,"Counter({'woman': 22, 'girl': 2, 'mom': 1, 'sw...",http://object-naming-amore.upf.edu//2380079_71...
11,11,2392281,coat,"Counter({'jacket': 18, 'coat': 7, 'clothing': 1})",http://object-naming-amore.upf.edu//2392281_12...
12,12,2380348,cat,"Counter({'cat': 24, 'cow': 1, 'dog': 1})",http://object-naming-amore.upf.edu//2380348_54...
13,13,2382470,truck,"Counter({'truck': 20, 'garbage truck': 4, 'tra...",http://object-naming-amore.upf.edu//2382470_13...
14,14,2399414,cheese,"Counter({'pizza': 23, 'pizza toppings': 1, 'sa...",http://object-naming-amore.upf.edu//2399414_41...
15,15,2406452,bed,Counter({'bed': 26}),http://object-naming-amore.upf.edu//2406452_11...
16,16,2322791,bridge,Counter({'bridge': 26}),http://object-naming-amore.upf.edu//2322791_30...
17,17,2355627,horse,"Counter({'horse': 26, 'house': 1})",http://object-naming-amore.upf.edu//2355627_82...
18,18,2393723,truck,"Counter({'truck': 20, 'car': 4, 'vehicle': 1, ...",http://object-naming-amore.upf.edu//2393723_47...
19,19,2354313,curtain,"Counter({'curtain': 19, 'window': 4, 'blind': ...",http://object-naming-amore.upf.edu//2354313_20...
20,20,2417142,man,"Counter({'man': 21, 'person': 2, 'guy': 1, 'ma...",http://object-naming-amore.upf.edu//2417142_29...
21,21,2375457,shirt,Counter({'shirt': 26}),http://object-naming-amore.upf.edu//2375457_58...
22,22,2394825,salad,"Counter({'salad': 13, 'food': 8, 'vegetables':...",http://object-naming-amore.upf.edu//2394825_46...
23,23,2370207,cat,"Counter({'cat': 26, 'car': 1})",http://object-naming-amore.upf.edu//2370207_38...
24,24,2373453,dugout,"Counter({'dugout': 7, 'railing': 3, 'dirt': 2,...",http://object-naming-amore.upf.edu//2373453_26...
25,25,2370125,motorcycle,"Counter({'motorcycle': 21, 'bike': 3, 'motorbi...",http://object-naming-amore.upf.edu//2370125_60...
26,26,2322229,bench,Counter({'bench': 27}),http://object-naming-amore.upf.edu//2322229_27...
27,27,2350004,bird,"Counter({'bird': 25, 'crow': 1})",http://object-naming-amore.upf.edu//2350004_35...
28,28,2411079,tub,"Counter({'bathtub': 11, 'tub': 8, 'bath tub': ...",http://object-naming-amore.upf.edu//2411079_31...
29,29,2315498,train,Counter({'train': 27}),http://object-naming-amore.upf.edu//2315498_28...
...,...,...,...,...,...
25377,25377,2321498,lady,"Counter({'woman': 10, 'girl': 7, 'person': 3, ...",http://object-naming-amore.upf.edu//2321498_30...
25378,25378,1591890,woman,"Counter({'woman': 15, 'bag': 3, 'person': 3, '...",http://object-naming-amore.upf.edu//1591890_37...
25379,25379,2413949,giraffe,"Counter({'giraffe': 21, 'zebra': 2, 'girafe': 1})",http://object-naming-amore.upf.edu//2413949_16...
25380,25380,2359521,rug,"Counter({'rug': 13, 'floor': 6, 'shoe': 3, 'ca...",http://object-naming-amore.upf.edu//2359521_22...
25381,25381,2360236,overpass,"Counter({'train': 15, 'bridge': 7, 'tracks': 2...",http://object-naming-amore.upf.edu//2360236_17...
25382,25382,2410450,bench,"Counter({'bench': 21, 'chair': 3, 't-shirt': 1...",http://object-naming-amore.upf.edu//2410450_16...
25383,25383,2350990,bed,"Counter({'bed': 16, 'girl': 4, 'pillow': 2, 'b...",http://object-naming-amore.upf.edu//2350990_35...
25384,25384,2414449,cow,"Counter({'cow': 21, 'cattle': 1})",http://object-naming-amore.upf.edu//2414449_29...
25385,25385,2337552,batter,"Counter({'person': 4, 'legs': 4, 'player': 4, ...",http://object-naming-amore.upf.edu//2337552_95...
25386,25386,2319540,truck,"Counter({'truck': 22, 'car': 3, 'tyre': 1, 'pi...",http://object-naming-amore.upf.edu//2319540_32...
25387,25387,713046,guy,"Counter({'man': 13, 'person': 4, 't-shirt': 2,...",http://object-naming-amore.upf.edu//713046_157...
25388,25388,2398265,plane,"Counter({'airplane': 13, 'plane': 11, 'flight'...",http://object-naming-amore.upf.edu//2398265_11...
25389,25389,2361075,guy,"Counter({'man': 12, 'tennis player': 5, 'playe...",http://object-naming-amore.upf.edu//2361075_26...
25390,25390,2354257,skateboarder,"Counter({'skateboarder': 10, 'skater': 6, 'man...",http://object-naming-amore.upf.edu//2354257_22...
25391,25391,2412208,car,"Counter({'car': 26, 'wheel': 1})",http://object-naming-amore.upf.edu//2412208_20...
25392,25392,2341410,bird,Counter({'bird': 25}),http://object-naming-amore.upf.edu//2341410_36...
25393,25393,2339493,dog,"Counter({'dog': 22, 'sand': 2})",http://object-naming-amore.upf.edu//2339493_25...
25394,25394,2333647,truck,"Counter({'truck': 18, 'car': 6, 'wheel': 1, 's...",http://object-naming-amore.upf.edu//2333647_33...
25395,25395,2395583,zebra,"Counter({'zebra': 24, 'giraffe': 1})",http://object-naming-amore.upf.edu//2395583_45...
25396,25396,2318900,table,"Counter({'table': 18, 'snacks': 1, 'plate': 1,...",http://object-naming-amore.upf.edu//2318900_28...
25397,25397,2363258,child,"Counter({'girl': 14, 'child': 8, 'kid': 4, 'to...",http://object-naming-amore.upf.edu//2363258_76...
25398,25398,2342983,desk,"Counter({'desk': 13, 'table': 4, 'laptop': 2, ...",http://object-naming-amore.upf.edu//2342983_28...
25399,25399,2412616,aircraft,"Counter({'airplane': 15, 'plane': 10, 'jet': 2})",http://object-naming-amore.upf.edu//2412616_38...
25400,25400,2356650,kid,"Counter({'child': 12, 'girl': 5, 'kid': 3, 'bo...",http://object-naming-amore.upf.edu//2356650_23...
25401,25401,2413059,zebra,"Counter({'zebra': 24, 'tree': 2})",http://object-naming-amore.upf.edu//2413059_18...
25402,25402,2372880,skateboarder,"Counter({'skateboarder': 8, 'man': 7, 'person'...",http://object-naming-amore.upf.edu//2372880_22...
25403,25403,2402715,counter,"Counter({'counter': 18, 'cabinet': 4, 'cupboar...",http://object-naming-amore.upf.edu//2402715_38...
25404,25404,2326627,cat,Counter({'cat': 26}),http://object-naming-amore.upf.edu//2326627_33...
25405,25405,2380161,castle,"Counter({'building': 18, 'castle': 3, 'fort': ...",http://object-naming-amore.upf.edu//2380161_54...
25406,25406,2374727,sheep,"Counter({'sheep': 24, 'animal': 1, 'lamb': 1})",http://object-naming-amore.upf.edu//2374727_72...

In [5]:
# index 17: correct house to horse?
# index 23: correct car to cat?
# girafe -- giraffe
# sandwhich
# donut, doughnut, ...
# train -- trian

In [6]:
# https://pypi.org/project/pyspellchecker/
from spellchecker import SpellChecker

ModuleNotFoundError: No module named 'spellchecker'

In [ ]:
# what to do with compounds? normalize spacing
# e.g. bathtub - bath tub

In [ ]:
# 1. find names that don't occur in the lexicon (girafe)
#    - use spellchecker
#    - try to find similar names for the same object
#    - just come up with a list of frequent misspellings
#
# 2. try to find "false friends" based on frequency pattern + edit distance
#    - e.g 26 cat vs. 1 car

In [7]:
namedf.iloc[0]

Unnamed: 0                                                       0
vg_img_id                                                  2357077
vg_obj_name                                                 batter
all_responses    Counter({'man': 9, 'batter': 7, 'person': 4, '...
url              http://object-naming-amore.upf.edu//2357077_81...
Name: 0, dtype: object

In [10]:
eval(namedf.iloc[0]['all_responses']).most_common(1)

[('man', 9)]