In [5]:
import numpy as np
import pandas as pd
pd.set_option('precision', 2)
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
import matplotlib
from collections import Counter
from scipy.stats import entropy
import matplotlib.pyplot as plt
import matplotlib
from random import randint

In [6]:
def plot_labelled_bb(impath, bblist, title=None, text_size='large',
                     mode='path', omode='screen', opath=None,
                     figsize=(10, 20), show_image=True, ax=None):
    '''nabbed from clp-vision'''

    if mode == 'path':
        img = plt.imread(impath)
    elif mode == 'img':
        img = impath

    if ax is None:
        fig, ax = plt.subplots()
    else:
        fig = plt.gcf()

    fig.set_size_inches(figsize)

    if not show_image:
        img = np.ones_like(img) * 255
        # img = np.zeros_like(img)
    ax.imshow(img)

    if bblist is not None:
        for (this_bb, this_label) in bblist:
            x, y, w, h = this_bb

            if type(this_label) == tuple:
                edgecolor = this_label[1]
                this_label = this_label[0]
            else:
                edgecolor = 'r'
            ax.add_patch(
                matplotlib.patches.Rectangle(
                    (x, y),
                    w,
                    h,
                    edgecolor=edgecolor,
                    fill=False, linewidth=4
                )
            )
            if this_label != '':
                newx = x + randint(0,w)
                ax.text(newx, y, this_label, size=text_size, style='italic',
                        bbox={'facecolor': 'white', 'alpha': 0.7, 'pad': 10})
    if title is not None:
        ax.set_title(title)

    if show_image:
        ax.axis('off')
    else:
        ax.tick_params(
            axis='both',          # changes apply to the x-axis
            which='both',      # both major and minor ticks are affected
            bottom=False,      # ticks along the bottom edge are off
            top=False,         # ticks along the top edge are off
            labelbottom=False,
            left=False,
            labelleft=False)  # labels along the bottom edge are off

    if omode == 'img':
        fig.savefig(opath, bbox_inches='tight', pad_inches=0)
        plt.close()  # to supress showing the plot in interactive mode

In [7]:
#pref = "/Users/sina/research/data/"
pref = "/Volumes/LaCie/"
vgobjdf = pd.read_json(pref+'dsg-vision/Preproc/PreprocOut/vgobjdf.json.gz', orient='split')

In [8]:
vgobjdf.head()

   i_corpus  image_id   obj_id            syn      name                    bb
0         5         1  1058498     clock.n.01     clock    [421, 91, 79, 339]
1         5         1     5046    street.n.01    street   [77, 328, 714, 262]
2         5         1     5045     shade.n.01     shade  [119, 338, 274, 192]
3         5         1  1058529       man.n.01       man   [238, 249, 60, 262]
4         5         1     5048  gym_shoe.n.01  sneakers    [243, 489, 52, 26]

In [12]:
vgregdf = pd.read_json('vgregdf.json.gz', orient='split')

In [13]:
vgregdf.head(10)

   image_id  region_id  object_id       name           synsets
0         1       1382    1058498      clock      [clock.n.01]
1         1       1383       5046     street     [street.n.01]
2         1       1383       5045      shade      [shade.n.01]
3         1       1384    1058529        man        [man.n.01]
4         1       1384       5048   sneakers   [gym_shoe.n.01]
5         1       1385       5050  headlight  [headlight.n.01]
6         1       1385       5049        car        [car.n.01]
7         1       1386       5051       bike    [bicycle.n.01]
8         1       1386    1058535       bike    [bicycle.n.01]
9         1       1432    1058507       sign       [sign.n.02]

In [14]:
vgregdf['syn'] = vgregdf['synsets'].apply(lambda x: x[0] if len(x) > 0 else "")

In [17]:
mndf = pd.read_json('../proc_data_phase0/spellchecking/all_responses_round0-3_cleaned.json.gz', orient='split')

In [18]:
mndf.head()

,vg_img_id,cat,synset,vg_obj_name,responses_r0,opt-outs,vg_domain,top_response_domain_r0,responses_domains_r0,url,...,responses_r2,top_response_domain_r2,responses_domains_r3,responses_r3,top_response_domain_r3,vg_object_id,all_responses,clean,canon,spellchecked
0,2357077,person,athlete.n.01,batter,"{'man': 4, 'batter': 2, 'baseball player': 1, ...",{},people,people,"{'people': 0.889, '$baseball player': 0.111}",http://object-naming-amore.upf.edu//2357077_81...,...,"{'batter': 3, 'baseball player': 1, 'helmet': ...",people,"{'people': 0.75, '$bat': 0.125, 'clothing': 0....","{'player': 3, 'man': 2, 'batter': 1, 'bat': 1,...",people,815223,"{'man': 11, 'batter': 8, 'baseball player': 2,...","{'man': 11, 'batter': 8, 'baseball player': 2,...","{'man': 11, 'batter': 8, 'baseball player': 2,...","{'man': 11, 'batter': 8, 'baseball player': 2,..."
1,2378759,article of clothing,overgarment.n.01,jacket,"{'jacket': 3, 'sweatshirt': 2, 'man': 2, 'hood...",{},clothing,clothing,"{'clothing': 0.333, '$sweatshirt': 0.222, 'peo...",http://object-naming-amore.upf.edu//2378759_13...,...,"{'man': 4, 'jacket': 3, 'sweatshirt': 1, 'hood...",people,"{'clothing': 0.556, 'people': 0.222, '$sweatsh...","{'jacket': 4, 'man': 2, 'sweatshirt': 1, 'hood...",clothing,1365136,"{'jacket': 14, 'sweatshirt': 4, 'man': 11, 'ho...","{'jacket': 14, 'sweatshirt': 4, 'man': 11, 'ho...","{'jacket': 14, 'sweatshirt': 4, 'man': 11, 'ho...","{'jacket': 14, 'sweatshirt': 4, 'man': 11, 'ho..."
2,2319953,animal,ungulate.n.01,giraffe,{'giraffe': 7},{'#bbox': 2},animals_plants,animals_plants,{'animals_plants': 1.0},http://object-naming-amore.upf.edu//2319953_30...,...,{'giraffe': 9},animals_plants,"{'animals_plants': 0.889, 'people': 0.111}","{'giraffe': 8, 'woman': 1}",animals_plants,3089834,"{'giraffe': 32, 'woman': 1}","{'giraffe': 32, 'woman': 1}","{'giraffe': 32, 'woman': 1}","{'giraffe': 32, 'woman': 1}"
3,2361401,animal,ungulate.n.01,giraffe,{'giraffe': 9},{},animals_plants,animals_plants,{'animals_plants': 1.0},http://object-naming-amore.upf.edu//2361401_23...,...,{'giraffe': 9},animals_plants,{'animals_plants': 1.0},{'giraffe': 9},animals_plants,2363103,{'giraffe': 36},{'giraffe': 36},{'giraffe': 36},{'giraffe': 36}
4,2401994,"food, nutrient",dish.n.02,sandwich,"{'sandwich': 6, 'food': 2, 'hotdog': 1}",{},food,food,"{'food': 0.889, '$hotdog': 0.111}",http://object-naming-amore.upf.edu//2401994_11...,...,{'sandwich': 9},food,"{'food': 0.778, '$foot': 0.111, '$burger': 0.111}","{'food': 3, 'sandwich': 3, 'foot': 1, 'cake': ...",food,1141828,"{'sandwich': 25, 'food': 6, 'hotdog': 1, 'sand...","{'sandwich': 25, 'food': 6, 'hotdog': 1, 'sand...","{'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake...","{'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake..."

In [19]:
len(mndf)

25315

In [23]:
anames = [n.strip() for n in open('aliased_MN442.txt').readlines()]
mnvocab = []
for n in anames:
    if ',' in n:
        mnvocab += n.split(',')
    else:
        mnvocab.append(n)

In [24]:
vgregdf['is_entry_name'] = vgregdf['name'].apply(lambda x: x in mnvocab)

In [25]:
entryreg = vgregdf.query('is_entry_name == True')

In [26]:
len(set(entryreg.object_id))/len(set(vgregdf.object_id))

0.5167024927325274

In [27]:
len(set(entryreg.object_id))

1953772

In [30]:
len(vgobjdf)

3895567

In [31]:
vgobjdf.head()

   i_corpus  image_id   obj_id            syn      name                    bb
0         5         1  1058498     clock.n.01     clock    [421, 91, 79, 339]
1         5         1     5046    street.n.01    street   [77, 328, 714, 262]
2         5         1     5045     shade.n.01     shade  [119, 338, 274, 192]
3         5         1  1058529       man.n.01       man   [238, 249, 60, 262]
4         5         1     5048  gym_shoe.n.01  sneakers    [243, 489, 52, 26]

In [32]:
vgregdf.head()

,image_id,region_id,object_id,name,synsets,syn,is_entry_name
0,1,1382,1058498,clock,[clock.n.01],clock.n.01,True
1,1,1383,5046,street,[street.n.01],street.n.01,True
2,1,1383,5045,shade,[shade.n.01],shade.n.01,False
3,1,1384,1058529,man,[man.n.01],man.n.01,True
4,1,1384,5048,sneakers,[gym_shoe.n.01],gym_shoe.n.01,False

In [33]:
fulldf = mndf.merge(vgobjdf, how='left', left_on=['vg_img_id', 'vg_object_id','vg_obj_name'], 
                       right_on=['image_id', 'obj_id','name'])

In [34]:
fulldf.columns

Index(['vg_img_id', 'cat', 'synset', 'vg_obj_name', 'responses_r0', 'opt-outs',
       'vg_domain', 'top_response_domain_r0', 'responses_domains_r0', 'url',
       'sample_type', 'responses_domains_r1', 'responses_r1',
       'top_response_domain_r1', 'responses_domains_r2', 'responses_r2',
       'top_response_domain_r2', 'responses_domains_r3', 'responses_r3',
       'top_response_domain_r3', 'vg_object_id', 'all_responses', 'clean',
       'canon', 'spellchecked', 'i_corpus', 'image_id', 'obj_id', 'syn',
       'name', 'bb'],
      dtype='object')

In [35]:
fulldf['ntypes'] = fulldf['spellchecked'].apply(len)

In [36]:
fulldf['spellchecked'] = fulldf['spellchecked'].apply(lambda x: Counter(x))

In [37]:
fulldf['ntokens'] = fulldf['spellchecked'].apply(lambda x: sum(list(x.values())))

In [38]:
fullvocab = sum(list(fulldf['spellchecked']), Counter())

In [39]:
fullvocab.most_common(10)

[('train', 37870),
 ('man', 33643),
 ('woman', 33385),
 ('shirt', 30698),
 ('giraffe', 30044),
 ('bed', 28408),
 ('horse', 26716),
 ('cat', 26109),
 ('table', 25734),
 ('dog', 22876)]

In [40]:
fldf = pd.read_json('../exploration/data/flickr30k_ref_anno.json.gz', orient='split')
codf = pd.read_json('../exploration/data/refcoco_anno-dep-pos-wn-attr.json.gz', orient='split')
codf.rename(columns={'image_id':'region_id','rex_id':'image_id'},inplace=True)
codf.head()

,image_id,region_id,basicDependencies,parse,tagged_parse,wn_anno_parse,attribute_parse
0,581857,1719310,"[{'dep': 'ROOT', 'governor': 0, 'governorGloss...",(ROOT\n (NP\n (NP (DT the) (NN lady))\n ...,"[[the, DT], [lady, NN], [with, IN], [the, DT],...","[[the, None], [lady.n.01, noun.person], [with,...","[[lady, NAME], [with, REL], [blue, COLOR]]"
1,581857,1719310,"[{'dep': 'ROOT', 'governor': 0, 'governorGloss...",(ROOT\n (FRAG\n (NP (NN lady))\n (PP (I...,"[[lady, NN], [with, IN], [back, RB], [to, TO],...","[[lady.n.01, noun.person], [with, None], [back...","[[lady, NAME], [with, REL]]"
2,581857,1719310,"[{'dep': 'ROOT', 'governor': 0, 'governorGloss...",(ROOT\n (NP (JJ blue) (NN shirt))),"[[blue, JJ], [shirt, NN]]","[[blue.s.01, adj.all], [shirt.n.01, noun.artif...","[[blue, COLOR], [shirt, NAME]]"
3,581857,463958,"[{'dep': 'ROOT', 'governor': 0, 'governorGloss...",(ROOT\n (FRAG\n (NP (NN woman))\n (PP (...,"[[woman, NN], [in, IN], [gray, JJ], [shirt, NN...","[[woman.n.01, noun.person], [in, None], [grey....","[[woman, NAME], [gray, COLOR], [right, LOC]]"
4,581857,463958,"[{'dep': 'ROOT', 'governor': 0, 'governorGloss...",(ROOT\n (NP\n (NP (NN woman))\n (NP (JJ...,"[[woman, NN], [gray, JJ], [right, NN]]","[[woman.n.01, noun.person], [grey.s.01, adj.al...","[[woman, NAME], [gray, COLOR], [right, LOC]]"

In [41]:
def get_name(tlist):
    for(word,tag) in tlist:
        if tag == 'NAME':
            return word
    return ''
codf['name'] = codf['attribute_parse'].apply(lambda x: get_name(x))
fldf['name'] = fldf['attr_name_stnf'].apply(lambda x: get_name(x))

In [42]:
mnobjects = set(list(mndf.vg_object_id))

In [43]:
len(mnobjects)

25315

In [44]:
vgobjects = set(vgregdf['object_id'])

In [45]:
len(vgobjects)

3781232

In [46]:
len([obj for obj in mnobjects if not obj in vgobjects])

92

In [47]:
vgobjects2 = set(vgobjdf['obj_id'])

In [48]:
len(vgobjects2)

3802374

In [49]:
len([obj for obj in mnobjects if not obj in vgobjects2])

0

In [50]:
vgreg_submn = vgregdf[vgregdf['object_id'].isin(mnobjects)]

In [51]:
len(vgreg_submn)

182720

In [52]:
vgreg_submn.head()

,image_id,region_id,object_id,name,synsets,syn,is_entry_name
207,3,1444,1060282,desk,[desk.n.01],desk.n.01,True
209,3,1445,1060282,desk,[desk.n.01],desk.n.01,True
217,3,1492,1060282,desk,[desk.n.01],desk.n.01,True
231,3,1544,1060282,desk,[desk.n.01],desk.n.01,True
240,3,1595,1060282,desk,[desk.n.01],desk.n.01,True

In [54]:
missing = [obj for obj in mnobjects if not obj in vgobjects]

In [55]:
for obj in missing:
    odict = dict(vgobjdf.query('obj_id == %s'%obj).iloc[0])
    odict['synsets'] = [odict['syn']]
    odict['object_id'] = odict['obj_id']
    odict['region_id'] = -1
    del odict['obj_id']
    del odict['i_corpus']
    del odict['bb']
    print(odict)
    vgreg_submn = vgreg_submn.append(odict,ignore_index=True)

{'image_id': 2340204, 'syn': 'shirt.n.01', 'name': 'shirt', 'synsets': ['shirt.n.01'], 'object_id': 2623467, 'region_id': -1}
{'image_id': 713039, 'syn': 'catcher.n.01', 'name': 'catcher', 'synsets': ['catcher.n.01'], 'object_id': 1577996, 'region_id': -1}
{'image_id': 713040, 'syn': 'table.n.02', 'name': 'table', 'synsets': ['table.n.02'], 'object_id': 1578070, 'region_id': -1}
{'image_id': 2320797, 'syn': 'man.n.01', 'name': 'man', 'synsets': ['man.n.01'], 'object_id': 3282597, 'region_id': -1}
{'image_id': 2416311, 'syn': 'chair.n.01', 'name': 'chair', 'synsets': ['chair.n.01'], 'object_id': 2895252, 'region_id': -1}
{'image_id': 2315843, 'syn': 'chair.n.01', 'name': 'chair', 'synsets': ['chair.n.01'], 'object_id': 2765441, 'region_id': -1}
{'image_id': 713669, 'syn': 'jacket.n.01', 'name': 'jacket', 'synsets': ['jacket.n.01'], 'object_id': 1587334, 'region_id': -1}
{'image_id': 2315735, 'syn': 'zebra.n.01', 'name': 'zebra', 'synsets': ['zebra.n.01'], 'object_id': 3291588, 'region_id': -1}
{'image_id': 2335952, 'syn': 'male_child.n.01', 'name': 'boy', 'synsets': ['male_child.n.01'], 'object_id': 2243873, 'region_id': -1}
{'image_id': 2332955, 'syn': 'cat.n.01', 'name': 'cat', 'synsets': ['cat.n.01'], 'object_id': 3162543, 'region_id': -1}
{'image_id': 1996, 'syn': 'bed.n.01', 'name': 'bed', 'synsets': ['bed.n.01'], 'object_id': 2376217, 'region_id': -1}
{'image_id': 2345110, 'syn': 'dog.n.01', 'name': 'dog', 'synsets': ['dog.n.01'], 'object_id': 3162947, 'region_id': -1}
{'image_id': 2417983, 'syn': 'airplane.n.01', 'name': 'plane', 'synsets': ['airplane.n.01'], 'object_id': 2771405, 'region_id': -1}
{'image_id': 1545, 'syn': 'rug.n.01', 'name': 'carpet', 'synsets': ['rug.n.01'], 'object_id': 1067629, 'region_id': -1}
{'image_id': 2327577, 'syn': 'bread.n.01', 'name': 'bread', 'synsets': ['bread.n.01'], 'object_id': 2907148, 'region_id': -1}
{'image_id': 2417817, 'syn': 'motorcycle.n.01', 'name': 'motorcycle', 'synsets': ['motorcycle.n.01'], 'object_id': 2907368, 'region_id': -1}
{'image_id': 1159714, 'syn': 'van.n.05', 'name': 'van', 'synsets': ['van.n.05'], 'object_id': 1596810, 'region_id': -1}
{'image_id': 2323401, 'syn': 'house.n.01', 'name': 'house', 'synsets': ['house.n.01'], 'object_id': 3301611, 'region_id': -1}
{'image_id': 285727, 'syn': 'train.n.01', 'name': 'train', 'synsets': ['train.n.01'], 'object_id': 3695446, 'region_id': -1}
{'image_id': 2315964, 'syn': 'car.n.01', 'name': 'car', 'synsets': ['car.n.01'], 'object_id': 3040812, 'region_id': -1}
{'image_id': 2417466, 'syn': 'lady.n.01', 'name': 'lady', 'synsets': ['lady.n.01'], 'object_id': 3434506, 'region_id': -1}
{'image_id': 1159961, 'syn': 'jacket.n.01', 'name': 'jacket', 'synsets': ['jacket.n.01'], 'object_id': 1599681, 'region_id': -1}
{'image_id': 2416025, 'syn': 'car.n.01', 'name': 'car', 'synsets': ['car.n.01'], 'object_id': 3044476, 'region_id': -1}
{'image_id': 2338728, 'syn': 'shirt.n.01', 'name': 'shirt', 'synsets': ['shirt.n.01'], 'object_id': 3699943, 'region_id': -1}
{'image_id': 1591768, 'syn': 'bathtub.n.01', 'name': 'tub', 'synsets': ['bathtub.n.01'], 'object_id': 1603493, 'region_id': -1}
{'image_id': 2361429, 'syn': 'shirt.n.01', 'name': 'shirt', 'synsets': ['shirt.n.01'], 'object_id': 1868046, 'region_id': -1}
{'image_id': 1592071, 'syn': 'man.n.01', 'name': 'man', 'synsets': ['man.n.01'], 'object_id': 1606316, 'region_id': -1}
{'image_id': 2335982, 'syn': 'shirt.n.01', 'name': 'shirt', 'synsets': ['shirt.n.01'], 'object_id': 2131773, 'region_id': -1}
{'image_id': 2332559, 'syn': 'horse.n.01', 'name': 'horse', 'synsets': ['horse.n.01'], 'object_id': 2788756, 'region_id': -1}
{'image_id': 1592000, 'syn': 'sofa.n.01', 'name': 'couch', 'synsets': ['sofa.n.01'], 'object_id': 3708090, 'region_id': -1}
{'image_id': 2416588, 'syn': 'bun.n.01', 'name': 'bun', 'synsets': ['bun.n.01'], 'object_id': 3316337, 'region_id': -1}
{'image_id': 1592946, 'syn': 'train.n.01', 'name': 'train', 'synsets': ['train.n.01'], 'object_id': 1614396, 'region_id': -1}
{'image_id': 962, 'syn': 'woman.n.01', 'name': 'woman', 'synsets': ['woman.n.01'], 'object_id': 2663500, 'region_id': -1}
{'image_id': 1593088, 'syn': 'guy.n.01', 'name': 'guy', 'synsets': ['guy.n.01'], 'object_id': 1615366, 'region_id': -1}
{'image_id': 2331745, 'syn': 'cow.n.01', 'name': 'cow', 'synsets': ['cow.n.01'], 'object_id': 3327547, 'region_id': -1}
{'image_id': 2416975, 'syn': 'man.n.01', 'name': 'man', 'synsets': ['man.n.01'], 'object_id': 2803864, 'region_id': -1}
{'image_id': 711, 'syn': 'house.n.01', 'name': 'house', 'synsets': ['house.n.01'], 'object_id': 1624604, 'region_id': -1}
{'image_id': 763, 'syn': 'house.n.01', 'name': 'house', 'synsets': ['house.n.01'], 'object_id': 1625993, 'region_id': -1}
{'image_id': 2327312, 'syn': 'crow.n.01', 'name': 'crow', 'synsets': ['crow.n.01'], 'object_id': 3331693, 'region_id': -1}
{'image_id': 2330035, 'syn': 'lady.n.01', 'name': 'lady', 'synsets': ['lady.n.01'], 'object_id': 3462995, 'region_id': -1}
{'image_id': 498376, 'syn': 'boat.n.01', 'name': 'boat', 'synsets': ['boat.n.01'], 'object_id': 3595830, 'region_id': -1}
{'image_id': 2362026, 'syn': 'shirt.n.01', 'name': 'shirt', 'synsets': ['shirt.n.01'], 'object_id': 1762918, 'region_id': -1}
{'image_id': 2417460, 'syn': 'guy.n.01', 'name': 'guy', 'synsets': ['guy.n.01'], 'object_id': 3467168, 'region_id': -1}
{'image_id': 1354, 'syn': 'table.n.02', 'name': 'table', 'synsets': ['table.n.02'], 'object_id': 1640467, 'region_id': -1}
{'image_id': 2341191, 'syn': 'cat.n.01', 'name': 'cat', 'synsets': ['cat.n.01'], 'object_id': 2951701, 'region_id': -1}
{'image_id': 2337479, 'syn': 'jacket.n.01', 'name': 'jacket', 'synsets': ['jacket.n.01'], 'object_id': 3345381, 'region_id': -1}
{'image_id': 1593083, 'syn': 'cabinet.n.01', 'name': 'cabinet', 'synsets': ['cabinet.n.01'], 'object_id': 1776999, 'region_id': -1}
{'image_id': 2335764, 'syn': 'bench.n.01', 'name': 'bench', 'synsets': ['bench.n.01'], 'object_id': 3481506, 'region_id': -1}
{'image_id': 1592474, 'syn': 'airplane.n.01', 'name': 'plane', 'synsets': ['airplane.n.01'], 'object_id': 3613046, 'region_id': -1}
{'image_id': 1592144, 'syn': 'truck.n.01', 'name': 'truck', 'synsets': ['truck.n.01'], 'object_id': 2567259, 'region_id': -1}
{'image_id': 1592771, 'syn': 'motorcycle.n.01', 'name': 'motorcycle', 'synsets': ['motorcycle.n.01'], 'object_id': 2699370, 'region_id': -1}
{'image_id': 2323226, 'syn': 'cheese.n.01', 'name': 'cheese', 'synsets': ['cheese.n.01'], 'object_id': 2961918, 'region_id': -1}
{'image_id': 2338370, 'syn': 'man.n.01', 'name': 'man', 'synsets': ['man.n.01'], 'object_id': 2962861, 'region_id': -1}
{'image_id': 2328152, 'syn': 'doughnut.n.02', 'name': 'donut', 'synsets': ['doughnut.n.02'], 'object_id': 3356331, 'region_id': -1}
{'image_id': 2377616, 'syn': 'giraffe.n.01', 'name': 'giraffe', 'synsets': ['giraffe.n.01'], 'object_id': 2311116, 'region_id': -1}
{'image_id': 2417258, 'syn': 'rug.n.01', 'name': 'carpet', 'synsets': ['rug.n.01'], 'object_id': 3495475, 'region_id': -1}
{'image_id': 2340254, 'syn': 'curtain.n.01', 'name': 'curtain', 'synsets': ['curtain.n.01'], 'object_id': 2581006, 'region_id': -1}
{'image_id': 2417050, 'syn': 'male_child.n.01', 'name': 'boy', 'synsets': ['male_child.n.01'], 'object_id': 3630605, 'region_id': -1}
{'image_id': 2351743, 'syn': 'table.n.02', 'name': 'table', 'synsets': ['table.n.02'], 'object_id': 1664894, 'region_id': -1}
{'image_id': 2334212, 'syn': 'rug.n.01', 'name': 'carpet', 'synsets': ['rug.n.01'], 'object_id': 2714828, 'region_id': -1}
{'image_id': 154, 'syn': 'counter.n.01', 'name': 'counter', 'synsets': ['counter.n.01'], 'object_id': 1535879, 'region_id': -1}
{'image_id': 2333466, 'syn': 'car.n.01', 'name': 'car', 'synsets': ['car.n.01'], 'object_id': 2716411, 'region_id': -1}
{'image_id': 2351378, 'syn': 'guy.n.01', 'name': 'guy', 'synsets': ['guy.n.01'], 'object_id': 2324409, 'region_id': -1}
{'image_id': 1175, 'syn': 'counter.n.01', 'name': 'counter', 'synsets': ['counter.n.01'], 'object_id': 3635235, 'region_id': -1}
{'image_id': 2417603, 'syn': 'sofa.n.01', 'name': 'couch', 'synsets': ['sofa.n.01'], 'object_id': 2849308, 'region_id': -1}
{'image_id': 1468, 'syn': 'car.n.01', 'name': 'car', 'synsets': ['car.n.01'], 'object_id': 3636508, 'region_id': -1}
{'image_id': 2315850, 'syn': 'zebra.n.01', 'name': 'zebra', 'synsets': ['zebra.n.01'], 'object_id': 2719997, 'region_id': -1}

{'image_id': 2417951, 'syn': 'cow.n.01', 'name': 'cow', 'synsets': ['cow.n.01'], 'object_id': 2982297, 'region_id': -1}
{'image_id': 2214, 'syn': 'cabinet.n.01', 'name': 'cabinet', 'synsets': ['cabinet.n.01'], 'object_id': 3640307, 'region_id': -1}
{'image_id': 2417959, 'syn': 'male_child.n.01', 'name': 'boy', 'synsets': ['male_child.n.01'], 'object_id': 2723014, 'region_id': -1}
{'image_id': 2327578, 'syn': 'batter.n.01', 'name': 'batter', 'synsets': ['batter.n.01'], 'object_id': 2723789, 'region_id': -1}
{'image_id': 1997, 'syn': 'rug.n.01', 'name': 'rug', 'synsets': ['rug.n.01'], 'object_id': 1546005, 'region_id': -1}
{'image_id': 2507, 'syn': 'train.n.01', 'name': 'train', 'synsets': ['train.n.01'], 'object_id': 1549823, 'region_id': -1}
{'image_id': 2556, 'syn': 'lantern.n.01', 'name': 'lantern', 'synsets': ['lantern.n.01'], 'object_id': 1550300, 'region_id': -1}
{'image_id': 2645, 'syn': 'jeep.n.01', 'name': 'jeep', 'synsets': ['jeep.n.01'], 'object_id': 1550832, 'region_id': -1}
{'image_id': 2417765, 'syn': 'table.n.02', 'name': 'table', 'synsets': ['table.n.02'], 'object_id': 3124581, 'region_id': -1}
{'image_id': 3141, 'syn': 'house.n.01', 'name': 'house', 'synsets': ['house.n.01'], 'object_id': 1553154, 'region_id': -1}
{'image_id': 2417814, 'syn': 'girl.n.01', 'name': 'girl', 'synsets': ['girl.n.01'], 'object_id': 2995505, 'region_id': -1}
{'image_id': 2336163, 'syn': 'airplane.n.01', 'name': 'plane', 'synsets': ['airplane.n.01'], 'object_id': 2340262, 'region_id': -1}
{'image_id': 3873, 'syn': 'juice.n.01', 'name': 'juice', 'synsets': ['juice.n.01'], 'object_id': 1555881, 'region_id': -1}
{'image_id': 2416473, 'syn': 'bench.n.01', 'name': 'bench', 'synsets': ['bench.n.01'], 'object_id': 3391082, 'region_id': -1}
{'image_id': 1159785, 'syn': 'bed.n.01', 'name': 'bed', 'synsets': ['bed.n.01'], 'object_id': 2211506, 'region_id': -1}
{'image_id': 4549, 'syn': 'rug.n.01', 'name': 'carpet', 'synsets': ['rug.n.01'], 'object_id': 1560609, 'region_id': -1}
{'image_id': 2417294, 'syn': 'desk.n.01', 'name': 'desk', 'synsets': ['desk.n.01'], 'object_id': 3395635, 'region_id': -1}
{'image_id': 2374172, 'syn': 'table.n.02', 'name': 'table', 'synsets': ['table.n.02'], 'object_id': 2609252, 'region_id': -1}
{'image_id': 2340672, 'syn': 'bed.n.01', 'name': 'bed', 'synsets': ['bed.n.01'], 'object_id': 2611044, 'region_id': -1}
{'image_id': 498222, 'syn': 'bed.n.01', 'name': 'bed', 'synsets': ['bed.n.01'], 'object_id': 3135415, 'region_id': -1}
{'image_id': 4911, 'syn': 'rug.n.01', 'name': 'carpet', 'synsets': ['rug.n.01'], 'object_id': 1564400, 'region_id': -1}
{'image_id': 4961, 'syn': 'sofa.n.01', 'name': 'couch', 'synsets': ['sofa.n.01'], 'object_id': 1565091, 'region_id': -1}
{'image_id': 107925, 'syn': 'dress.n.01', 'name': 'dress', 'synsets': ['dress.n.01'], 'object_id': 1566019, 'region_id': -1}
{'image_id': 2339909, 'syn': 'male_child.n.01', 'name': 'boy', 'synsets': ['male_child.n.01'], 'object_id': 3270683, 'region_id': -1}
{'image_id': 4575, 'syn': 'bed.n.01', 'name': 'bed', 'synsets': ['bed.n.01'], 'object_id': 2356228, 'region_id': -1}

In [56]:
len(vgreg_submn)

182812

In [57]:
aggdf = pd.DataFrame(vgreg_submn.groupby('object_id')['name'].apply(lambda x: list(x)))

In [58]:
aggdf['ntoken'] = aggdf['name'].apply(lambda x: len(x))

In [59]:
aggdf['ntypes'] = aggdf['name'].apply(lambda x: len(set(x)))

In [60]:
np.mean(aggdf['ntypes'])

1.0790440450325893

In [61]:
aggdf_sub = aggdf #[aggdf.index.isin(mndf.vg_object_id)]

In [62]:
len(aggdf_sub)

25315

In [63]:
aggdf_co = pd.DataFrame(codf.groupby('region_id')['name'].apply(lambda x: list(x)))
aggdf_fl = pd.DataFrame(fldf.groupby('region_id')['name'].apply(lambda x: list(x)))

In [64]:
aggdf_co.head()

                                name
region_id
166                        [, dog, ]
433           [topback, dog, hotdog]
566                  [dog, dog, dog]
595               [dog, weener, dog]
765        [bun, sandwich, sandwich]

In [65]:
len(aggdf_co)

50000

In [66]:
aggdf_co['names'] = aggdf_co['name'].apply(lambda x: [w for w in x if len(w) > 0])
aggdf_fl['names'] = aggdf_fl['name'].apply(lambda x: [w for w in x if len(w) > 0])

In [67]:
aggdf_fl['ntoken'] = aggdf_fl['names'].apply(lambda x: len(x))
aggdf_fl['ntoken'] = aggdf_fl['names'].apply(lambda x: len(x))

In [68]:
aggdf_co['ntypes'] = aggdf_co['names'].apply(lambda x: len(set(x)))
aggdf_fl['ntypes'] = aggdf_fl['names'].apply(lambda x: len(set(x)))

In [69]:
comptable = []

In [70]:
comptable.append(('# objects',
                 len(set(codf['region_id'])),
                  len(set(fldf['region_id'])),
                 len(set(vgregdf['object_id'])),
                 len(set(vgreg_submn['object_id'])),
                 len(fulldf)
                 ))

In [71]:
comptable.append(('vocab size',
                  len(set(codf['name'])),
                  len(set(fldf['name'])),
                 len(set(vgregdf['name'])),
                 len(set(vgreg_submn['name'])),
                 len(fullvocab)
                 ))

In [72]:
#comptable.append(('# synsets',
#                 len(set(vgregdf['syn'])),
#                 len(set(vgreg_submn['syn'])),
#                 len(set(fulldf['syn']))
#                 ))

In [73]:
comptable.append(('av. annotations/object',
                  len(codf['region_id'])/len(set(codf['region_id'])),
                  len(fldf['region_id'])/len(set(fldf['region_id'])),
                 len(vgregdf['object_id'])/len(set(vgregdf['object_id'])),
                 len(vgreg_submn['object_id'])/len(set(vgreg_submn['object_id'])),
                 np.mean(fulldf['ntokens'])
                 ))

In [74]:
comptable.append(('% objects with n types > 1',
                  len(aggdf_co.query('ntypes > 1'))/len(aggdf_co),
                  len(aggdf_fl.query('ntypes > 1'))/len(aggdf_fl),
                 len(aggdf.query('ntypes > 1'))/len(aggdf),
                 len(aggdf_sub.query('ntypes > 1'))/len(aggdf_sub),
                 len(fulldf.query('ntypes > 1'))/len(fulldf)
                 ))

In [75]:
comptable.append(('av. types/object',
                  np.mean(aggdf_co['ntypes']),
                  np.mean(aggdf_fl['ntypes']),
                 np.mean(aggdf['ntypes']),
                 np.mean(aggdf_sub['ntypes']),
                 np.mean(fulldf['ntypes'])
                 ))

In [76]:
odf = pd.DataFrame(comptable,columns=['..','RefCoco','Flickr30k','VG','VGmn','MN'])
odf

,..,RefCoco,Flickr30k,VG,VGmn,MN
0,# objects,"50,000.00","243,801.00","3,781,232.00","25,315.00","25,315.00"
1,vocab size,"5,004.00","10,423.00","105,441.00","1,061.00","7,970.00"
2,av. annotations/object,2.84,2.30,1.69,7.22,35.30
3,% objects with n types > 1,0.68,0.29,0.05,0.05,0.93
4,av. types/object,1.88,1.38,1.08,1.08,5.70

In [77]:
print(odf.to_latex(index=False))

\begin{tabular}{lrrrrr}
\toprule
                         .. &   RefCoco &  Flickr30k &           VG &      VGmn &        MN \\
\midrule
                  \# objects & 50,000.00 & 243,801.00 & 3,781,232.00 & 25,315.00 & 25,315.00 \\
                 vocab size &  5,004.00 &  10,423.00 &   105,441.00 &  1,061.00 &  7,970.00 \\
     av. annotations/object &      2.84 &       2.30 &         1.69 &      7.22 &     35.30 \\
 \% objects with n types > 1 &      0.68 &       0.29 &         0.05 &      0.05 &      0.93 \\
           av. types/object &      1.88 &       1.38 &         1.08 &      1.08 &      5.70 \\
\bottomrule
\end{tabular}

In [78]:
def interfering_objects(fulldf, vgobjdf, iou_threshold=0.0, use_mn=True):
    overlaps = []
    print(len(fulldf))
    #fulldf = fulldf[fulldf.vg_domain.apply(lambda d: d not in domain_blacklist)]
    #print(len(fulldf))
    for n, trial in fulldf.iterrows():
        imgid = trial['vg_img_id']
        bb_test = trial['bb']
        name_test = trial['vg_obj_name']

        tempdf = vgobjdf[vgobjdf.image_id == imgid]
        for n, obj in tempdf.iterrows():
            #print(obj['name'], obj['bb'])
            o_name = obj['name']
            o_iou = iou(bb_test, obj['bb'])
            if trial['obj_id'] != obj['obj_id'] and \
                o_iou > iou_threshold:
                if (o_name in trial['spellchecked'] and use_mn) or (not use_mn):
                    overlaps.append((imgid, trial['obj_id'], obj['obj_id'], name_test, o_name, 
                                bb_test, obj['bb'], trial['spellchecked'],o_iou))
    return overlaps

def iou(box_a, box_b):
    # (x,y) coordinates of intersection
    xa = max(box_a[0], box_b[0])
    ya = max(box_a[1], box_b[1])
    xb = min(box_a[2], box_b[2])
    yb = min(box_a[3], box_b[3])
    
    # compute the area of intersection rectangle
    intersect = max(0, xb - xa + 1) * max(0, yb - ya + 1)
 
    # total area of both bbs
    area_a = (box_a[2] - box_a[0] + 1) * (box_a[3] - box_a[1] + 1)
    area_b = (box_b[2] - box_b[0] + 1) * (box_b[3] - box_b[1] + 1)
 
    #failsafe for no overlap
    if intersect == 0:
        return 0
    
    return intersect / (area_a + area_b - intersect)

In [79]:
overlist = interfering_objects(fulldf,vgobjdf,iou_threshold=0.6)

25315

In [80]:
overlist2 = interfering_objects(fulldf,vgobjdf,iou_threshold=0.6,use_mn=False)

25315

In [81]:
len(overlist)

12772

In [82]:
len(overlist2)

19396

In [84]:
vgimdf = pd.read_json(pref+'dsg-vision/Preproc/PreprocOut/vgobjdf.json.gz', orient='split')

In [85]:
infdf = pd.DataFrame(overlist, columns='img_id obj_id_a obj_id_b name_a name_b bb_a bb_b spellchecked iou'.split())

In [86]:
infdf.query('iou < 0.70')

,img_id,obj_id_a,obj_id_b,name_a,name_b,bb_a,bb_b,spellchecked,iou
0,2361401,2363103,1840452,giraffe,giraffe,"[8, 0, 314, 324]","[5, 54, 319, 401]",{'giraffe': 36},0.66
2,2322791,3054703,3337618,bridge,bridge,"[1, 79, 497, 132]","[4, 80, 493, 115]",{'bridge': 35},0.66
5,2315498,2898470,3963468,train,train,"[42, 123, 422, 180]","[47, 117, 413, 207]","{'train': 34, 'sub train': 1, 'vehicle': 1}",0.62
11,2415935,3077264,3457730,train,train,"[0, 67, 497, 183]","[96, 66, 402, 185]","{'train': 31, 'poles': 1, 'platform': 1, 'pill...",0.61
13,2319978,3393197,3419208,airplane,plane,"[3, 24, 451, 226]","[24, 56, 407, 247]","{'airplane': 18, 'plane': 15, 'jet': 2, 'jet p...",0.66
21,2400531,408133,3817999,boy,person,"[119, 26, 155, 311]","[113, 11, 159, 259]","{'skater': 10, 'person': 3, 'man': 4, 'skatebo...",0.64
22,2400531,408133,3818003,boy,man,"[119, 26, 155, 311]","[113, 10, 158, 259]","{'skater': 10, 'person': 3, 'man': 4, 'skatebo...",0.64
26,2368995,3064092,2310507,aircraft,plane,"[3, 103, 437, 146]","[0, 111, 500, 141]","{'airplane': 21, 'plane': 13, 'jet': 1}",0.64
28,2368995,3064092,3865864,aircraft,plane,"[3, 103, 437, 146]","[1, 87, 480, 145]","{'airplane': 21, 'plane': 13, 'jet': 1}",0.65
29,2368995,3064092,3497864,aircraft,plane,"[3, 103, 437, 146]","[2, 99, 497, 159]","{'airplane': 21, 'plane': 13, 'jet': 1}",0.63
31,2415732,2949788,2774717,bull,steer,"[29, 42, 356, 368]","[38, 9, 333, 489]","{'cow': 21, 'bull': 12, 'animal': 1, 'oxen': 1...",0.63
32,2415732,2949788,3010887,bull,cow,"[29, 42, 356, 368]","[35, 0, 344, 490]","{'cow': 21, 'bull': 12, 'animal': 1, 'oxen': 1...",0.64
33,2415732,2949788,3627448,bull,steer,"[29, 42, 356, 368]","[39, 10, 367, 486]","{'cow': 21, 'bull': 12, 'animal': 1, 'oxen': 1...",0.65
34,2415732,2949788,2882328,bull,bull,"[29, 42, 356, 368]","[29, 6, 345, 493]","{'cow': 21, 'bull': 12, 'animal': 1, 'oxen': 1...",0.65
35,2415732,2949788,3627456,bull,bull,"[29, 42, 356, 368]","[43, 14, 365, 483]","{'cow': 21, 'bull': 12, 'animal': 1, 'oxen': 1...",0.66
37,2360732,2484817,2540140,couch,couch,"[8, 69, 142, 287]","[0, 112, 144, 261]","{'couch': 26, 'sofa': 8, 'furniture': 1}",0.65
38,2360732,2484817,2263838,couch,sofa,"[8, 69, 142, 287]","[0, 113, 146, 261]","{'couch': 26, 'sofa': 8, 'furniture': 1}",0.64
42,2319721,3228688,3385360,swan,duck,"[4, 61, 356, 265]","[52, 72, 315, 271]","{'bird': 11, 'swan': 6, 'duck': 15, 'goose': 3}",0.69
45,2319721,3228688,3612654,swan,swan,"[4, 61, 356, 265]","[43, 46, 285, 259]","{'bird': 11, 'swan': 6, 'duck': 15, 'goose': 3}",0.64
46,2329628,3363001,2895718,girl,girl,"[156, 75, 214, 255]","[147, 63, 233, 263]","{'woman': 14, 'tennis player': 9, 'person': 3,...",0.61
50,2363010,2047144,2405298,coat,jacket,"[67, 130, 337, 237]","[63, 142, 290, 229]","{'jacket': 30, 'coat': 5, 'ski jacket': 1}",0.67
57,2366058,1975398,2583171,motorbike,motorcycle,"[47, 4, 387, 320]","[80, 1, 315, 316]","{'motorcycle': 31, 'bike': 3, 'motorbike': 1, ...",0.68
66,2343823,2383792,3297630,zebra,zebra,"[118, 65, 260, 262]","[120, 59, 259, 193]","{'zebra': 33, 'animal': 2}",0.62
69,2361284,2068132,1833497,plane,plane,"[49, 31, 415, 220]","[57, 59, 422, 188]","{'airplane': 19, 'plane': 13, 'jet': 1, 'hydro...",0.66
71,2361284,2068132,2182976,plane,airplane,"[49, 31, 415, 220]","[66, 49, 382, 190]","{'airplane': 19, 'plane': 13, 'jet': 1, 'hydro...",0.65
72,2361726,779999,3753624,girl,woman,"[17, 59, 307, 440]","[54, 65, 252, 432]","{'woman': 28, 'lady': 1, 'girl': 2, 'shirt': 1...",0.66
86,2359157,1993176,2173612,duck,duck,"[48, 85, 352, 177]","[44, 72, 392, 193]","{'duck': 29, 'duckling': 3, 'bird': 2, 'dove':...",0.67
88,2359157,1993176,1968412,duck,duck,"[48, 85, 352, 177]","[59, 69, 342, 201]","{'duck': 29, 'duckling': 3, 'bird': 2, 'dove':...",0.66
91,2359157,1993176,2350033,duck,duck,"[48, 85, 352, 177]","[27, 78, 392, 202]","{'duck': 29, 'duckling': 3, 'bird': 2, 'dove':...",0.62
94,2338746,3088754,2663766,man,person,"[107, 50, 290, 275]","[91, 37, 314, 321]","{'man': 15, 'skater': 10, 'skateboarder': 8, '...",0.65
...,...,...,...,...,...,...,...,...,...
12662,2332977,3341578,3928144,giraffe,giraffe,"[87, 45, 282, 331]","[150, 33, 276, 341]",{'giraffe': 33},0.62
12664,2332977,3341578,3507160,giraffe,giraffe,"[87, 45, 282, 331]","[75, 31, 361, 344]",{'giraffe': 33},0.62
12674,2366257,1978971,2009690,airplane,plane,"[34, 102, 465, 132]","[38, 98, 452, 125]","{'plane': 13, 'airplane': 17, 'flight': 1, '74...",0.66
12680,2368195,2248645,3870380,guy,man,"[21, 12, 250, 374]","[34, 29, 259, 283]","{'man': 28, 'sofa': 1, 'shoe': 1, 'person': 4,...",0.65
12684,2367295,2223963,2285691,cat,cat,"[180, 31, 317, 323]","[153, 20, 342, 347]",{'cat': 33},0.65
12685,2334348,3162568,2914774,desk,table,"[1, 141, 495, 232]","[4, 159, 495, 215]","{'desk': 19, 'laptop': 3, 'table': 8, 'keyboar...",0.62
12690,2319504,3010637,3425913,cat,cat,"[57, 43, 270, 455]","[29, 54, 333, 440]",{'cat': 33},0.67
12691,2319504,3010637,3303350,cat,cat,"[57, 43, 270, 455]","[41, 55, 286, 364]",{'cat': 33},0.67
12692,2319504,3010637,3479940,cat,cat,"[57, 43, 270, 455]","[34, 79, 334, 408]",{'cat': 33},0.60
12695,2351804,2353151,3587001,giraffe,giraffe,"[119, 112, 318, 205]","[161, 103, 295, 209]","{'giraffe': 32, 'animal': 1}",0.62
12696,2351804,2353151,2095212,giraffe,giraffe,"[119, 112, 318, 205]","[130, 93, 342, 217]","{'giraffe': 32, 'animal': 1}",0.64
12697,2351804,2353151,2623376,giraffe,giraffe,"[119, 112, 318, 205]","[152, 92, 311, 223]","{'giraffe': 32, 'animal': 1}",0.60
12710,2328507,3338141,3394239,giraffe,giraffe,"[98, 41, 270, 270]","[117, 12, 255, 320]","{'giraffe': 31, 'animal': 1}",0.63
12711,2357973,2024419,1836580,bird,pigeon,"[84, 112, 222, 303]","[101, 119, 198, 286]","{'bird': 27, 'pigeon': 6}",0.62
12712,2357973,2024419,2006341,bird,pigeon,"[84, 112, 222, 303]","[74, 114, 258, 280]","{'bird': 27, 'pigeon': 6}",0.68
12730,2364521,1779147,1943004,giraffe,giraffe,"[33, 90, 231, 258]","[28, 69, 223, 312]","{'giraffe': 32, 'skydiving': 1, 'animal': 1}",0.66
12735,2321807,3158611,3072501,car,car,"[11, 106, 402, 244]","[25, 90, 380, 284]","{'car': 25, 'cat': 7, 'mirror': 1, 'vehicle': 1}",0.66
12736,2348412,2648152,1824310,dog,dog,"[14, 173, 251, 192]","[15, 164, 254, 193]","{'dog': 34, 'cup': 1}",0.66
12739,2372214,2644176,1873117,cow,cow,"[137, 22, 314, 294]","[118, 33, 381, 281]",{'cow': 34},0.63
12740,2372214,2644176,2504953,cow,cow,"[137, 22, 314, 294]","[107, 14, 346, 310]",{'cow': 34},0.68
12741,2372214,2644176,2181156,cow,cow,"[137, 22, 314, 294]","[123, 41, 350, 258]",{'cow': 34},0.65
12742,2335113,3406813,2847654,sheep,sheep,"[96, 61, 312, 247]","[59, 50, 360, 265]","{'sheep': 30, 'goat': 2, 'lamb': 1}",0.62
12745,2335113,3406813,3671732,sheep,sheep,"[96, 61, 312, 247]","[115, 74, 278, 240]","{'sheep': 30, 'goat': 2, 'lamb': 1}",0.67
12748,2316061,2978698,3214768,airplane,plane,"[98, 76, 400, 238]","[113, 61, 347, 262]","{'plane': 14, 'airplane': 18, 'wheel': 1, 'air...",0.65
12752,2360236,1701978,1767928,overpass,tracks,"[3, 47, 257, 215]","[0, 4, 274, 189]","{'bridge': 11, 'train': 20, 'tracks': 2, 'trai...",0.63
12753,2360236,1701978,3762239,overpass,bridge,"[3, 47, 257, 215]","[0, 40, 261, 164]","{'bridge': 11, 'train': 20, 'tracks': 2, 'trai...",0.66
12755,2319540,3220922,3511766,truck,truck,"[9, 51, 488, 269]","[15, 17, 453, 321]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.67
12756,2361075,2677906,3756981,guy,player,"[72, 45, 253, 377]","[28, 68, 243, 408]","{'man': 16, 'tennis player': 7, 'shoe': 2, 'pl...",0.66
12761,2354257,2279794,1756823,skateboarder,skateboarder,"[28, 46, 286, 240]","[19, 61, 255, 202]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.63
12763,2354257,2279794,2619163,skateboarder,man,"[28, 46, 286, 240]","[25, 62, 250, 214]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.67

In [87]:
def labeled_bbs(df, object_id):
    imgdf = df[df.obj_id_a==object_id]
    print(imgdf)
    bb_labels = []
    bb_labels.append((imgdf.iloc[0].bb_a, (str(object_id)+":"+imgdf.iloc[0].name_a, 'g')))
    for n, row in imgdf.iterrows():
        bb_labels.append((row.bb_b, (str(row.obj_id_b) +":"+row.name_b,'r')))
    print(bb_labels)
    return bb_labels

In [88]:
index = 91
row = infdf.iloc[index]
plot_labelled_bb(vgpath+str(row.img_id)+'.jpg', labeled_bbs(infdf, row.obj_id_a))

NameError: name 'vgpath' is not defined

In [ ]:
iou([42, 123, 422, 180],[47, 117, 413, 207])

In [ ]:
overlist[:200]

In [150]:
infdf2 = pd.DataFrame(overlist2, columns='img_id obj_id_a obj_id_b name_a name_b bb_a bb_b spellchecked iou'.split())

In [167]:
infdf2

,img_id,obj_id_a,obj_id_b,name_a,name_b,bb_a,bb_b,spellchecked,iou
0,2378759,1365136,1365158,jacket,boy,"[0, 215, 171, 285]","[11, 197, 180, 300]","{'jacket': 14, 'sweatshirt': 4, 'man': 11, 'ho...",0.62
1,2319953,3089834,3168331,giraffe,giraffes,"[101, 132, 191, 265]","[103, 130, 191, 267]","{'giraffe': 32, 'woman': 1}",0.95
2,2361401,2363103,1840452,giraffe,giraffe,"[8, 0, 314, 324]","[5, 54, 319, 401]",{'giraffe': 36},0.66
3,2361401,2363103,3755160,giraffe,tree,"[8, 0, 314, 324]","[1, 2, 317, 236]",{'giraffe': 36},0.71
4,2361401,2363103,2328587,giraffe,giraffe,"[8, 0, 314, 324]","[11, 45, 321, 342]",{'giraffe': 36},0.79
5,2361401,2363103,2146272,giraffe,tree,"[8, 0, 314, 324]","[16, 0, 313, 350]",{'giraffe': 36},0.90
6,2361401,2363103,2079488,giraffe,giraffes,"[8, 0, 314, 324]","[21, 46, 303, 401]",{'giraffe': 36},0.65
7,2406452,1101992,1101991,bed,comforter,"[0, 174, 499, 200]","[0, 173, 499, 202]","{'bed': 33, 'mattress': 1}",0.90
8,2322791,3054703,3337618,bridge,bridge,"[1, 79, 497, 132]","[4, 80, 493, 115]",{'bridge': 35},0.66
9,2394825,460665,460648,salad,dressing,"[50, 55, 346, 233]","[51, 57, 347, 232]","{'salad': 17, 'vegetables': 4, 'dinner': 1, 'f...",0.98
10,2370207,3859762,2363669,cat,cat,"[115, 42, 266, 267]","[119, 42, 240, 250]",{'cat': 36},0.74
11,2370207,3859762,2437493,cat,cat's,"[115, 42, 266, 267]","[111, 43, 250, 250]",{'cat': 36},0.80
12,2370207,3859762,2264328,cat,cat,"[115, 42, 266, 267]","[109, 50, 265, 238]",{'cat': 36},0.80
13,2350004,3595788,2286017,bird,vulture,"[58, 162, 366, 260]","[59, 164, 365, 257]","{'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1}",0.94
14,2350004,3595788,2385747,bird,black cap,"[58, 162, 366, 260]","[57, 156, 363, 267]","{'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1}",0.87
15,2350004,3595788,2681429,bird,long beak,"[58, 162, 366, 260]","[72, 128, 373, 250]","{'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1}",0.63
16,2350004,3595788,2346210,bird,vulture,"[58, 162, 366, 260]","[66, 154, 362, 279]","{'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1}",0.76
17,2411079,316928,316939,tub,poles,"[0, 0, 290, 132]","[0, 12, 258, 171]","{'bathtub': 16, 'tub': 10, 'fence': 1, 'dog': ...",0.64
18,2315498,2898470,3963468,train,train,"[42, 123, 422, 180]","[47, 117, 413, 207]","{'train': 34, 'sub train': 1, 'vehicle': 1}",0.62
19,2351178,2398820,2218813,car,truck,"[18, 58, 408, 424]","[26, 82, 403, 410]","{'truck': 28, 'car': 3, 'pickup truck': 2, 'su...",0.87
20,2351178,2398820,2676718,car,footprints,"[18, 58, 408, 424]","[1, 1, 456, 495]","{'truck': 28, 'car': 3, 'pickup truck': 2, 'su...",0.64
21,2351178,2398820,3898280,car,car,"[18, 58, 408, 424]","[26, 92, 397, 380]","{'truck': 28, 'car': 3, 'pickup truck': 2, 'su...",0.75
22,2351178,2398820,1714657,car,sand,"[18, 58, 408, 424]","[1, 3, 454, 494]","{'truck': 28, 'car': 3, 'pickup truck': 2, 'su...",0.64
23,497913,1572015,1572022,dog,dog,"[125, 144, 830, 468]","[171, 150, 762, 468]","{'dog': 35, 't-shirt': 1}",0.82
24,497913,1572015,3794976,dog,dog,"[125, 144, 830, 468]","[169, 131, 759, 458]","{'dog': 35, 't-shirt': 1}",0.79
25,497913,1572015,1572023,dog,frisbee,"[125, 144, 830, 468]","[175, 109, 738, 481]","{'dog': 35, 't-shirt': 1}",0.71
26,2325833,984753,984763,cake,icing,"[136, 130, 223, 192]","[138, 137, 234, 185]","{'cake': 34, 'food': 1, 'knife': 1}",0.69
27,2348438,2611725,1734199,child,girl,"[141, 159, 212, 255]","[148, 167, 206, 250]","{'child': 10, 'girl': 18, 'kid': 2, 'young gir...",0.71
28,2415935,3077264,3457730,train,train,"[0, 67, 497, 183]","[96, 66, 402, 185]","{'train': 31, 'poles': 1, 'platform': 1, 'pill...",0.61
29,2415935,3077264,3050489,train,subway train,"[0, 67, 497, 183]","[26, 65, 473, 184]","{'train': 31, 'poles': 1, 'platform': 1, 'pill...",0.88
...,...,...,...,...,...,...,...,...,...
19366,2321498,3048384,3334897,lady,woman,"[29, 79, 131, 412]","[26, 78, 137, 413]","{'girl': 9, 'mother': 1, 'person': 3, 'shirt':...",0.91
19367,2321498,3048384,2883166,lady,person,"[29, 79, 131, 412]","[18, 72, 153, 423]","{'girl': 9, 'mother': 1, 'person': 3, 'shirt':...",0.72
19368,2360236,1701978,1767928,overpass,tracks,"[3, 47, 257, 215]","[0, 4, 274, 189]","{'bridge': 11, 'train': 20, 'tracks': 2, 'trai...",0.63
19369,2360236,1701978,3762239,overpass,bridge,"[3, 47, 257, 215]","[0, 40, 261, 164]","{'bridge': 11, 'train': 20, 'tracks': 2, 'trai...",0.66
19370,2337552,957263,957266,batter,dirt,"[1, 2, 235, 368]","[2, 1, 256, 498]","{'shoe': 4, 'bat': 4, 'athlete': 1, 'guy': 1, ...",0.67
19371,2319540,3220922,2842304,truck,truck,"[9, 51, 488, 269]","[16, 39, 469, 295]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.81
19372,2319540,3220922,3264277,truck,pick up,"[9, 51, 488, 269]","[15, 64, 466, 257]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.83
19373,2319540,3220922,3030416,truck,pick up,"[9, 51, 488, 269]","[6, 22, 484, 311]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.75
19374,2319540,3220922,3511766,truck,truck,"[9, 51, 488, 269]","[15, 17, 453, 321]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.67
19375,2319540,3220922,3620744,truck,ground,"[9, 51, 488, 269]","[0, 15, 498, 356]","{'truck': 28, 'car': 5, 'tyre': 1, 'pickup': 1...",0.62
19376,2361075,2677906,3756981,guy,player,"[72, 45, 253, 377]","[28, 68, 243, 408]","{'man': 16, 'tennis player': 7, 'shoe': 2, 'pl...",0.66
19377,2361075,2677906,3756986,guy,man,"[72, 45, 253, 377]","[67, 71, 224, 377]","{'man': 16, 'tennis player': 7, 'shoe': 2, 'pl...",0.76
19378,2361075,2677906,3756987,guy,man,"[72, 45, 253, 377]","[68, 55, 243, 395]","{'man': 16, 'tennis player': 7, 'shoe': 2, 'pl...",0.85
19379,2354257,2279794,1723269,skateboarder,man,"[28, 46, 286, 240]","[17, 56, 265, 230]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.79
19380,2354257,2279794,2609595,skateboarder,man,"[28, 46, 286, 240]","[10, 60, 263, 246]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.77
19381,2354257,2279794,1756823,skateboarder,skateboarder,"[28, 46, 286, 240]","[19, 61, 255, 202]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.63
19382,2354257,2279794,2164042,skateboarder,skateboarder,"[28, 46, 286, 240]","[11, 57, 268, 230]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.78
19383,2354257,2279794,2619163,skateboarder,man,"[28, 46, 286, 240]","[25, 62, 250, 214]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.67
19384,2354257,2279794,3573839,skateboarder,person,"[28, 46, 286, 240]","[20, 55, 261, 200]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.66
19385,2354257,2279794,2062767,skateboarder,man,"[28, 46, 286, 240]","[8, 59, 294, 230]","{'skater': 11, 'man': 5, 'skateboarder': 14, '...",0.81
19386,2341410,3655447,3107831,bird,bird,"[116, 63, 332, 229]","[128, 70, 312, 215]","{'bird': 31, 'sparrow': 2, 'kiwi': 1}",0.75
19387,2341410,3655447,2891653,bird,bird,"[116, 63, 332, 229]","[117, 61, 353, 221]","{'bird': 31, 'sparrow': 2, 'kiwi': 1}",0.86
19388,2341410,3655447,3216598,bird,bird,"[116, 63, 332, 229]","[103, 50, 325, 259]","{'bird': 31, 'sparrow': 2, 'kiwi': 1}",0.73
19389,2341410,3655447,2885942,bird,snow,"[116, 63, 332, 229]","[126, 67, 315, 225]","{'bird': 31, 'sparrow': 2, 'kiwi': 1}",0.83
19390,2341410,3655447,2629307,bird,bird,"[116, 63, 332, 229]","[101, 45, 293, 228]","{'bird': 31, 'sparrow': 2, 'kiwi': 1}",0.70
19391,2333647,3369957,3520244,truck,van,"[31, 20, 435, 326]","[36, 24, 423, 314]","{'car': 10, 'truck': 19, 'wheel': 1, 'suv': 2,...",0.91
19392,2318900,2822796,3172461,table,cloth,"[13, 10, 383, 347]","[2, 0, 495, 375]","{'table': 26, 'snacks': 1, 'plate': 1, 'dining...",0.68
19393,2318900,2822796,3649210,table,table,"[13, 10, 383, 347]","[1, 4, 487, 370]","{'table': 26, 'snacks': 1, 'plate': 1, 'dining...",0.70
19394,2318900,2822796,3103903,table,table,"[13, 10, 383, 347]","[0, 0, 370, 372]","{'table': 26, 'snacks': 1, 'plate': 1, 'dining...",0.85
19395,2412616,3803835,190523,aircraft,plane,"[60, 57, 368, 143]","[29, 66, 404, 137]","{'plane': 11, 'airplane': 22, 'jet': 3}",0.70

In [207]:
index = 13
row = infdf2.iloc[index]
plot_labelled_bb(vgpath+str(row.img_id)+'.jpg', labeled_bbs(infdf2, row.obj_id_a),omode="img",opath="vulture.png")
labeled_bbs_regions(infdf2,vgregdf,reg2df,row.obj_id_a)

     img_id  obj_id_a  obj_id_b name_a     name_b                 bb_a  \
13  2350004   3595788   2286017   bird    vulture  [58, 162, 366, 260]
14  2350004   3595788   2385747   bird  black cap  [58, 162, 366, 260]
15  2350004   3595788   2681429   bird  long beak  [58, 162, 366, 260]
16  2350004   3595788   2346210   bird    vulture  [58, 162, 366, 260]

                   bb_b                                   spellchecked  iou
13  [59, 164, 365, 257]  {'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1} 0.94
14  [57, 156, 363, 267]  {'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1} 0.87
15  [72, 128, 373, 250]  {'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1} 0.63
16  [66, 154, 362, 279]  {'bird': 32, 'crow': 1, 'owl': 1, 'eagle': 1} 0.76
[([58, 162, 366, 260], ('3595788:bird', 'g')), ([59, 164, 365, 257], ('2286017:vulture', 'r')), ([57, 156, 363, 267], ('2385747:black cap', 'r')), ([72, 128, 373, 250], ('2681429:long beak', 'r')), ([66, 154, 362, 279], ('2346210:vulture', 'r'))]

([([58, 162, 366, 260], (3595788, 'g')),
  ([59, 164, 365, 257], (2286017, 'r')),
  ([57, 156, 363, 267], (2385747, 'r')),
  ([72, 128, 373, 250], (2681429, 'r')),
  ([66, 154, 362, 279], (2346210, 'r'))],
 {3595788: [['the bird is black in color'],
   ['nose of the bird'],
   ['a bird relaxing in stand'],
   ['small white beak of bird'],
   ['large black talon of bird'],
   ['a bird on a green pole'],
   ['a green bar under bird'],
   ['Black bird on green rail'],
   ['small black eye of bird']],
  2286017: [['large black vulture on fence'], ['a vulture on bar']],
  2385747: [['small white beak of bird']],
  2681429: [['a semi long beak']],
  2346210: [['a black and gray vulture']]})

In [189]:
def labeled_bbs_regions(df, df2, df3, object_id):
    imgdf = df[df.obj_id_a==object_id]
    #print(imgdf)
    bb_labels = []
    bb_labels.append((imgdf.iloc[0].bb_a, (imgdf.iloc[0].obj_id_a, 'g')))
    for n, row in imgdf.iterrows():
        bb_labels.append((row.bb_b, (row.obj_id_b,'r')))
    #print(bb_labels)
    
    obj2regions = {}
    for o in [imgdf.iloc[0].obj_id_a] + list(imgdf.obj_id_b):
        objdf = df2.query('object_id == %d'%int(o))
        names = list(objdf.name)
        regions = list(objdf.region_id)
        obj2regions[o] = []
        for r in regions:
            rdf = df3.query('region_id == %s' %r)
            obj2regions[o].append(list(rdf.phrase))
    return bb_labels, obj2regions

In [160]:
aggdf.query('index == 2346210')

                name  ntoken  ntypes
object_id
2346210    [vulture]       1       1

In [161]:
vgregdf.query('object_id == 2346210')

         image_id  region_id  object_id     name         synsets           syn
4246903   2350004    3144796    2346210  vulture  [vulture.n.01]  vulture.n.01

In [169]:
reg2df = pd.read_json('/Volumes/SHK-Dropbox/dsg-vision/PreprocOut/vgregdf.json.gz', orient='split')

In [170]:
reg2df.head()

,i_corpus,image_id,coco_id,flickr_id,region_id,phrase,bb,rel_ids,rels,pphrase
0,5,1,nan,nan,1382,the clock is green in colour,"[421, 57, 82, 139]",None,None,None
1,5,1,nan,nan,1383,shade is along the street,"[194, 372, 182, 109]",[15927],"[[5045, ON, along.r.01, 5046]]",shade|5045|shade.n.01 is along the street|5046...
2,5,1,nan,nan,1384,man is wearing sneakers,"[241, 491, 61, 30]",[15928],"[[1058529, wears, wear.v.01, 5048]]",man|1058529|man.n.01 is wearing sneakers|5048|...
3,5,1,nan,nan,1385,cars headlights are off,"[617, 377, 36, 36]",[15929],"[[5049, has, have.v.01, 5050]]",
4,5,1,nan,nan,1386,bikes are parked at the far edge,"[322, 298, 41, 49]",None,None,None

In [213]:
reg2df.query('image_id == 2394825')

,i_corpus,image_id,coco_id,flickr_id,region_id,phrase,bb,rel_ids,rels,pphrase
1431925,5,2394825,"334,884.00","6,822,267,986.00",1004688,Green vegetables in a bowel,"[177, 113, 198, 128]","[1029592, 1029593]","[[460631, in a, in.r.01, 460632], [460633, in ...",
1431926,5,2394825,"334,884.00","6,822,267,986.00",1004689,Orange carrots in a bowel,"[131, 197, 105, 68]","[1029594, 1029595, 1029596]","[[460634, in a, in.r.01, 460632], [460633, in ...",
1431927,5,2394825,"334,884.00","6,822,267,986.00",1004690,Dates in a bowel,"[133, 76, 154, 67]","[1029597, 1029598, 1029599, 1029600, 1029601]","[[460636, in a, in.r.01, 460632], [460637, in ...",
1431928,5,2394825,"334,884.00","6,822,267,986.00",1004691,Salad in a bowel,"[98, 63, 275, 195]",[1029602],"[[460665, in a, in.r.01, 460632]]",
1431929,5,2394825,"334,884.00","6,822,267,986.00",1004692,White bowel on a table,"[55, 16, 372, 290]",[1029603],"[[460632, on a, along.r.01, 460642]]",
1431930,5,2394825,"334,884.00","6,822,267,986.00",1004693,Vegetables in a bowel,"[193, 62, 215, 189]","[1029604, 1029605]","[[460631, in a, in.r.01, 460632], [460633, in ...",
1431931,5,2394825,"334,884.00","6,822,267,986.00",1004694,Table with a bowel on it,"[16, 73, 195, 258]","[1029606, 1029607]","[[460632, on a, along.r.01, 460642], [460642, ...",
1431932,5,2394825,"334,884.00","6,822,267,986.00",1004695,Bowel full of food,"[63, 16, 357, 225]",None,None,None
1431933,5,2394825,"334,884.00","6,822,267,986.00",1004696,Cilantro on salad,"[101, 92, 323, 150]",[1029610],"[[460644, ON, along.r.01, 460665]]",Cilantro|460644|coriander.n.01 on salad|460665...
1431934,5,2394825,"334,884.00","6,822,267,986.00",1004697,Food on a table,"[84, 67, 355, 265]",[1029611],"[[460632, on a, along.r.01, 460642]]",Food|460632|food.n.01 on a table|460642|table....
1431935,5,2394825,"334,884.00","6,822,267,986.00",1004698,a bowl of salad,"[22, 10, 410, 287]",[1029612],"[[460632, OF, None, 460665]]",a bowl|460632|bowl.n.01 of salad|460665|salad....
1431936,5,2394825,"334,884.00","6,822,267,986.00",1004699,the bowl is white,"[68, 30, 421, 280]",None,None,None
1431937,5,2394825,"334,884.00","6,822,267,986.00",1004700,bowl on the table,"[82, 27, 339, 274]",[1029613],"[[460632, ON, along.r.01, 460642]]",bowl|460632|bowl.n.01 on the table|460642|tabl...
1431938,5,2394825,"334,884.00","6,822,267,986.00",1004701,the table is brown,"[2, 27, 50, 205]",None,None,None
1431939,5,2394825,"334,884.00","6,822,267,986.00",1004702,the aragula is green,"[178, 96, 188, 130]",None,None,None
1431940,5,2394825,"334,884.00","6,822,267,986.00",1004703,the beans are brown,"[110, 94, 95, 168]",None,None,None
1431941,5,2394825,"334,884.00","6,822,267,986.00",1004704,the salad has dressing,"[117, 82, 224, 173]",[1029614],"[[460665, has, have.v.01, 460648]]",
1431942,5,2394825,"334,884.00","6,822,267,986.00",1004705,the bowl is made of ceramic,"[36, 46, 383, 255]",None,None,None
1431943,5,2394825,"334,884.00","6,822,267,986.00",1004706,the table is made of wood,"[25, 39, 27, 126]",[1029616],"[[460642, made of, make.v.01, 460649]]",the table|460642|table.n.02 is made of wood|46...
1431944,5,2394825,"334,884.00","6,822,267,986.00",1004707,a chopped bullion is green,"[308, 82, 74, 72]",None,None,None
1431945,5,2394825,"334,884.00","6,822,267,986.00",1004708,MIXED SALAD,"[5, 37, 456, 260]",None,None,None
1431946,5,2394825,"334,884.00","6,822,267,986.00",1004709,MIXED SALAD TOSSED IN A WHITE BOWL,"[22, 28, 467, 287]",[1029617],"[[460665, tossed in a, discard.v.01, 460632]]",
1431947,5,2394825,"334,884.00","6,822,267,986.00",1004710,TOSSED SALAD IN A WHITE BOWL SITTING ON A WOOD...,"[6, 9, 485, 264]","[1029619, 1029620]","[[460665, in a, in.r.01, 460632], [460632, sit...",TOSSED SALAD|460665|salad.n.01 IN A WHITE BOWL...
1431948,5,2394825,"334,884.00","6,822,267,986.00",1004711,CHOPPED CARROTS,"[119, 209, 130, 78]",None,None,None
1431949,5,2394825,"334,884.00","6,822,267,986.00",1004712,CHOPPED GREENS,"[199, 112, 155, 134]",None,None,None
1431950,5,2394825,"334,884.00","6,822,267,986.00",1004713,WOODEN SURFACE,"[408, 130, 90, 202]",None,None,None
1431951,5,2394825,"334,884.00","6,822,267,986.00",1004714,WHITE BOWL,"[12, 44, 465, 274]",None,None,None
1431952,5,2394825,"334,884.00","6,822,267,986.00",1004715,CHOPPED SCALLIONS,"[305, 50, 116, 144]",None,None,None
1431953,5,2394825,"334,884.00","6,822,267,986.00",1004716,LIGHT GLARE REFLECTING OFF THE WOODEN SURFACE,"[28, 13, 97, 117]","[1029622, 1029623]","[[460653, reflecting off, away.r.01, 460654], ...",
1431954,5,2394825,"334,884.00","6,822,267,986.00",1004717,FINELY CHOPPED PARSLEY,"[163, 83, 201, 190]",None,None,None
1431955,5,2394825,"334,884.00","6,822,267,986.00",1004718,edge of a bowl,"[403, 228, 11, 14]",[1029624],"[[460658, of a, None, 460632]]",edge|460658|edge.n.01 of a bowl|460632|bowl.n.01
1431956,5,2394825,"334,884.00","6,822,267,986.00",1004720,top of a table,"[428, 282, 17, 35]",None,None,None
1431957,5,2394825,"334,884.00","6,822,267,986.00",1004721,part of a table,"[92, 307, 22, 17]",[1029627],"[[460660, of a, None, 460642]]",part|460660|part.n.01 of a table|460642|table...
1431958,5,2394825,"334,884.00","6,822,267,986.00",1004722,green food in a bowl,"[266, 186, 5, 22]",None,None,None
1431959,5,2394825,"334,884.00","6,822,267,986.00",1004723,part of a bean,"[253, 120, 1, 5]",None,None,None
1431960,5,2394825,"334,884.00","6,822,267,986.00",1004724,part of mixed food,"[266, 222, 17, 15]",[1029630],"[[460632, OF, None, 460665]]",part|460632|part.n.01 of mixed food|460665|foo...
1431961,5,2394825,"334,884.00","6,822,267,986.00",1004725,side of a bowl,"[358, 167, 52, 34]",[1029631],"[[460663, of a, None, 460632]]",side|460663|side.n.01 of a bowl|460632|bowl.n.01
1431962,5,2394825,"334,884.00","6,822,267,986.00",1004726,top of a table,"[69, 275, 17, 19]",[1029632],"[[460664, of a, None, 460642]]",
1431963,5,2394825,"334,884.00","6,822,267,986.00",1004727,food in a bowl,"[222, 108, 63, 115]",[1029633],"[[460665, in a, in.r.01, 460632]]",food|460665|food.n.01 in a bowl|460632|bowl.n.01
1431964,5,2394825,"334,884.00","6,822,267,986.00",1004728,bowl of food on table,"[15, 24, 387, 278]","[1029634, 1029635]","[[460632, OF, None, 460665], [460665, ON, alon...",bowl|460632|bowl.n.01 of food|460665|food.n.01...
1431965,5,2394825,"334,884.00","6,822,267,986.00",1004729,white bowl with food,"[39, 25, 387, 267]",[1029636],"[[460632, with, None, 460665]]",white bowl|460632|bowl.n.01 with food|460665|f...
1431966,5,2394825,"334,884.00","6,822,267,986.00",1004730,beans in white bowl,"[74, 58, 334, 212]","[1029637, 1029638, 1029639, 1029640]","[[460647, in a, in.r.01, 460632], [460638, in ...",beans|460647|bean.n.01|460638|bean.n.01|460666...
1431967,5,2394825,"334,884.00","6,822,267,986.00",1004731,green vegetable in bowl,"[122, 66, 297, 166]",[1029641],"[[460643, in a, in.r.01, 460632]]",green vegetable|460643|vegetable.n.01 in bowl|...
1431968,5,2394825,"334,884.00","6,822,267,986.00",1004732,orange vegetable in bowl,"[153, 77, 90, 199]",[1029642],"[[460633, in a, in.r.01, 460632]]",orange vegetable|460633|vegetable.n.01 in bowl...
1431969,5,2394825,"334,884.00","6,822,267,986.00",1004733,wood grain table top,"[387, 28, 102, 292]",[1029643],"[[460649, table, postpone.v.01, 460664]]",
1431970,5,2394825,"334,884.00","6,822,267,986.00",1004734,white vegetables in bowl,"[178, 116, 182, 175]",[1029644],"[[460643, in a, in.r.01, 460632]]",white vegetables|460643|vegetable.n.01 in bowl...
1431971,5,2394825,"334,884.00","6,822,267,986.00",1004735,light green vegetable in bowl,"[292, 66, 105, 82]",[1029645],"[[460657, in a, in.r.01, 460632]]",light green vegetable|460657|vegetable.n.01 in...
1431972,5,2394825,"334,884.00","6,822,267,986.00",1004736,red pieces on white vegetable,"[179, 226, 170, 67]",[1029646],"[[460668, ON, along.r.01, 460669]]",red pieces|460668|piece.n.01 on white vegetabl...
1431973,5,2394825,"334,884.00","6,822,267,986.00",1004737,dish made with beans,"[103, 69, 280, 188]",[1029647],"[[460632, made with, make.v.01, 460670]]",dish|460632|dish.n.01 made with beans|460670|b...

In [215]:
fldf = pd.read_json('/Volumes/SHK-Dropbox/dsg-vision/PreprocOut/refcoco_refdf.json.gz', orient='split')

In [218]:
fldf.query('region_id == 334884')

Empty DataFrame
Columns: [i_corpus, image_id, region_id, r_corpus, rex_id, refexp, tagged]
Index: []

In [217]:
fldf

,i_corpus,image_id,region_id,r_corpus,rex_id,refexp,tagged
0,1,581857,1719310,refcoco,0,the lady with the blue shirt,"[[the, DT], [lady, NN], [with, IN], [the, DT],..."
1,1,581857,1719310,refcoco,1,lady with back to us,"[[lady, NN], [with, IN], [back, NN], [to, TO],..."
2,1,581857,1719310,refcoco,2,blue shirt,"[[blue, JJ], [shirt, NN]]"
3,1,581857,463958,refcoco,3,woman in gray shirt facing camera on right,"[[woman, NN], [in, IN], [gray, JJ], [shirt, NN..."
4,1,581857,463958,refcoco,4,woman gray right,"[[woman, NN], [gray, NN], [right, NN]]"
5,1,581857,463958,refcoco,5,woman greyshirt right,"[[woman, NN], [greyshirt, NN], [right, NN]]"
6,1,581839,495152,refcoco,6,person standing u,"[[person, NN], [standing, VBG], [u, JJ]]"
7,1,581839,495152,refcoco,7,standing,"[[standing, VBG]]"
8,1,581839,495152,refcoco,8,middle standing up,"[[middle, NN], [standing, VBG], [up, RP]]"
9,1,581839,485695,refcoco,9,lady sitting on right,"[[lady, NN], [sitting, VBG], [on, IN], [right,..."
10,1,581839,485695,refcoco,10,right girl on floor,"[[right, RB], [girl, NN], [on, IN], [floor, NN]]"
11,1,581839,485695,refcoco,11,woman sitting on right,"[[woman, NN], [sitting, VBG], [on, IN], [right..."
12,1,581789,453177,refcoco,12,woman,"[[woman, NN]]"
13,1,581789,453177,refcoco,13,left person,"[[left, VBD], [person, NN]]"
14,1,581789,453177,refcoco,14,woman under suitcase,"[[woman, NN], [under, IN], [suitcase, NN]]"
15,1,581789,440706,refcoco,15,man in jacket,"[[man, NN], [in, IN], [jacket, NN]]"
16,1,581789,440706,refcoco,16,man trying to help with suitcase,"[[man, NN], [trying, VBG], [to, TO], [help, VB..."
17,1,581789,440706,refcoco,17,man,"[[man, NN]]"
18,1,581766,1097431,refcoco,18,left most toilet,"[[left, VBD], [most, JJS], [toilet, NN]]"
19,1,581766,1097431,refcoco,19,far left toilet,"[[far, RB], [left, JJ], [toilet, NN]]"
20,1,581766,1097431,refcoco,20,left urinal,"[[left, VBD], [urinal, JJ]]"
21,1,581766,1093269,refcoco,21,right stall,"[[right, RB], [stall, NN]]"
22,1,581766,1093269,refcoco,22,right urinal,"[[right, JJ], [urinal, JJ]]"
23,1,581766,1093269,refcoco,23,right urinal,"[[right, JJ], [urinal, JJ]]"
24,1,581739,1154905,refcoco,24,right vase,"[[right, JJ], [vase, NN]]"
25,1,581739,1154905,refcoco,25,right most vase,"[[right, RB], [most, JJS], [vase, NN]]"
26,1,581739,1152539,refcoco,26,middle vase,"[[middle, JJ], [vase, NN]]"
27,1,581739,1152539,refcoco,27,middle,"[[middle, NN]]"
28,1,581739,1152539,refcoco,28,center vase,"[[center, NN], [vase, NN]]"
29,1,581739,1151495,refcoco,29,left vase,"[[left, JJ], [vase, NN]]"
...,...,...,...,...,...,...,...
142180,1,144,595892,refcoco,142180,front giraffe,"[[front, NN], [giraffe, NN]]"
142181,1,144,595892,refcoco,142181,first giraffe,"[[first, RB], [giraffe, NN]]"
142182,1,113,1723247,refcoco,142182,lady cutting the cake,"[[lady, NN], [cutting, VBG], [the, DT], [cake,..."
142183,1,113,1723247,refcoco,142183,woman,"[[woman, NN]]"
142184,1,113,1723247,refcoco,142184,woman cutting the cake,"[[woman, NN], [cutting, VBG], [the, DT], [cake..."
142185,1,113,1723247,refcoco,142185,lady,"[[lady, NN]]"
142186,1,113,1207747,refcoco,142186,man on the right,"[[man, NN], [on, IN], [the, DT], [right, NN]]"
142187,1,113,1207747,refcoco,142187,person on the right,"[[person, NN], [on, IN], [the, DT], [right, NN]]"
142188,1,113,1207747,refcoco,142188,man on right side without head,"[[man, NN], [on, IN], [right, JJ], [side, NN],..."
142189,1,113,1207747,refcoco,142189,the guy in the background thats cut off,"[[the, DT], [guy, NN], [in, IN], [the, DT], [b..."
142190,1,113,1207747,refcoco,142190,guy on right half outta the pic,"[[guy, NN], [on, IN], [right, JJ], [half, NN],..."
142191,1,113,505536,refcoco,142191,man on left,"[[man, NN], [on, IN], [left, NN]]"
142192,1,113,505536,refcoco,142192,man left,"[[man, NN], [left, VBD]]"
142193,1,113,505536,refcoco,142193,left man,"[[left, VBN], [man, NN]]"
142194,1,110,1279416,refcoco,142194,girl in very center with red coat on chair,"[[girl, NN], [in, IN], [very, RB], [center, NN..."
142195,1,110,1279416,refcoco,142195,brown straight hair top center of pic,"[[brown, JJ], [straight, JJ], [hair, NN], [top..."
142196,1,110,1279416,refcoco,142196,long hair in back,"[[long, RB], [hair, NN], [in, IN], [back, NN]]"
142197,1,110,1220393,refcoco,142197,girl on left,"[[girl, NN], [on, IN], [left, NN]]"
142198,1,110,1220393,refcoco,142198,little girl on left,"[[little, JJ], [girl, NN], [on, IN], [left, NN]]"
142199,1,110,1210262,refcoco,142199,mom in blue shirt,"[[mom, NN], [in, IN], [blue, JJ], [shirt, NN]]"
142200,1,110,1210262,refcoco,142200,woman right,"[[woman, NN], [right, NN]]"
142201,1,110,1210262,refcoco,142201,woman,"[[woman, NN]]"
142202,1,110,1299043,refcoco,142202,leftmost lady showing her back in black shirt,"[[leftmost, NN], [lady, NN], [showing, VBG], [..."
142203,1,110,1299043,refcoco,142203,back of girl on far left,"[[back, RB], [of, IN], [girl, NN], [on, IN], [..."
142204,1,110,1299043,refcoco,142204,lady in left upper corner,"[[lady, NN], [in, IN], [left, JJ], [upper, JJ]..."
142205,1,72,600276,refcoco,142205,giraffe on left,"[[giraffe, NN], [on, IN], [left, NN]]"
142206,1,72,600276,refcoco,142206,left giraffe,"[[left, VBN], [giraffe, NN]]"
142207,1,72,600276,refcoco,142207,left giraffe,"[[left, VBN], [giraffe, NN]]"
142208,1,72,598731,refcoco,142208,right giraffe,"[[right, RB], [giraffe, NN]]"
142209,1,72,598731,refcoco,142209,right girafe,"[[right, RB], [girafe, NN]]"

In [212]:
fldf.head(300)

,caption_annotated,caption_raw,entities,i_corpus,image_id
0,[/EN#1/people Two young guys] with [/EN#2/body...,two young guys with shaggy hair look at their ...,"[1, 2, 3, 8]",8,1000092795
1,"[/EN#1/people Two young , White males] are out...","two young , white males are outside near many ...","[1, 4]",8,1000092795
2,[/EN#1/people Two men] in [/EN#5/clothing gree...,two men in green shirts are standing in a yard .,"[1, 5, 9]",8,1000092795
3,[/EN#6/people A man] in [/EN#7/clothing a blue...,a man in a blue shirt standing in a garden .,"[6, 7, 9]",8,1000092795
4,[/EN#1/people Two friends] enjoy [/EN#10/other...,two friends enjoy time spent together .,"[1, 10]",8,1000092795
5,[/EN#11/people Several men] in [/EN#12/clothin...,several men in hard hats are operating a giant...,"[11, 12, 13]",8,10002456
6,[/EN#11/people Workers] look down from [/EN#17...,workers look down from up above on a piece of ...,"[11, 17, 14]",8,10002456
7,[/EN#15/people Two men] working on [/EN#13/oth...,two men working on a machine wearing hard hats .,"[15, 13, 12]",8,10002456
8,[/EN#11/people Four men] on top of [/EN#14/oth...,four men on top of a tall structure .,"[11, 14]",8,10002456
9,[/EN#16/people Three men] on [/EN#13/other a l...,three men on a large rig .,"[16, 13]",8,10002456
10,[/EN#18/people A child] in [/EN#19/clothing a ...,a child in a pink dress is climbing up a set o...,"[18, 19, 20, 23]",8,1000268201
11,[/EN#18/people A little girl] in [/EN#19/cloth...,a little girl in a pink dress going into a woo...,"[18, 19, 21]",8,1000268201
12,[/EN#18/people A little girl] climbing [/EN#20...,a little girl climbing the stairs to her playh...,"[18, 20, 22]",8,1000268201
13,[/EN#18/people A little girl] climbing into [/...,a little girl climbing into a wooden playhouse .,"[18, 22]",8,1000268201
14,[/EN#18/people A girl] going into [/EN#21/scen...,a girl going into a wooden building .,"[18, 21]",8,1000268201
15,[/EN#24/people Someone] in [/EN#25/clothing a ...,someone in a blue shirt and hat is standing on...,"[24, 25, 28, 26, 27]",8,1000344755
16,[/EN#24/people A man] in [/EN#25/clothing a bl...,a man in a blue shirt is standing on a ladder ...,"[24, 25, 26, 27]",8,1000344755
17,[/EN#24/people A man] on [/EN#26/other a ladde...,a man on a ladder cleans the window of a tall ...,"[24, 26, 27]",8,1000344755
18,[/EN#24/people man] in [/EN#25/clothing blue s...,man in blue shirt and jeans on ladder cleaning...,"[24, 25, 29, 26, 27]",8,1000344755
19,[/EN#24/people a man] on [/EN#26/other a ladde...,a man on a ladder cleans a window,"[24, 26, 27]",8,1000344755
20,"[/EN#30/people Two men] , [/EN#31/other one] i...","two men , one in a gray shirt , one in a black...","[30, 31, 32, 33, 34, 35]",8,1000366164
21,[/EN#30/people Two guy] cooking and joking aro...,two guy cooking and joking around with the cam...,"[30, 0]",8,1000366164
22,[/EN#30/people Two men] in [/EN#37/scene a kit...,two men in a kitchen cooking food on a stove .,"[30, 37, 36, 35]",8,1000366164
23,[/EN#30/people Two men] are at [/EN#35/other t...,two men are at the stove preparing food .,"[30, 35, 36]",8,1000366164
24,[/EN#30/people Two men] are cooking [/EN#36/ot...,two men are cooking a meal .,"[30, 36]",8,1000366164
25,[/EN#39/people Two people] in [/EN#45/other th...,two people in the photo are playing the guitar...,"[39, 45, 40, 41, 0]",8,1000523639
26,[/EN#42/people A man] in [/EN#43/clothing gree...,a man in green holds a guitar while the other ...,"[42, 43, 40, 41, 43]",8,1000523639
27,[/EN#41/people A man] is fixing [/EN#43/clothi...,a man is fixing the guitar players costume .,"[41, 43]",8,1000523639
28,[/EN#41/people a guy] stitching up [/EN#43/clo...,a guy stitching up another man 's coat .,"[41, 43]",8,1000523639
29,[/EN#39/people the two boys] playing [/EN#40/i...,the two boys playing guitar,"[39, 40]",8,1000523639
...,...,...,...,...,...
270,[/EN#466/people A man] with [/EN#467/clothing ...,a man with a red jacket is shielding himself f...,"[466, 467, 0, 469, 470]",8,101471792
271,[/EN#466/people a man] wearing [/EN#467/clothi...,a man wearing a red coat is outside with his h...,"[466, 467, 471, 472, 469]",8,101471792
272,[/EN#466/people A man] in [/EN#467/clothing a ...,a man in a red jacket shades the sun from his ...,"[466, 467, 469, 468, 473]",8,101471792
273,[/EN#466/people An elderly man] in [/EN#467/cl...,an elderly man in a red jacket shielding his f...,"[466, 467, 468, 469]",8,101471792
274,[/EN#466/people Man] in [/EN#467/clothing red ...,man in red jacket shielding face from the sun ...,"[466, 467, 468, 469]",8,101471792
275,[/EN#474/people Two men] are carrying [/EN#475...,two men are carrying children on their backs d...,"[474, 475, 479, 476, 478, 480]",8,1014785440
276,"[/EN#474/people Two men] , [/EN#474/other each...","two men , each with a small child on their bac...","[474, 474, 475, 479, 481, 476]",8,1014785440
277,[/EN#474/people Two men] are out for [/EN#482/...,two men are out for a stroll with their two yo...,"[474, 482, 475]",8,1014785440
278,[/EN#474/people Men] walking down [/EN#476/sce...,men walking down a street with children .,"[474, 476, 475]",8,1014785440
279,[/EN#474/people Two men] walking with [/EN#475...,two men walking with children .,"[474, 475]",8,1014785440
280,[/EN#484/people Smiling boy] in [/EN#492/cloth...,smiling boy in white shirt and blue jeans in f...,"[484, 492, 491, 487, 485, 488, 0]",8,1015118661
281,[/EN#484/people A little boy] is standing on [...,a little boy is standing on the street while a...,"[484, 486, 485, 488, 487]",8,1015118661
282,[/EN#484/people A young child] is walking on [...,a young child is walking on a stone paved stre...,"[484, 486, 490, 485, 0]",8,1015118661
283,[/EN#484/people A boy] smiles in front of [/EN...,a boy smiles in front of a stony wall in a city .,"[484, 487, 489]",8,1015118661
284,[/EN#484/people A young boy] runs aross [/EN#4...,a young boy runs aross the street .,"[484, 486]",8,1015118661
285,[/EN#494/animals A mottled black and gray dog]...,a mottled black and gray dog in a blue collar ...,"[494, 497, 495]",8,1015584366
286,[/EN#494/animals A gray dog] is leaping over [...,a gray dog is leaping over a fallen tree .,"[494, 495]",8,1015584366
287,[/EN#494/animals A large black dog] leaps [/EN...,a large black dog leaps a fallen log .,"[494, 495]",8,1015584366
288,[/EN#493/animals The black dog] jumped [/EN#49...,the black dog jumped the tree stump .,"[493, 495]",8,1015584366
289,[/EN#493/animals A black dog] leaps over [/EN#...,a black dog leaps over a log .,"[493, 495]",8,1015584366
290,[/EN#498/people Men] in [/EN#499/clothing the ...,men in the business suits are crossing the str...,"[498, 499, 500, 0, 501, 502, 500]",8,101559400
291,[/EN#503/people A man] in [/EN#504/clothing a ...,a man in a suit runs across an intersection wh...,"[503, 504, 500, 505]",8,101559400
292,[/EN#503/people A man] in [/EN#504/clothing a ...,a man in a suit is running past two other gent...,"[503, 504, 506, 507]",8,101559400
293,[/EN#503/people A man] in [/EN#507/clothing a ...,a man in a suit is hurrying across the street .,"[503, 507, 500]",8,101559400
294,[/EN#503/people A man] in [/EN#507/clothing a ...,a man in a suit is running across the street .,"[503, 507, 500]",8,101559400
295,[/EN#510/people A man] in [/EN#514/clothing a ...,a man in a red long-sleeved shirt bikes over a...,"[510, 514, 512, 513]",8,1015712668
296,[/EN#510/people A man] riding [/EN#511/vehicle...,a man riding his bike across the bridge that i...,"[510, 511, 513, 0, 512]",8,1015712668
297,[/EN#510/people A man] in [/EN#515/clothing re...,a man in red on a bicycle rides past a glass s...,"[510, 515, 511, 516]",8,1015712668
298,[/EN#510/people Man] in [/EN#514/clothing a re...,man in a red shirt riding his bicycle around w...,"[510, 514, 511, 512]",8,1015712668
299,[/EN#510/people A man] in [/EN#514/clothing a ...,a man in a red shirt rides his bicycle .,"[510, 514, 511]",8,1015712668

In [172]:
vgregdf.query('image_id == 2350004')

,image_id,region_id,object_id,name,synsets,syn
4246870,2350004,3144758,2102358,wing,[wing.n.01],wing.n.01
4246871,2350004,3144759,3595788,bird,[bird.n.01],bird.n.01
4246872,2350004,3144761,2088281,fruits,[fruit.n.01],fruit.n.01
4246873,2350004,3144761,3595784,beak,[beak.n.01],beak.n.01
4246874,2350004,3144764,1950593,stand,[base.n.08],base.n.08
4246875,2350004,3144766,2426616,eye,[eye.n.01],eye.n.01
4246876,2350004,3144768,3595788,bird,[bird.n.01],bird.n.01
4246877,2350004,3144768,1725517,nose,[nose.n.01],nose.n.01
4246878,2350004,3144771,1688655,wall,[wall.n.01],wall.n.01
4246879,2350004,3144776,3595788,bird,[bird.n.01],bird.n.01
4246880,2350004,3144776,3595785,stand,[base.n.08],base.n.08
4246881,2350004,3144779,1731408,feathers,[feather.n.01],feather.n.01
4246882,2350004,3144779,1731409,bird,[bird.n.01],bird.n.01
4246883,2350004,3144780,2023546,head,[head.n.01],head.n.01
4246884,2350004,3144780,2023547,bird,[bird.n.01],bird.n.01
4246885,2350004,3144781,2286017,vulture,[vulture.n.01],vulture.n.01
4246886,2350004,3144781,2593995,fence,[fence.n.01],fence.n.01
4246887,2350004,3144782,2385747,black cap,[cap.n.01],cap.n.01
4246888,2350004,3144782,3595786,beak,[beak.n.01],beak.n.01
4246889,2350004,3144782,3595788,bird,[bird.n.01],bird.n.01
4246890,2350004,3144784,2465792,talon,[talon.n.01],talon.n.01
4246891,2350004,3144784,3595788,bird,[bird.n.01],bird.n.01
4246892,2350004,3144787,3595788,bird,[bird.n.01],bird.n.01
4246893,2350004,3144787,2003763,pole,[pole.n.01],pole.n.01
4246894,2350004,3144788,3595789,bar,[barroom.n.01],barroom.n.01
4246895,2350004,3144788,3595788,bird,[bird.n.01],bird.n.01
4246896,2350004,3144789,2286017,vulture,[vulture.n.01],vulture.n.01
4246897,2350004,3144789,3595789,bar,[barroom.n.01],barroom.n.01
4246898,2350004,3144791,2693290,talons,[talon.n.01],talon.n.01
4246899,2350004,3144791,3595790,foot,[foot.n.01],foot.n.01
4246900,2350004,3144791,3595791,foot,[foot.n.01],foot.n.01
4246901,2350004,3144792,2623873,tail feathers,[tail_feather.n.01],tail_feather.n.01
4246902,2350004,3144793,2681429,long beak,[beak.n.01],beak.n.01
4246903,2350004,3144796,2346210,vulture,[vulture.n.01],vulture.n.01
4246904,2350004,3144797,3595788,bird,[bird.n.01],bird.n.01
4246905,2350004,3144797,2352271,rail,[railing.n.01],railing.n.01
4246906,2350004,3144801,1980314,bird,[bird.n.01],bird.n.01
4246907,2350004,3144801,3595798,beak,[beak.n.01],beak.n.01
4246908,2350004,3144803,2548390,feathers,[feather.n.01],feather.n.01
4246909,2350004,3144804,3595788,bird,[bird.n.01],bird.n.01
4246910,2350004,3144804,1698674,eye,[eye.n.01],eye.n.01

In [162]:
vgregdf.query('region_id == 3144796')

         image_id  region_id  object_id     name         synsets           syn
4246903   2350004    3144796    2346210  vulture  [vulture.n.01]  vulture.n.01

In [ ]:
aggdf.query('index == 3595788')

In [97]:
vgpath = '/Volumes/data/Corpora/External/ImageCorpora/visualgenome-v1-2/images/VG_100K/'

In [80]:
syn2names = {s:Counter(vgobjdf.query('syn == "%s"'%s)['name'])
             for s in set(vgobjdf['syn'])}

In [ ]:
syn2names_sub = {s:Counter(vgobj_submn.query('syn == "%s"'%s)['name'])
             for s in set(vgobj_submn['syn'])}

In [ ]:
syn2names_mn = {s:Counter(fulldf.query('syn == "%s"'%s)['name'])
             for s in set(fulldf['syn'])}

In [237]:
for ix,row in vgobjdf.iterrows():
    if row.syn not in syn2names:
        syn2names[row.syn] = Counter()
    syn2names[row.syn][row['name']] += 1
    if row.obj_id in objcount_submn:
        if row.syn not in syn2names_submn:
            syn2names_submn[row.syn] = Counter()
        syn2names_submn[row.syn][row['name']] += 1
        
    #if ix > 10:
    #    break

In [240]:
print(len(syn2names),len(syn2names_submn))
print(len(syn2names_submn)/len(syn2names))

8079 374
0.04629285802698354

In [301]:
syncounts = [len(syn2names[s]) for s in syn2names]
syncounts_submn = [len(syn2names_submn[s]) for s in syn2names_submn]
syncounts_mn = [len(mn_syn2names[s]) for s in mn_syn2names]

print(np.mean(syncounts),np.mean(syncounts_submn), np.mean(syncounts_mn))

18.8013367991088 4.066844919786096 66.89304812834224

In [295]:
def most_common_prob(cdict):
    return cdict.most_common(1)[0][1]/sum(cdict.values())

In [296]:
most_common_prob(syn2names['gym_shoe.n.01'])

0.3794835007173601

In [297]:
syncounts = [most_common_prob(syn2names[s]) for s in syn2names]
syncounts_submn = [most_common_prob(syn2names_submn[s]) for s in syn2names_submn]
syncounts_mn = [most_common_prob(mn_syn2names[s]) for s in mn_syn2names]

print(np.mean(syncounts),np.mean(syncounts_submn),np.mean(syncounts_mn))

0.8521568877036819 0.9180085209340659 0.169166723608653

In [298]:
syncounts = [entropy(list(syn2names[s].values())) for s in syn2names]
syncounts_submn = [entropy(list(syn2names_submn[s].values())) for s in syn2names_submn]
syncounts_mn = [entropy(list(mn_syn2names[s].values())) for s in mn_syn2names]

print(np.mean(syncounts),np.mean(syncounts_submn),np.mean(syncounts_mn))

0.4161200145578544 0.23885260173492515 2.732391676377962

In [299]:
entropy([0.5,0.5])

0.6931471805599453

In [300]:
entropy([0.9,0.1])

0.3250829733914482

In [268]:
syn2names['car.n.01'].most_common()

[('car', 20110),
 ('cars', 2768),
 ('white car', 184),
 ('black car', 182),
 ('red car', 159),
 ('vehicle', 119),
 ('blue car', 94),
 ('automobile', 85),
 ('parked car', 60),
 ('parked cars', 41),
 ('yellow car', 39),
 ('grey car', 32),
 ('gray car', 28),
 ('green car', 28),
 ('sedan', 27),
 ('front car', 27),
 ('van', 26),
 ('suv', 25),
 ('truck', 24),
 ('two cars', 24),
 ('car parked', 24),
 ('vehicles', 17),
 ('small car', 15),
 ('automobiles', 15),
 ('dark car', 13),
 ('cars parked', 13),
 ('auto', 12),
 ('taxi', 11),
 ('train', 10),
 ('old car', 7),
 ('train car', 7),
 ('car is parked', 7),
 ('blue cars', 7),
 ('three cars', 6),
 ('second car', 6),
 ('cars are parked', 6),
 ('car is white', 6),
 ('car is black', 6),
 ('classic car', 6),
 ('antique car', 6),
 ('white cars', 5),
 ('silver cars', 5),
 ('compact car', 5),
 ('engine', 5),
 ('cart', 5),
 ('front', 5),
 ('vintage-model car', 5),
 ('this is a car', 5),
 ('car back', 5),
 ('silver car', 4),
 ('jeep', 4),
 ('rear', 4),
 ('car.', 4),
 ('third car', 4),
 ('front of car', 4),
 ('last car', 4),
 ('car handle', 4),
 ('car on street', 4),
 ('four cars', 4),
 ('brown car', 4),
 ("car's light", 4),
 ('car that is parked', 4),
 ('white', 3),
 ('driving cars', 3),
 ('cars driving', 3),
 ('minivan', 3),
 ('another car', 3),
 ('window', 3),
 ('car on a street', 3),
 ('line of cars', 3),
 ('toy', 3),
 ('cab', 3),
 ('lead car', 3),
 ('this', 3),
 ('rear car', 3),
 ('several cars', 3),
 ('back', 3),
 ('hatchback', 3),
 ('orange car', 3),
 ('rolling car', 3),
 ('row of cars', 2),
 ('silver', 2),
 ('vintage car', 2),
 ('trolly car', 2),
 ('car is behind', 2),
 ('wagon', 2),
 ('mercedes', 2),
 ('car on road', 2),
 ('lot', 2),
 ('side', 2),
 ('tire on a car', 2),
 ('there is a car', 2),
 ('car is not driving', 2),
 ('two cars parked', 2),
 ('multiple cars', 2),
 ('first car', 2),
 ('pickup', 2),
 ('bus', 2),
 ('sports car', 2),
 ('car remote', 2),
 ('convertible', 2),
 ('car on the tracks', 2),
 ("car's lights", 2),
 ('smart car', 2),
 ('traffic', 2),
 ('little car', 2),
 ('moving car', 2),
 ('black cars', 2),
 ('this car', 2),
 ('car is', 2),
 ('car on the street', 2),
 ('white car on street', 2),
 ('train cars', 2),
 ('blue parked car', 2),
 ('some cars', 2),
 ('open car', 2),
 ('individual car', 2),
 ('jovial car', 2),
 ("car's front", 2),
 ('red cars', 2),
 ('inside car', 2),
 ('red car parked', 2),
 ('armored car', 2),
 ('taxi is black', 2),
 ('grey car, parked.', 1),
 ('car is parked.', 1),
 ('curb  by car.', 1),
 ('there are cars.', 1),
 ('headlight on car.', 1),
 ('car has tail light.', 1),
 ('tail light on car.', 1),
 ('dirt', 1),
 ('bar', 1),
 ('4x4 truck', 1),
 ('there is a small car', 1),
 ("white car's", 1),
 ('other car', 1),
 ('hybrid', 1),
 ('sleek car', 1),
 ('station wagon', 1),
 ('black auto', 1),
 ('gray cars', 1),
 ('sudan', 1),
 ('old automobile', 1),
 ('cars are waiting', 1),
 ('white vehicle', 1),
 ('freight wagon', 1),
 ('locomotive car', 1),
 ('reflection of a car', 1),
 ('light of a car', 1),
 ('window on a car', 1),
 ('edge', 1),
 ('car behind a fence', 1),
 ('hoodie', 1),
 ('green hoodie', 1),
 ('child', 1),
 ('sweatshirt', 1),
 ('car portion', 1),
 ('honda', 1),
 ('parked', 1),
 ('black car parked', 1),
 ('car parked in front', 1),
 ('driver of a car', 1),
 ('roof', 1),
 ('hood', 1),
 ('pick up', 1),
 ('green truck', 1),
 ('pickup truck', 1),
 ('eat', 1),
 ('drive-up', 1),
 ('car is on the street', 1),
 ('cadillac', 1),
 ('ear', 1),
 ('road', 1),
 ('white car behind', 1),
 ('car behind bus', 1),
 ('passenger train', 1),
 ('subway', 1),
 ('cars in the street', 1),
 ('cars behind fence', 1),
 ('cars on the street', 1),
 ('mini van', 1),
 ('cars are two', 1),
 ('back of an open car', 1),
 ('cup on a car', 1),
 ('roof of car', 1),
 ('car parked on street', 1),
 ('black and yellow car', 1),
 ('car parked on side', 1),
 ('there are cars', 1),
 ('top of a car', 1),
 ('black car on street', 1),
 ('red colored cars', 1),
 ('dishwasher is auto', 1),
 ('dishwasher is old', 1),
 ('cars outside', 1),
 ('middle', 1),
 ('car with headlights', 1),
 ('dark', 1),
 ('green', 1),
 ('container', 1),
 ('few parked cars', 1),
 ('yellow vehicle', 1),
 ('is', 1),
 ('fourth car', 1),
 ('fifth car', 1),
 ('with cars', 1),
 ('city traffic', 1),
 ('of a car', 1),
 ('convertible car', 1),
 ('closed', 1),
 ('outside', 1),
 ('black car in front', 1),
 ('jeep truck', 1),
 ('on car', 1),
 ('trains', 1),
 ('safari jeep', 1),
 ('cars in the road', 1),
 ('suv has', 1),
 ('beige car', 1),
 ('group of cars', 1),
 ('there', 1),
 ('parking', 1),
 ('space', 1),
 ('red vehicle', 1),
 ('trunk of car', 1),
 ('delivery car', 1),
 ('last two cars', 1),
 ('traincar', 1),
 ('loading cars', 1),
 ('old truck', 1),
 ('rusted truck', 1),
 ('of car', 1),
 ('vehcile', 1),
 ('person', 1),
 ('mini-van', 1),
 ('volvo', 1),
 ('back of car', 1),
 ('vehicule', 1),
 ('bmw', 1),
 ('car train', 1),
 ('object', 1),
 ('police car', 1),
 ('station wago', 1),
 ('four door car', 1),
 ('lift', 1),
 ('containers', 1),
 ('tankers', 1),
 ('front end of car', 1),
 ('car shaped mouse', 1),
 ('cars are tankers', 1),
 ('tanker', 1),
 ('stack is on car', 1),
 ('car has door', 1),
 ('red', 1),
 ('car is on street', 1),
 ('street under cars', 1),
 ('cars are moving', 1),
 ('the', 1),
 ('picture', 1),
 ("car's", 1),
 ('brown and white car', 1),
 ('grey cars', 1),
 ('front of a car', 1),
 ('car in the shot', 1),
 ('lexus', 1),
 ('car on street is whi', 1),
 ('freight', 1),
 ('black and white cars', 1),
 ('car on left', 1),
 ('cars parked on side', 1),
 ('silver parked car', 1),
 ('cars back tire', 1),
 ('cars front tire', 1),
 ('three cars parked', 1),
 ('windshield', 1),
 ("driver's", 1),
 ('flatbed cars', 1),
 ('international autos', 1),
 ('car`s back', 1),
 ('cars heading', 1),
 ('train engine', 1),
 ('fence', 1),
 ('caboose', 1),
 ('volkswagen', 1),
 ('motorcar', 1),
 ('volkswagon', 1),
 ('crossover', 1),
 ('cargo', 1),
 ("car's trunk", 1),
 ('middle car', 1),
 ('box', 1),
 ('blurry car', 1),
 ('gray sedan', 1),
 ('dented car', 1),
 ('car twisted', 1),
 ('checkered car', 1),
 ('five cars', 1),
 ('mini cars', 1),
 ('row', 1),
 ('cars in line', 1),
 ('blurry cars', 1),
 ('car & bike show', 1),
 ('antique cars', 1),
 ('top', 1),
 ('cars in a row', 1),
 ('yukon', 1),
 ('side of car', 1),
 ('car waits for bus', 1),
 ('car driving', 1),
 ('sign over the cars', 1),
 ('over the cars', 1),
 ('big sign over cars', 1),
 ('windows on a car', 1),
 ('tag on a car', 1),
 ('car turning down', 1),
 ('white car parked', 1),
 ('subaru car', 1),
 ('subaru', 1),
 ('sportscar', 1),
 ('trees behind the car', 1),
 ('car is red', 1),
 ('car stopped', 1),
 ('[no] cars', 1),
 ('cars` blur', 1),
 ('other cars', 1),
 ('chair', 1),
 ('car parked behind', 1),
 ('car`s front', 1),
 ('tire on the car', 1),
 ('dark car driving', 1),
 ('purple car', 1),
 ('railway line', 1),
 ('neglected car', 1),
 ("car's head", 1),
 ('stacked cars', 1),
 ('front end', 1),
 ("cat's car", 1),
 ('car is green', 1),
 ('car interior', 1),
 ('someone near the car', 1),
 ('car is silver', 1),
 ('cars in lot', 1),
 ('lots of cars', 1),
 ('english car', 1),
 ('empty car', 1),
 ('colored car', 1),
 ("car's windshield", 1),
 ('wheel on a car', 1),
 ('mirror on a car', 1),
 ('older car', 1),
 ('family car', 1),
 ('car crossing', 1),
 ('front end of a car', 1),
 ('van is blue', 1),
 ('rollercoaster car', 1)]

In [267]:
mn_syn2names['car.n.01'].most_common()

[('car', 11307),
 ('train', 5539),
 ('truck', 1326),
 ('vehicle', 927),
 ('wheel', 502),
 ('mirror', 398),
 ('van', 309),
 ('bus', 223),
 ('train car', 191),
 ('suv', 146),
 ('automobile', 142),
 ('taxi', 79),
 ('jeep', 68),
 ('locomotive', 53),
 ('train engine', 52),
 ('window', 49),
 ('engine', 46),
 ('motorcycle', 46),
 ('meter', 42),
 ('dog', 39),
 ('cat', 36),
 ('police car', 35),
 ('door', 32),
 ('subway', 32),
 ('bike', 30),
 ('trolley', 30),
 ('dashboard', 30),
 ('tractor', 27),
 ('toilet', 27),
 ('sedan', 27),
 ('light', 27),
 ('cow', 25),
 ('tram', 24),
 ('caboose', 23),
 ('railcar', 21),
 ('hood', 21),
 ('woman', 20),
 ('t-shirt', 19),
 ('building', 19),
 ('windshield', 19),
 ('glass', 18),
 ('pickup truck', 16),
 ('wagon', 16),
 ('carriage', 16),
 ('tire', 16),
 ('pole', 15),
 ('boxcar', 15),
 ('pickup', 15),
 ('parking meter', 15),
 ('car mirror', 13),
 ('firetruck', 13),
 ('road', 13),
 ('shirt', 13),
 ('horse', 13),
 ('cart', 12),
 ('jacket', 12),
 ('trunk', 12),
 ('vehicles', 12),
 ('toy', 12),
 ('tow truck', 11),
 ('trailer', 11),
 ('tyre', 11),
 ('bird', 11),
 ('rearview mirror', 10),
 ('compartment', 10),
 ('bumper', 10),
 ('sign', 10),
 ('street', 10),
 ('track', 10),
 ('train cart', 10),
 ('station wagon', 9),
 ('headlight', 9),
 ('tolly', 9),
 ('man', 9),
 ('belt', 9),
 ('cycle', 9),
 ('shoe', 9),
 ('table', 9),
 ('train cars', 8),
 ('person', 8),
 ('dogs', 8),
 ('roof', 8),
 ('animal', 8),
 ('pick up truck', 8),
 ('train carriage', 8),
 ('coat', 8),
 ('gas station', 8),
 ('machine', 7),
 ('side mirror', 7),
 ('hatchback', 7),
 ('windshield wiper', 7),
 ('number plate', 7),
 ('umbrella', 7),
 ('bicycle', 7),
 ('police', 7),
 ('antique car', 6),
 ('auto', 6),
 ('rear view mirror', 6),
 ('volkswagen', 6),
 ('carpet', 6),
 ('helmet', 6),
 ('wood', 6),
 ('toy car', 6),
 ('roadster', 5),
 ('minivan', 5),
 ('forklift', 5),
 ('hydrant', 5),
 ('smart car', 5),
 ('bridge', 5),
 ('car window', 5),
 ('board', 5),
 ('tanker', 5),
 ('fire truck', 5),
 ('tree', 5),
 ('picture', 5),
 ('bag', 5),
 ('chair', 5),
 ('sidewalk', 5),
 ('race car', 5),
 ('stairs', 5),
 ('convertible', 4),
 ('buggy', 4),
 ('dress', 4),
 ('boy', 4),
 ('bench', 4),
 ('school bus', 4),
 ('train cab', 4),
 ('wiper', 4),
 ('car roof', 4),
 ('fence', 4),
 ('windows', 4),
 ('cop car', 4),
 ('tie', 4),
 ('airplane', 4),
 ('timbuktu', 4),
 ('train track', 4),
 ('pant', 4),
 ('car door', 4),
 ('antique', 4),
 ('snow', 4),
 ('old car', 3),
 ('elephant', 3),
 ('toilet seat', 3),
 ('bowl', 3),
 ('cargo', 3),
 ('handle', 3),
 ('fire hydrant', 3),
 ('house', 3),
 ('bullet train', 3),
 ('bug', 3),
 ('semi', 3),
 ('train door', 3),
 ('mercedes', 3),
 ('wall', 3),
 ('train caboose', 3),
 ('reflection', 3),
 ('scooter', 3),
 ('motorbike', 3),
 ('crosswalk', 3),
 ('front end', 3),
 ('car glass', 3),
 ('car interior', 3),
 ('seat', 3),
 ('pump', 3),
 ('coal car', 3),
 ('player', 3),
 ('bush', 3),
 ('canopy', 3),
 ('trepan', 3),
 ('class', 3),
 ('wing mirror', 2),
 ('side-view mirror', 2),
 ('old truck', 2),
 ('side view mirror', 2),
 ('toilet bowl', 2),
 ('trolley car', 2),
 ('rack', 2),
 ('railing', 2),
 ('train coach', 2),
 ('freight train', 2),
 ('woodies', 2),
 ('subway car', 2),
 ('fender', 2),
 ('cab', 2),
 ('name plate', 2),
 ('meter box', 2),
 ('windshield wipers', 2),
 ('skate', 2),
 ('sideview mirror', 2),
 ('railway train', 2),
 ('ambulance', 2),
 ('goods train', 2),
 ('surfboards', 2),
 ('semi truck', 2),
 ('amtrak', 2),
 ('eel', 2),
 ('zip', 2),
 ('leg', 2),
 ('jeans', 2),
 ('taillight', 2),
 ('iron', 2),
 ('metro', 2),
 ('signal board', 2),
 ('entrance', 2),
 ('head light', 2),
 ('doorway', 2),
 ('ship', 2),
 ('grill', 2),
 ('police vehicle', 2),
 ('trees', 2),
 ('rickshaw', 2),
 ('intersection', 2),
 ('lady', 2),
 ('camera', 2),
 ('tramcar', 2),
 ('train station', 2),
 ('steel', 2),
 ('pilot', 2),
 ('teddy bear', 2),
 ('prius', 2),
 ('lorry', 2),
 ('bed', 2),
 ('car hood', 2),
 ('coal train', 2),
 ('shirts', 2),
 ('gate', 2),
 ('bat', 2),
 ('side light', 2),
 ('atv', 2),
 ('flatbed', 2),
 ('dash', 2),
 ('compact car', 2),
 ('food cart', 2),
 ('store', 2),
 ('motor vehicle', 2),
 ('fire engine', 2),
 ('car light', 2),
 ('tire an', 2),
 ('triennial', 2),
 ('box car', 2),
 ('delores', 2),
 ('remote control car', 2),
 ('car bumper', 2),
 ('surfboard', 1),
 ('rescue truck', 1),
 ('old timer', 1),
 ('equipment', 1),
 ('street sweeper', 1),
 ('machinery', 1),
 ('truck jeep', 1),
 ('stone', 1),
 ('cover', 1),
 ('fixture', 1),
 ('toilet cover', 1),
 ('beetle', 1),
 ('crossover', 1),
 ('chain', 1),
 ('church', 1),
 ('number', 1),
 ('ord', 1),
 ('eerie', 1),
 ('woody', 1),
 ('tankers', 1),
 ('old fashion car', 1),
 ('faucet', 1),
 ('pul', 1),
 ('plymouth', 1),
 ('antique automobile', 1),
 ('vehicle reflection', 1),
 ('lift', 1),
 ('floor', 1),
 ('licentiate', 1),
 ('car back', 1),
 ('toyota', 1),
 ('fake car', 1),
 ('prop', 1),
 ('parking machine', 1),
 ('taxicab', 1),
 ('shorts', 1),
 ('review mirror', 1),
 ('boat', 1),
 ('parking spot', 1),
 ('bride', 1),
 ('pipe', 1),
 ('crowd', 1),
 ('trainbearer', 1),
 ('car dashboard', 1),
 ('windscreen wiper', 1),
 ('license plate', 1),
 ('vehicle bumper', 1),
 ('train tracks', 1),
 ('cap', 1),
 ('tailgate', 1),
 ('train rope', 1),
 ('cartridge', 1),
 ('trained', 1),
 ('skier', 1),
 ('snowboard', 1),
 ('skateboard', 1),
 ('pants', 1),
 ('deck', 1),
 ('crape', 1),
 ('boys', 1),
 ('women', 1),
 ('rail car', 1),
 ('peacock', 1),
 ('goat', 1),
 ('train apartment', 1),
 ('chain link', 1),
 ('city', 1),
 ('rail', 1),
 ('fruit', 1),
 ('hatch', 1),
 ('sub', 1),
 ('car lot', 1),
 ('toy jeep', 1),
 ('toy truck', 1),
 ('try', 1),
 ('engin', 1),
 ('sheet', 1),
 ('vintage car', 1),
 ('shed', 1),
 ('plant', 1),
 ('rust on a car', 1),
 ('crash', 1),
 ('motor home', 1),
 ('card', 1),
 ('subaru', 1),
 ('wallpaper', 1),
 ('car image', 1),
 ('sandal', 1),
 ('photo', 1),
 ('box', 1),
 ('train cargo', 1),
 ('brick', 1),
 ('light rail car', 1),
 ('4-door car', 1),
 ('antique pickup truck', 1),
 ('classic truck', 1),
 ('back windshield', 1),
 ('plane', 1),
 ('trolleybus', 1),
 ('passenger', 1),
 ('car class', 1),
 ('stop sign', 1),
 ('small truck', 1),
 ('centerboard', 1),
 ('compact', 1),
 ('eyeglass', 1),
 ('sun glass', 1),
 ('police officer', 1),
 ('sunglasses', 1),
 ('police suv', 1),
 ('door knob', 1),
 ('skater', 1),
 ('sheriff', 1),
 ('sheriff car', 1),
 ('parked car', 1),
 ('poster', 1),
 ('advertisement', 1),
 ('hand bag', 1),
 ('antique truck', 1),
 ('terri', 1),
 ('girl', 1),
 ('horse stall', 1),
 ('steam train', 1),
 ('corolla', 1),
 ('automobiles', 1),
 ('cauterant', 1),
 ('machination', 1),
 ('pushpin', 1),
 ('hydroplane', 1),
 ('monitor', 1),
 ('stain', 1),
 ('white car', 1),
 ('tin', 1),
 ('golf cart', 1),
 ('black car', 1),
 ('tail light', 1),
 ('food', 1),
 ('bmw', 1),
 ('showroom', 1),
 ('electronic', 1),
 ('rear mirror', 1),
 ('barrels', 1),
 ('shoes', 1),
 ('car seat', 1),
 ('payphone', 1),
 ('ho trod', 1),
 ('classic car', 1),
 ('traffic signal', 1),
 ('police jeep', 1),
 ('luggage', 1),
 ('cartilage', 1),
 ('car bag', 1),
 ('tour jeep', 1),
 ('tour guide vehicle', 1),
 ('vehicle hood', 1),
 ('water tender', 1),
 ('en chine', 1),
 ('free ride', 1),
 ('peugeot', 1),
 ('commercial building', 1),
 ('train compartment', 1),
 ('cargo train', 1),
 ('off-road vehicle', 1),
 ('rope', 1),
 ('wheeler', 1),
 ('tractor truck', 1),
 ('semitrailer', 1),
 ('fencing', 1),
 ('baseball kid', 1),
 ('baseball bat', 1),
 ('zebra', 1),
 ('stranded', 1),
 ('metro train', 1),
 ('railway', 1),
 ('staring', 1),
 ('stair car', 1),
 ('stair elevator', 1),
 ('utility truck', 1),
 ('hatchback car', 1),
 ('train engin', 1),
 ('unclear', 1),
 ('train tanker', 1),
 ('tank', 1),
 ('oversized load', 1),
 ('antenna', 1),
 ('classic', 1),
 ('red', 1),
 ('car toy', 1),
 ('go cart', 1),
 ('buoyancy compensator', 1),
 ('watch', 1),
 ('wooden leg', 1),
 ('weightlifting', 1),
 ('clock', 1),
 ('operatically', 1),
 ('freight', 1),
 ('nose', 1),
 ('elephant trunk', 1),
 ('carteret', 1),
 ('cattle', 1),
 ('car, automobile, parking meter', 1),
 ('conversable', 1),
 ('sport scar', 1),
 ('suitcase', 1),
 ('siding', 1),
 ('train side', 1),
 ('chest', 1),
 ('petrol', 1),
 ('mini truck', 1),
 ('ut', 1),
 ('drink cart', 1),
 ('worker', 1),
 ('locomotive engine', 1),
 ('cat and car tire', 1),
 ('asphalt', 1),
 ('interior', 1),
 ('business', 1),
 ('gas', 1),
 ('station', 1),
 ('truck mirror', 1),
 ('overview', 1),
 ('betrothal', 1),
 ('nameplate', 1),
 ('bottle', 1),
 ('tub', 1),
 ('graffiti', 1),
 ('traffic', 1),
 ('wile', 1),
 ('date', 1),
 ('warehouse', 1),
 ('mover', 1),
 ('priest', 1),
 ('pastor', 1),
 ('book', 1),
 ('motor bike', 1),
 ('car lamp', 1),
 ('hydrate', 1),
 ('skipping', 1),
 ('flatbed truck', 1),
 ('chef', 1),
 ('blazer', 1),
 ('ford', 1),
 ('license', 1),
 ('taxi cab', 1),
 ('mega bus', 1),
 ('amparo', 1),
 ('antique fire engine', 1),
 ('limo', 1),
 ('bingen', 1),
 ('train cake', 1),
 ('covering', 1),
 ('parking lot', 1),
 ('drive up', 1),
 ('stall', 1),
 ('drive thru', 1),
 ('sonic', 1),
 ('restaurant', 1),
 ('umbellate', 1),
 ('street sign', 1),
 ('red light', 1),
 ('coupe', 1),
 ('tail lights', 1),
 ('wheels', 1),
 ('ire', 1),
 ('streetcar', 1),
 ('train wagon', 1),
 ('boxcars', 1),
 ('phone', 1),
 ('motor', 1),
 ('pored', 1),
 ('doll', 1),
 ('signal', 1),
 ('cell phone', 1),
 ('post', 1),
 ('technology', 1),
 ('telephoto', 1),
 ('locomotive cab', 1),
 ('hat', 1),
 ('sparrow', 1)]

In [207]:
sum(list(syn2names['gym_shoe.n.01'].values()))

4182

In [284]:
mn_syn2names = {}
for ix,row in fulldf.iterrows():
    if row.syn not in mn_syn2names:
        mn_syn2names[row.syn] = Counter()
    for n in row['spellchecked']:
        mn_syn2names[row.syn][n] += 1

In [285]:
len(mn_syn2names)

374

In [286]:
mn_entropy = Counter({s:entropy(list(mn_syn2names[s].values())) for s in mn_syn2names})
vg_entropy = Counter({s:entropy(list(syn2names_submn[s].values())) for s in syn2names_submn})

In [287]:
mn_entropy.most_common(10)

[('table.n.02', 4.8484846872799565),
 ('cabinet.n.01', 4.779155209416128),
 ('counter.n.01', 4.772025334030065),
 ('bowl.n.01', 4.729350116697172),
 ('bridge.n.01', 4.503310549090875),
 ('curtain.n.01', 4.479863369621325),
 ('chair.n.01', 4.456191812836481),
 ('tent.n.01', 4.425528730400705),
 ('man.n.01', 4.419735147274899),
 ('woman.n.01', 4.4149752922754075)]

In [288]:
vg_entropy.most_common(10)

[('tugboat.n.01', 1.945910149055313),
 ('tom.n.02', 1.7917594692280547),
 ('toilet_seat.n.01', 1.3296613488547582),
 ('pastry.n.01', 1.2446445889704454),
 ('cheeseburger.n.01', 1.242453324894),
 ('sport_utility.n.01', 1.2283524714787541),
 ('airplane.n.01', 1.1627319916012957),
 ('pie.n.01', 1.1626416509453745),
 ('balloon.n.01', 1.15374194270109),
 ('moped.n.01', 1.126578279710733)]

In [289]:
mn_syn2names['cabinet.n.01'].most_common()

[('cabinet', 143),
 ('cupboard', 93),
 ('table', 87),
 ('furniture', 58),
 ('counter', 57),
 ('shelf', 48),
 ('sink', 34),
 ('wood', 29),
 ('vanity', 28),
 ('cabinets', 26),
 ('desk', 22),
 ('door', 21),
 ('dresser', 20),
 ('rack', 20),
 ('hutch', 19),
 ('wooden', 19),
 ('cub board', 18),
 ('entertainment center', 17),
 ('countertop', 14),
 ('hatstand', 13),
 ('shelves', 13),
 ('bathroom vanity', 13),
 ('cabinetry', 12),
 ('stand', 12),
 ('t-shirt', 12),
 ('kitchen', 12),
 ('oven', 12),
 ('shelving', 12),
 ('mirror', 12),
 ('armoire', 11),
 ('drawer', 11),
 ('kitchen cabinet', 11),
 ('window', 11),
 ('television', 10),
 ('cupboards', 10),
 ('bathroom sink', 10),
 ('chair', 10),
 ('fridge', 9),
 ('self', 9),
 ('kitchen counter', 9),
 ('closet', 9),
 ('wall', 9),
 ('shirt', 9),
 ('cup', 8),
 ('television stand', 8),
 ('cat', 8),
 ('refrigerator', 8),
 ('stove', 8),
 ('bathroom counter', 8),
 ('bottle', 8),
 ('tile', 7),
 ('kitchen cabinets', 7),
 ('wooden leg', 7),
 ('pantry', 6),
 ('washbasin', 6),
 ('bookshelf', 6),
 ('console', 6),
 ('board', 6),
 ('wash basin', 6),
 ('counter top', 6),
 ('kitchen countertop', 5),
 ('hand wash', 5),
 ('entertainment stand', 5),
 ('chest', 5),
 ('handle', 5),
 ('bookcase', 5),
 ('bowl', 5),
 ('cab ord', 5),
 ('knob', 5),
 ('bathtub', 5),
 ('display', 5),
 ('glass', 5),
 ('electronics', 4),
 ('shelve', 4),
 ('paper', 4),
 ('wardrobe', 4),
 ('animal', 4),
 ('laptop', 4),
 ('jug', 4),
 ('drawers', 4),
 ('ward row', 4),
 ('keyboard', 4),
 ('lateen', 4),
 ('tv', 3),
 ('medicine cabinet', 3),
 ('file cabinet', 3),
 ('basin', 3),
 ('kitchen storage', 3),
 ('book', 3),
 ('bathroom cabinet', 3),
 ('steel', 3),
 ('kitchen top', 3),
 ('tie', 3),
 ('plate', 3),
 ('builtin', 3),
 ('sink cabinet', 3),
 ('cup board', 3),
 ('hubbard', 2),
 ('buffet', 2),
 ('wash base', 2),
 ('machine', 2),
 ('flower', 2),
 ('bookshelves', 2),
 ('bureau', 2),
 ('microwave', 2),
 ('kitchen cupboards', 2),
 ('spoon', 2),
 ('island', 2),
 ('bathroom', 2),
 ('top counter', 2),
 ('rake', 2),
 ('vase', 2),
 ('shoe', 2),
 ('co board', 2),
 ('computer', 2),
 ('appliances', 2),
 ('kitchenettes', 2),
 ('vessels', 2),
 ('sink counter', 2),
 ('box', 2),
 ('doll', 2),
 ('teddy bear', 2),
 ('wooden table', 2),
 ('display case', 2),
 ('china cabinet', 2),
 ('monitor', 2),
 ('frame', 2),
 ('capote', 2),
 ('tray', 2),
 ('curio cabinet', 2),
 ('clock', 2),
 ('shower', 2),
 ('woman', 2),
 ('jacket', 2),
 ('pot', 2),
 ('girl', 2),
 ('washstand', 2),
 ('storage', 2),
 ('case', 2),
 ('face', 2),
 ('wine', 2),
 ('sideboard', 1),
 ('plate cub', 1),
 ('coffee cups', 1),
 ('things', 1),
 ('book wardrobe', 1),
 ('bathroom cupboard', 1),
 ('bottom of cabinet', 1),
 ('bath tube', 1),
 ('toilet', 1),
 ('bag', 1),
 ('shelving unit', 1),
 ('cook stove', 1),
 ('wood stove', 1),
 ('fur', 1),
 ('music center', 1),
 ('glass pane', 1),
 ('television cabinet', 1),
 ('metacenter', 1),
 ('kitchen pantry', 1),
 ('tap', 1),
 ('cabinet countertop', 1),
 ('kitchen cabin', 1),
 ('wash room', 1),
 ('furnace', 1),
 ('pizza oven', 1),
 ('mission', 1),
 ('large oven', 1),
 ('cabinetmaking', 1),
 ('kitchen cabinetry', 1),
 ('wall shelf', 1),
 ('doorway', 1),
 ('cloth', 1),
 ('bed', 1),
 ('armor', 1),
 ('center', 1),
 ('furnishing', 1),
 ('media center', 1),
 ('cabinet counter', 1),
 ('arm', 1),
 ('bench', 1),
 ('shoulder', 1),
 ('media shelf', 1),
 ('library', 1),
 ('entertainment cabinet', 1),
 ('triunity', 1),
 ('typecase', 1),
 ('wire', 1),
 ('plug', 1),
 ('chimney', 1),
 ('wooden wardrobe', 1),
 ('kitchen island', 1),
 ('war drew', 1),
 ('entertainment system', 1),
 ('toothbrush', 1),
 ('brush', 1),
 ('brash', 1),
 ('controller', 1),
 ('plate rack', 1),
 ('meerkat', 1),
 ('wheel', 1),
 ('brig', 1),
 ('co bread', 1),
 ('cabinet desk', 1),
 ('floor', 1),
 ('staircase', 1),
 ('microwaveable', 1),
 ('gas', 1),
 ('pen table', 1),
 ('night stand', 1),
 ('kitchen cupboard', 1),
 ('kitchenette', 1),
 ('ta', 1),
 ('whiteboard', 1),
 ('dry erase board', 1),
 ('home maker', 1),
 ('kitchen unit', 1),
 ('homesteader', 1),
 ('washroom', 1),
 ('metal', 1),
 ('toy', 1),
 ('dress', 1),
 ('cork board', 1),
 ('poster board', 1),
 ('poster', 1),
 ('bullet inboard', 1),
 ('papers', 1),
 ('gold', 1),
 ('phone', 1),
 ('newspaper', 1),
 ('desktop', 1),
 ('bracelet', 1),
 ('tabletop', 1),
 ('cell phone', 1),
 ('mobile phone', 1),
 ('china hutch', 1),
 ('glass shelve', 1),
 ('sign', 1),
 ('gift', 1),
 ('memorabilia', 1),
 ('shadowbox', 1),
 ('plaque', 1),
 ('showcase', 1),
 ('trophy', 1),
 ('photo', 1),
 ('baseball', 1),
 ('bat', 1),
 ('doors', 1),
 ('washing machine', 1),
 ('gas stove', 1),
 ('speaker', 1),
 ('dishwasher', 1),
 ('bathroom accessories', 1),
 ('cabinet sink', 1),
 ('open cupboards', 1),
 ('sink top', 1),
 ('curio', 1),
 ('book stand', 1),
 ('abl', 1),
 ('cabinet with appliances', 1),
 ('double oven', 1),
 ('glass top', 1),
 ('wooden door', 1),
 ('sliding door', 1),
 ('bathroom closet', 1),
 ('flor', 1),
 ('bed cover', 1),
 ('people', 1),
 ('senior citizen', 1),
 ('sub board', 1),
 ('bathroom countertop', 1),
 ('entertainment', 1),
 ('side table', 1),
 ('artist stand', 1),
 ('reflection', 1),
 ('book shelve', 1),
 ('piece of furniture', 1),
 ('work desk', 1),
 ('sink door', 1),
 ('bathroom counter cabinets', 1),
 ('kitchen drawer', 1),
 ('air vent', 1),
 ('pervasion', 1),
 ('hairdresser', 1),
 ('dressing table', 1),
 ('mirier', 1),
 ('flower pot', 1),
 ('credenza', 1),
 ('collectable', 1),
 ('side board', 1),
 ('flower jar', 1),
 ('cake', 1),
 ('child', 1),
 ('cap', 1),
 ('kid', 1),
 ('kitchen sink', 1),
 ('woodman', 1),
 ('hand washer', 1),
 ('counter sink', 1),
 ('store', 1),
 ('brits', 1),
 ('juice', 1),
 ('switch box', 1),
 ('hair', 1),
 ('bathroom top', 1),
 ('appliance', 1),
 ('book showroom', 1),
 ('marble', 1),
 ('persuasion', 1),
 ('file drawer', 1),
 ('file', 1),
 ('filing cabinet', 1),
 ('track', 1),
 ('shower door', 1),
 ('media shelves', 1),
 ('storage box', 1),
 ('china closet', 1),
 ('keyboarder', 1),
 ('mixer', 1),
 ('micheas', 1),
 ('war draws', 1),
 ('mir ar', 1),
 ('bath mirror', 1),
 ('modern kitchen', 1),
 ('book case', 1),
 ('end table', 1),
 ('surface', 1),
 ('nightstand', 1),
 ('picture', 1),
 ('bear', 1),
 ('decoration', 1),
 ('art frame', 1),
 ('beardsley', 1),
 ('destrier', 1),
 ('picture frame', 1),
 ('cabotage', 1),
 ('hand was', 1),
 ('wash', 1),
 ('sink countertop', 1),
 ('tub', 1),
 ('hand whase place', 1),
 ('shampoo', 1),
 ('washing mission', 1),
 ('curtain', 1),
 ('ire', 1),
 ('draw', 1),
 ('man', 1),
 ('head', 1),
 ('person', 1),
 ('pizza', 1),
 ('cubbyhole', 1),
 ('copolymer', 1),
 ('cab board', 1),
 ('peppers', 1),
 ('chili', 1),
 ('sillies', 1),
 ('court', 1),
 ('wine glass', 1),
 ('glass cabinet', 1),
 ('sal', 1),
 ('bar', 1),
 ('glasses', 1),
 ('cupboard door', 1)]

In [290]:
syn2names_submn['cabinet.n.01'].most_common()

[('cabinet', 155),
 ('stand', 1),
 ('doors', 1),
 ('cabinet.', 1),
 ('cabinets', 1),
 ('table', 1),
 ('locker', 1)]

In [292]:
syn2names_submn['sandwich.n.01'].most_common()

[('sandwich', 154),
 ('bread', 4),
 ('food', 2),
 ('burger', 1),
 ('sandwiche', 1),
 ('plate', 1),
 ('this', 1),
 ('hotdog', 1),
 ('bun', 1),
 ('pancake', 1),
 ('roast beef', 1)]

In [293]:
mn_syn2names['sandwich.n.01'].most_common()

[('sandwich', 153),
 ('food', 148),
 ('burger', 80),
 ('bread', 71),
 ('plate', 51),
 ('bun', 38),
 ('cake', 29),
 ('sub', 24),
 ('hotdog', 23),
 ('hamburger', 20),
 ('pizza', 19),
 ('cheese', 16),
 ('meal', 12),
 ('sandwiches', 11),
 ('snacks', 11),
 ('hoagie', 9),
 ('toast', 7),
 ('snakes', 7),
 ('meat', 6),
 ('lunch', 6),
 ('sub sandwich', 6),
 ('hot bun', 6),
 ('tomato', 5),
 ('snack', 5),
 ('paper', 4),
 ('biscuit', 3),
 ('dish', 3),
 ('dessert', 3),
 ('sausage', 3),
 ('submarine sandwich', 3),
 ('spinach', 3),
 ('dinner', 2),
 ('pastry', 2),
 ('table', 2),
 ('hot dogs', 2),
 ('chicken sandwich', 2),
 ('knife', 2),
 ('brochette', 2),
 ('french toast', 2),
 ('breakfast', 2),
 ('paganini', 2),
 ('taco', 2),
 ('muffin', 2),
 ('breakfast sandwich', 2),
 ('barbecue sandwich', 2),
 ('croissant', 2),
 ('chicken', 2),
 ('fruit', 2),
 ('bulgur', 2),
 ('sandwich half', 2),
 ('bar gar', 2),
 ('salad', 2),
 ('purger', 2),
 ('grilled cheese', 2),
 ('spoon', 2),
 ('bahamian', 2),
 ('bagel', 2),
 ('hotdog bun', 2),
 ('banana', 2),
 ('tofu', 1),
 ('bread pudding', 1),
 ('hotdog sandwich', 1),
 ('tissue paper', 1),
 ('pant', 1),
 ('leaf', 1),
 ('fries', 1),
 ('wooden', 1),
 ('plat', 1),
 ('hotdogging', 1),
 ('legroom', 1),
 ('gyro', 1),
 ('pizza bread', 1),
 ('chicken burger', 1),
 ('bagel sandwich', 1),
 ('wrap', 1),
 ('quesadilla', 1),
 ('pita', 1),
 ('burrito', 1),
 ('griddlecake', 1),
 ("mcdonald's", 1),
 ('spread', 1),
 ('open sandwich', 1),
 ('lava', 1),
 ('waffle', 1),
 ('grilled sandwich', 1),
 ('beans', 1),
 ('barque', 1),
 ('sloppy', 1),
 ('fish', 1),
 ('meatball sandwich', 1),
 ('meatball sub', 1),
 ('sandwich and fries', 1),
 ('basket', 1),
 ('container', 1),
 ('sneaks', 1),
 ('corned beef', 1),
 ('subway', 1),
 ('vegetables', 1),
 ('toppings', 1),
 ('vegetable', 1),
 ('bread slices', 1),
 ('roll', 1),
 ('troat', 1),
 ('foil', 1),
 ('sandwich wrapper', 1),
 ('aluminum foil', 1),
 ('wrapper', 1),
 ('bowl', 1),
 ('grilled cheese sandwich', 1),
 ('crust', 1),
 ('sandwich bun', 1),
 ('onions', 1),
 ('roast beef', 1),
 ('french bread', 1),
 ('donut', 1),
 ('crossopterygian', 1),
 ('sweet', 1),
 ('mozzarella', 1),
 ('vegeburger', 1),
 ('sandbagged', 1),
 ('bracket', 1),
 ('dustbin', 1),
 ('chips', 1),
 ('pie', 1),
 ('half a sandwich', 1),
 ('bisquick', 1),
 ('man', 1),
 ('hands', 1),
 ('ring', 1),
 ('sand wish', 1),
 ('sofa', 1),
 ('bread tea', 1),
 ('big sandwich', 1),
 ('beefsteak sandwich', 1),
 ('chesterton', 1),
 ('meat dog', 1),
 ('sandwich halves', 1),
 ('pulled pork sandwich', 1),
 ('panicking', 1),
 ('veg', 1),
 ('watermelon', 1),
 ('paper cloth', 1),
 ('vegetates', 1),
 ('cookie', 1),
 ('reuben', 1),
 ('half sandwich', 1),
 ('eggs', 1),
 ('sand', 1),
 ('footling', 1),
 ('cake slice', 1),
 ('tacos', 1),
 ('carrot', 1),
 ('rolls', 1),
 ('hotdogs', 1),
 ('shirt', 1),
 ('meat sandwich', 1),
 ('fry', 1),
 ('lettuce', 1),
 ('coke', 1),
 ('potboy', 1),
 ('foods', 1),
 ('doggie', 1),
 ('veg roll', 1)]

In [214]:
mn_syn2names['car.n.01'].most_common()

[('car', 12552),
 ('train', 5542),
 ('truck', 1633),
 ('vehicle', 1090),
 ('wheel', 560),
 ('van', 480),
 ('mirror', 404),
 ('suv', 289),
 ('bus', 232),
 ('train car', 191),
 ('jeep', 178),
 ('automobile', 170),
 ('taxi', 168),
 ('locomotive', 53),
 ('window', 52),
 ('train engine', 52),
 ('engine', 46),
 ('motorcycle', 46),
 ('door', 43),
 ('meter', 43),
 ('dog', 42),
 ('police car', 38),
 ('cat', 36),
 ('trunk', 34),
 ('subway', 32),
 ('bike', 32),
 ('light', 32),
 ('trolley', 30),
 ('dashboard', 30),
 ('sedan', 29),
 ('tractor', 28),
 ('ambulance', 28),
 ('toilet', 27),
 ('firetruck', 26),
 ('cow', 25),
 ('t-shirt', 24),
 ('tram', 24),
 ('caboose', 23),
 ('hood', 23),
 ('windshield', 21),
 ('railcar', 21),
 ('woman', 21),
 ('airplane', 20),
 ('building', 19),
 ('glass', 19),
 ('tire', 19),
 ('shirt', 19),
 ('pickup truck', 16),
 ('wagon', 16),
 ('carriage', 16),
 ('pole', 16),
 ('pickup', 16),
 ('boxcar', 15),
 ('parking meter', 15),
 ('jacket', 14),
 ('horse', 14),
 ('vehicles', 14),
 ('car mirror', 13),
 ('road', 13),
 ('plane', 13),
 ('tyre', 13),
 ('hatchback', 12),
 ('cart', 12),
 ('shoe', 12),
 ('toy', 12),
 ('tow truck', 11),
 ('trailer', 11),
 ('bird', 11),
 ('rearview mirror', 10),
 ('compartment', 10),
 ('bumper', 10),
 ('sign', 10),
 ('man', 10),
 ('street', 10),
 ('hatch', 10),
 ('track', 10),
 ('train cart', 10),
 ('station wagon', 9),
 ('headlight', 9),
 ('tolly', 9),
 ('fire truck', 9),
 ('belt', 9),
 ('cycle', 9),
 ('bag', 9),
 ('table', 9),
 ('minivan', 8),
 ('side mirror', 8),
 ('number plate', 8),
 ('train cars', 8),
 ('person', 8),
 ('dogs', 8),
 ('roof', 8),
 ('animal', 8),
 ('pick up truck', 8),
 ('train carriage', 8),
 ('coat', 8),
 ('gas station', 8),
 ('machine', 7),
 ('windshield wiper', 7),
 ('carpet', 7),
 ('umbrella', 7),
 ('bicycle', 7),
 ('police', 7),
 ('jet', 7),
 ('antique car', 6),
 ('dress', 6),
 ('hydrant', 6),
 ('auto', 6),
 ('rear view mirror', 6),
 ('volkswagen', 6),
 ('helmet', 6),
 ('pant', 6),
 ('wood', 6),
 ('toy car', 6),
 ('roadster', 5),
 ('forklift', 5),
 ('smart car', 5),
 ('bridge', 5),
 ('car window', 5),
 ('board', 5),
 ('tanker', 5),
 ('luggage', 5),
 ('tree', 5),
 ('windows', 5),
 ('picture', 5),
 ('chair', 5),
 ('sidewalk', 5),
 ('race car', 5),
 ('stairs', 5),
 ('convertible', 4),
 ('taxicab', 4),
 ('buggy', 4),
 ('boy', 4),
 ('bench', 4),
 ('school bus', 4),
 ('fire engine', 4),
 ('zebra', 4),
 ('train cab', 4),
 ('wiper', 4),
 ('tailgate', 4),
 ('car roof', 4),
 ('taillight', 4),
 ('fence', 4),
 ('cop car', 4),
 ('tie', 4),
 ('timbuktu', 4),
 ('train track', 4),
 ('car door', 4),
 ('antique', 4),
 ('lorry', 4),
 ('snow', 4),
 ('old car', 3),
 ('elephant', 3),
 ('toilet seat', 3),
 ('bowl', 3),
 ('cargo', 3),
 ('handle', 3),
 ('fire hydrant', 3),
 ('house', 3),
 ('fender', 3),
 ('bullet train', 3),
 ('skate', 3),
 ('bug', 3),
 ('semi', 3),
 ('police vehicle', 3),
 ('police suv', 3),
 ('head light', 3),
 ('train door', 3),
 ('mercedes', 3),
 ('wall', 3),
 ('train caboose', 3),
 ('reflection', 3),
 ('scooter', 3),
 ('gate', 3),
 ('motorbike', 3),
 ('crosswalk', 3),
 ('front end', 3),
 ('motor vehicle', 3),
 ('car glass', 3),
 ('car interior', 3),
 ('seat', 3),
 ('pump', 3),
 ('coal car', 3),
 ('player', 3),
 ('bush', 3),
 ('canopy', 3),
 ('trepan', 3),
 ('class', 3),
 ('wing mirror', 2),
 ('side-view mirror', 2),
 ('humvee', 2),
 ('old truck', 2),
 ('truck jeep', 2),
 ('side view mirror', 2),
 ('toilet bowl', 2),
 ('trolley car', 2),
 ('rack', 2),
 ('railing', 2),
 ('train coach', 2),
 ('freight train', 2),
 ('woodies', 2),
 ('toyota', 2),
 ('subway car', 2),
 ('skateboarder', 2),
 ('snow boarder', 2),
 ('cab', 2),
 ('name plate', 2),
 ('meter box', 2),
 ('windshield wipers', 2),
 ('sport utility vehicle', 2),
 ('motorized vehicle', 2),
 ('pants', 2),
 ('sideview mirror', 2),
 ('railway train', 2),
 ('goods train', 2),
 ('surfboards', 2),
 ('semi truck', 2),
 ('amtrak', 2),
 ('toy jeep', 2),
 ('eel', 2),
 ('zip', 2),
 ('leg', 2),
 ('jeans', 2),
 ('iron', 2),
 ('metro', 2),
 ('signal board', 2),
 ('entrance', 2),
 ('doorway', 2),
 ('ship', 2),
 ('grill', 2),
 ('trees', 2),
 ('lift gate', 2),
 ('rickshaw', 2),
 ('intersection', 2),
 ('lady', 2),
 ('camera', 2),
 ('tramcar', 2),
 ('train station', 2),
 ('steel', 2),
 ('pilot', 2),
 ('teddy bear', 2),
 ('prius', 2),
 ('bed', 2),
 ('car hood', 2),
 ('coal train', 2),
 ('shirts', 2),
 ('bat', 2),
 ('side light', 2),
 ('atv', 2),
 ('flatbed', 2),
 ('ford', 2),
 ('dash', 2),
 ('compact car', 2),
 ('food cart', 2),
 ('store', 2),
 ('car light', 2),
 ('tire an', 2),
 ('triennial', 2),
 ('box car', 2),
 ('delores', 2),
 ('remote control car', 2),
 ('car bumper', 2),
 ('surfboard', 1),
 ('rescue truck', 1),
 ('rover', 1),
 ('old timer', 1),
 ('equipment', 1),
 ('street sweeper', 1),
 ('machinery', 1),
 ('stone', 1),
 ('cover', 1),
 ('fixture', 1),
 ('toilet cover', 1),
 ('beetle', 1),
 ('crossover', 1),
 ('chain', 1),
 ('church', 1),
 ('number', 1),
 ('ord', 1),
 ('eerie', 1),
 ('woody', 1),
 ('tankers', 1),
 ('old fashion car', 1),
 ('sign board', 1),
 ('faucet', 1),
 ('pul', 1),
 ('plymouth', 1),
 ('antique automobile', 1),
 ('vehicle reflection', 1),
 ('lift', 1),
 ('floor', 1),
 ('licentiate', 1),
 ('car back', 1),
 ('fake car', 1),
 ('prop', 1),
 ('parking machine', 1),
 ('shorts', 1),
 ('review mirror', 1),
 ('boat', 1),
 ('parking spot', 1),
 ('bride', 1),
 ('pipe', 1),
 ('crowd', 1),
 ('wheelbarrow', 1),
 ('trainbearer', 1),
 ('car dashboard', 1),
 ('windscreen wiper', 1),
 ('license plate', 1),
 ('vehicle bumper', 1),
 ('train tracks', 1),
 ('cap', 1),
 ('riders', 1),
 ('couple', 1),
 ('train rope', 1),
 ('cartridge', 1),
 ('trained', 1),
 ('skier', 1),
 ('snowboard', 1),
 ('skateboard', 1),
 ('deck', 1),
 ('crape', 1),
 ('boys', 1),
 ('women', 1),
 ('rail car', 1),
 ('peacock', 1),
 ('goat', 1),
 ('train apartment', 1),
 ('sash', 1),
 ('winner', 1),
 ('crown', 1),
 ('chain link', 1),
 ('city', 1),
 ('rail', 1),
 ('fruit', 1),
 ('sub', 1),
 ('police van', 1),
 ('car lot', 1),
 ('toy truck', 1),
 ('try', 1),
 ('engin', 1),
 ('sheet', 1),
 ('vintage car', 1),
 ('shed', 1),
 ('plant', 1),
 ('rust on a car', 1),
 ('crash', 1),
 ('motor home', 1),
 ('card', 1),
 ('subaru', 1),
 ('wallpaper', 1),
 ('car image', 1),
 ('sandal', 1),
 ('photo', 1),
 ('box', 1),
 ('train cargo', 1),
 ('brick', 1),
 ('light rail car', 1),
 ('4-door car', 1),
 ('antique pickup truck', 1),
 ('classic truck', 1),
 ('back windshield', 1),
 ('trolleybus', 1),
 ('passenger', 1),
 ('car class', 1),
 ('stop sign', 1),
 ('small truck', 1),
 ('centerboard', 1),
 ('compact', 1),
 ('eyeglass', 1),
 ('sun glass', 1),
 ('police officer', 1),
 ('sunglasses', 1),
 ('door knob', 1),
 ('skater', 1),
 ('sheriff', 1),
 ('sheriff car', 1),
 ('parked car', 1),
 ('trunk lid', 1),
 ('deck lid', 1),
 ('hatchback door', 1),
 ('trunk door', 1),
 ('car trunk', 1),
 ('poster', 1),
 ('advertisement', 1),
 ('grill gate', 1),
 ('tollgate', 1),
 ('hand bag', 1),
 ('back of vehicle', 1),
 ('courtyard', 1),
 ('car back door', 1),
 ('open van', 1),
 ('bushes', 1),
 ('antique truck', 1),
 ('terri', 1),
 ('girl', 1),
 ('horse stall', 1),
 ('steam train', 1),
 ('corolla', 1),
 ('automobiles', 1),
 ('cauterant', 1),
 ('machination', 1),
 ('pushpin', 1),
 ('hydroplane', 1),
 ('monitor', 1),
 ('stain', 1),
 ('white car', 1),
 ('gemara', 1),
 ('tin', 1),
 ('golf cart', 1),
 ('black car', 1),
 ('tail light', 1),
 ('food', 1),
 ('bmw', 1),
 ('showroom', 1),
 ('electronic', 1),
 ('rear mirror', 1),
 ('barrels', 1),
 ('shoes', 1),
 ('car seat', 1),
 ('whitecap', 1),
 ('payphone', 1),
 ('ho trod', 1),
 ('classic car', 1),
 ('redcap', 1),
 ('traffic signal', 1),
 ('police jeep', 1),
 ('cartilage', 1),
 ('car bag', 1),
 ('tour jeep', 1),
 ('tour guide vehicle', 1),
 ('vehicle hood', 1),
 ('hummer', 1),
 ('water tender', 1),
 ('en chine', 1),
 ('free ride', 1),
 ('peugeot', 1),
 ('commercial building', 1),
 ('train compartment', 1),
 ('cargo train', 1),
 ('off-road vehicle', 1),
 ('rope', 1),
 ('wheeler', 1),
 ('tractor truck', 1),
 ('semitrailer', 1),
 ('fencing', 1),
 ('baseball kid', 1),
 ('baseball bat', 1),
 ('stranded', 1),
 ('mustang', 1),
 ('red car', 1),
 ('metro train', 1),
 ('railway', 1),
 ('staring', 1),
 ('back of a truck', 1),
 ('fighter jet', 1),
 ('jet plane', 1),
 ('stair car', 1),
 ('stair elevator', 1),
 ('utility truck', 1),
 ('hatchback car', 1),
 ('train engin', 1),
 ('unclear', 1),
 ('train tanker', 1),
 ('tank', 1),
 ('oversized load', 1),
 ('antenna', 1),
 ('classic', 1),
 ('red', 1),
 ('car toy', 1),
 ('go cart', 1),
 ('buoyancy compensator', 1),
 ('watch', 1),
 ('wooden leg', 1),
 ('weightlifting', 1),
 ('clock', 1),
 ('operatically', 1),
 ('freight', 1),
 ('nose', 1),
 ('elephant trunk', 1),
 ('truck bed', 1),
 ('carteret', 1),
 ('cattle', 1),
 ('car, automobile, parking meter', 1),
 ('conversable', 1),
 ('sport scar', 1),
 ('suitcase', 1),
 ('siding', 1),
 ('train side', 1),
 ('chest', 1),
 ('petrol', 1),
 ('mini truck', 1),
 ('ut', 1),
 ('drink cart', 1),
 ('worker', 1),
 ('locomotive engine', 1),
 ('cat and car tire', 1),
 ('asphalt', 1),
 ('interior', 1),
 ('business', 1),
 ('gas', 1),
 ('station', 1),
 ('truck mirror', 1),
 ('overview', 1),
 ('betrothal', 1),
 ('nameplate', 1),
 ('bottle', 1),
 ('tub', 1),
 ('graffiti', 1),
 ('traffic', 1),
 ('wile', 1),
 ('date', 1),
 ('warehouse', 1),
 ('mover', 1),
 ('eye class', 1),
 ('priest', 1),
 ('pastor', 1),
 ('book', 1),
 ('motor bike', 1),
 ('car lamp', 1),
 ('hydrate', 1),
 ('skipping', 1),
 ('flatbed truck', 1),
 ('chef', 1),
 ('blazer', 1),
 ('license', 1),
 ('taxi cab', 1),
 ('mega bus', 1),
 ('amparo', 1),
 ('pack', 1),
 ('antique fire engine', 1),
 ('limo', 1),
 ('bingen', 1),
 ('train cake', 1),
 ('covering', 1),
 ('parking lot', 1),
 ('drive up', 1),
 ('stall', 1),
 ('drive thru', 1),
 ('sonic', 1),
 ('restaurant', 1),
 ('umbellate', 1),
 ('mobile', 1),
 ('street sign', 1),
 ('red light', 1),
 ('coupe', 1),
 ('tail lights', 1),
 ('wheels', 1),
 ('ire', 1),
 ('streetcar', 1),
 ('train wagon', 1),
 ('boxcars', 1),
 ('phone', 1),
 ('motor', 1),
 ('legs', 1),
 ('pored', 1),
 ('doll', 1),
 ('signal', 1),
 ('cell phone', 1),
 ('post', 1),
 ('technology', 1),
 ('telephoto', 1),
 ('locomotive cab', 1),
 ('hat', 1),
 ('sparrow', 1)]

In [222]:
syn2names['dish.n.02'].most_common()

KeyError: 'dish.n.02'

In [224]:
def interfering_objects(fulldf, vgobjdf, iou_threshold=0.0):
    overlaps = []
    print(len(fulldf))
   
    for n, trial in fulldf.iterrows():
        imgid = trial['vg_img_id']
        bb_test = trial['bb']
        name_test = trial['vg_obj_name']

        tempdf = vgobjdf[vgobjdf.image_id == imgid]
        for n, obj in tempdf.iterrows():
            #print(obj['name'], obj['bb'])
            o_name = obj['name']
            if trial['obj_id'] != obj['obj_id'] and \
               name_test != o_name and \
               o_name in trial['spellchecked'] and \
               iou(bb_test, obj['bb']) > iou_threshold:
                overlaps.append((imgid, trial['obj_id'], obj['obj_id'], name_test, o_name, 
                                bb_test, obj['bb'], trial['spellchecked']))
    return overlaps

Index(['vg_img_id', 'cat', 'synset', 'vg_obj_name', 'responses_r0', 'opt-outs',
       'vg_domain', 'top_response_domain_r0', 'responses_domains_r0', 'url',
       'sample_type', 'responses_domains_r1', 'responses_r1',
       'top_response_domain_r1', 'responses_domains_r2', 'responses_r2',
       'top_response_domain_r2', 'responses_domains_r3', 'responses_r3',
       'top_response_domain_r3', 'vg_object_id', 'all_responses', 'clean',
       'canon', 'spellchecked'],
      dtype='object')

In [79]:
Counter([('a','b'),('a','c')])

Counter({('a', 'b'): 1, ('a', 'c'): 1})

In [139]:
str.concat("1","2")

AttributeError: type object 'str' has no attribute 'concat'