In [14]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from ast import literal_eval
from collections import Counter
import itertools

pd.set_option('display.max_colwidth', 180)
pd.set_option('expand_frame_repr', False)

In [71]:
csvfile = '../proc_data_phase0/verification/all_responses_round0-3_verified.csv'
df = pd.read_csv(csvfile, 
    sep="\t")

total_objects=len(df)
print("Total objects: ", total_objects)
df.columns

Total objects:  25315

Index(['vg_img_id', 'cat', 'synset', 'vg_obj_name', 'responses_r0', 'opt-outs',
       'vg_domain', 'top_response_domain_r0', 'responses_domains_r0', 'url',
       'sample_type', 'responses_domains_r1', 'responses_r1',
       'top_response_domain_r1', 'responses_domains_r2', 'responses_r2',
       'top_response_domain_r2', 'responses_domains_r3', 'responses_r3',
       'top_response_domain_r3', 'vg_object_id', 'all_responses', 'clean',
       'canon', 'spellchecked', 'spellchecked_min2', 'verified'],
      dtype='object')

In [72]:
df['clean'] = df['clean'].apply(lambda x: eval(x))
df['verified'] = df['verified'].apply(lambda x: eval(x))
df['canon'] = df['canon'].apply(lambda x: eval(x))

In [73]:
df['canon'][0]

Counter({'man': 11,
         'batter': 8,
         'player': 5,
         'person': 4,
         'baseball player': 2,
         'helmet': 2,
         'boy': 1,
         'uniform': 1,
         'bat': 1})

In [74]:
set(df['cat'])

{'animal',
 'article of clothing',
 'food, nutrient',
 'food, solid food',
 'instrumentality, instrumentation',
 'person',
 'plant, flora, plant life',
 'structure, construction',
 'tableware',
 'tool',
 'vehicle',
 'ware'}

In [75]:
df['mn_name'] = df['canon'].apply(lambda x: x.most_common(1)[0][0])

In [76]:
vocab = set(df.mn_name)

In [77]:
vocab

{'airplane',
 'airport',
 'ambulance',
 'animal',
 'apple',
 'apron',
 'aquarium',
 'arm',
 'athlete',
 'awning',
 'baby',
 'backpack',
 'bacon',
 'bagel',
 'balloon',
 'banana',
 'bar',
 'barn',
 'baseball player',
 'basketball player',
 'bat',
 'bathtub',
 'batter',
 'beach',
 'bear',
 'beard',
 'bed',
 'beer',
 'bench',
 'benches',
 'bidet',
 'bike',
 'bird',
 'bird bath',
 'birdbath',
 'biscuit',
 'blanket',
 'blender',
 'board',
 'boat',
 'book',
 'bookshelf',
 'booth',
 'bottle',
 'bowl',
 'bowtie',
 'box',
 'boy',
 'bread',
 'bricks',
 'bride',
 'bridge',
 'broccoli',
 'bucket',
 'buffet',
 'bug',
 'building',
 'bull',
 'bun',
 'bunk bed',
 'bunkbed',
 'burger',
 'burrito',
 'bus',
 'bus stop',
 'butterfly',
 'cabbage',
 'cabinet',
 'cabinets',
 'cake',
 'camera',
 'can',
 'canister',
 'canopy',
 'cape',
 'car',
 'carpet',
 'carriage',
 'carrot',
 'cart',
 'castle',
 'cat',
 'catcher',
 'cereal',
 'chair',
 'cheese',
 'cheetah',
 'chicken',
 'child',
 'chili',
 'china',
 'church',
 'cinderella',
 'clock',
 'clock tower',
 'coat',
 'coffee',
 'coffee maker',
 'coleslaw',
 'collar',
 'container',
 'cookie',
 'cookie jar',
 'coral',
 'couch',
 'counter',
 'couple',
 'court',
 'cow',
 'crib',
 'croissant',
 'crust',
 'cucumber',
 'cup',
 'cupcake',
 'cupcakes',
 'curtain',
 'curtains',
 'cutting board',
 'desk',
 'dessert',
 'device',
 'dirt',
 'dish',
 'display',
 'dock',
 'dog',
 'dolphin',
 'donut',
 'donuts',
 'door',
 'doorway',
 'dough',
 'dress',
 'dresser',
 'drink',
 'duck',
 'dugout',
 'eagle',
 'egg',
 'elephant',
 'eye mask',
 'face',
 'faucet',
 'fence',
 'field',
 'firetruck',
 'fish',
 'flamingo',
 'floor',
 'flower',
 'flowers',
 'food',
 'fork',
 'frisbee',
 'fruit',
 'furniture',
 'futon',
 'game',
 'garage',
 'garage door',
 'giraffe',
 'girl',
 'glass',
 'glasses',
 'glider',
 'glove',
 'goal',
 'goalie',
 'goat',
 'goose',
 'gown',
 'grass',
 'grate',
 'gravy',
 'green beans',
 'grill',
 'ground',
 'guacamole',
 'guinea pig',
 'hair',
 'hamburger',
 'hamster',
 'hand',
 'hat',
 'head',
 'helicopter',
 'helmet',
 'highchair',
 'hood',
 'hoodie',
 'horse',
 'hose',
 'hot dog',
 'hotdog',
 'hotdogs',
 'house',
 'hut',
 'hydrant',
 'island',
 'jacket',
 'jar',
 'jeep',
 'jersey',
 'jet',
 'juice',
 'juicer',
 'kayak',
 'ketchup',
 'kettle',
 'keyboard',
 'keychain',
 'kimono',
 'kitchen',
 'kite',
 'kitten',
 'knife',
 'lamp',
 'laptop',
 'leek',
 'leg',
 'legs',
 'lemon',
 'lettuce',
 'light',
 'lime',
 'lion',
 'living room',
 'llama',
 'man',
 'mantle',
 'marina',
 'mask',
 'measuring cup',
 'meat',
 'melon',
 'microwave',
 'mirror',
 'mitten',
 'monkey',
 'moose',
 'moped',
 'motorcycle',
 'motorcycles',
 'mound',
 'mouse',
 'muffin',
 'mug',
 'mustard',
 'nurse',
 'oatmeal',
 'ostrich',
 'ottoman',
 'outhouse',
 'oven',
 'owl',
 'pan',
 'pancake',
 'pancakes',
 'pants',
 'parachute',
 'parrot',
 'pasta',
 'pastry',
 'patio',
 'peacock',
 'pen',
 'penguin',
 'person',
 'phone',
 'phone booth',
 'pickle',
 'picture',
 'pie',
 'pier',
 'pig',
 'pillow',
 'pitcher',
 'pizza',
 'plane',
 'plant',
 'planter',
 'plate',
 'platform',
 'player',
 'pole',
 'poncho',
 'pool',
 'pool table',
 'pot',
 'pottery',
 'pretzel',
 'propeller',
 'puppy',
 'purse',
 'queen',
 'quesadilla',
 'rack',
 'raft',
 'rail',
 'ram',
 'ramp',
 'refrigerator',
 'relish',
 'remote',
 'restaurant',
 'rhubarb',
 'rice',
 'road',
 'robe',
 'roof',
 'rooster',
 'rose',
 'rug',
 'ruler',
 'runway',
 'sail',
 'sailboat',
 'salad',
 'salmon',
 'sand',
 'sandwich',
 'sauce',
 'sausage',
 'scooter',
 'scoreboard',
 'seat',
 'shark',
 'shed',
 'sheep',
 'shelf',
 'shelter',
 'ship',
 'shirt',
 'shoe',
 'shore',
 'shower',
 'sidecar',
 'sidewalk',
 'sign',
 'sink',
 'skateboard',
 'skateboarder',
 'skater',
 'ski lift',
 'skier',
 'skiier',
 'skyline',
 'snow',
 'snowboarder',
 'soccer player',
 'soda',
 'sofa',
 'soup',
 'spatula',
 'spoon',
 'squash',
 'squirrel',
 'stand',
 'statue',
 'steak',
 'stingray',
 'store',
 'storefront',
 'stove',
 'strawberry',
 'street',
 'streetlight',
 'stroller',
 'stump',
 'suit',
 'suitcase',
 'surfboard',
 'surfer',
 'suv',
 'swan',
 'sweater',
 'sweatshirt',
 't-shirt',
 'table',
 'tablecloth',
 'taco',
 'taxi',
 'tea',
 'teapot',
 'teddy bear',
 'teepee',
 'television',
 'temple',
 'tennis player',
 'tent',
 'tie',
 'tire',
 'toast',
 'toaster',
 'toga',
 'toilet',
 'tomato',
 'toothbrush',
 'tortilla',
 'tower',
 'toy',
 'tracks',
 'tractor',
 'traffic light',
 'trailer',
 'train',
 'tray',
 'tree',
 'trolley',
 'trough',
 'truck',
 'truck bed',
 'trunk',
 'tub',
 'turban',
 'turkey',
 'umbrella',
 'umpire',
 'urinal',
 'van',
 'vanity',
 'vase',
 'vegetable',
 'vegetables',
 'vehicle',
 'vent',
 'vest',
 'waffle',
 'wall',
 'wardrobe',
 'water',
 'wave',
 'wheel',
 'wheelchair',
 'window',
 'windshield',
 'wine',
 'wing',
 'wok',
 'woman',
 'wrap',
 'wrapper',
 'yogurt',
 'zebra'}

In [78]:
len(vocab)

445

In [79]:

error_cats = Counter()

for ix,row in df.iterrows():
    resp = row['canon']
    topname = resp.most_common(1)[0][0]
    #print(topname)
    for name in resp:
        if name == topname:
            error_cats['hit'] += resp[name]
        elif name not in row['verified']:
            error_cats['low_count'] += resp[name]
        else:
            if topname in row['verified'][name]['can_be_same_object']:
                error_cats['adequate_same_object'] += resp[name]
            else:
                if not row['verified'][name]['inadequacy_type']:
                    error_cats['adequate_diff_object'] += resp[name]
                else:
                     error_cats[row['verified'][name]['inadequacy_type']] += resp[name]

                    
                    
                    #print('img:',row['vg_img_id'],'--entry-level:',topname)
                    #print('less-preferred:',name)
                    #print(row['verified'][name])
            
    #if ix > 5:       
    #    break

In [80]:
error_cats

Counter({'hit': 616370,
         'adequate_same_object': 143690,
         'bounding box': 42971,
         'low_count': 80846,
         'other': 696,
         'adequate_diff_object': 7949,
         'visual': 1040,
         'linguistic': 106})

In [12]:
for t in error_cats:
    print(t,error_cats[t]/sum(error_cats.values()))

hit 0.6897080347511604
adequate_same_object 0.160786779877986
bounding box 0.04808385216881437
low_count 0.09046536297595975
other 0.0007788127134461568
adequate_diff_object 0.008894802096528017
visual 0.0011637431350344871
linguistic 0.00011861228107082273

In [81]:
csvfile = '../papers/ACL2020/material_experiments/FRCNN--VG1600--VGMN_MN.tsv'
csvfile2 = '../papers/ACL2020/material_experiments/FRCNN--VG1600_VG.tsv'

dfsys = pd.read_csv(csvfile, 
    sep="\t")

total_objects=len(dfsys)
print("Total objects: ", total_objects)
dfsys.columns

dfsys2 = pd.read_csv(csvfile2, 
    sep="\t")

total_objects=len(dfsys2)
print("Total objects: ", total_objects)
dfsys2.columns

Total objects:  1071
Total objects:  1071

Index(['image_id', 'category', 'mn_name', 'adequacy', 'pred_name',
       'adequacy.1', 'pred_score_converted'],
      dtype='object')

In [82]:
dfsys

      image_id      category   mn_name  adequacy    pred_name          adequacy.1  pred_score_converted
0           32           hit   cabinet  1.000000      cabinet                 1.0              0.005396
1          160           hit     dress  1.000000        dress                 1.0              0.005525
2          308           hit    bridge  1.000000       bridge                 1.0              0.005896
3          474         error     table  1.000000          bed                  --              0.005595
4          535           hit     table  1.000000        table                 1.0              0.007436
5          556           hit       rug  1.000000          rug                 1.0              0.007391
6          625         error       car  1.000000          van                  --              0.003202
7          691       hyponym    animal  1.000000      giraffe                  --              0.004862
8         1045           hit     table  1.000000        table                 1.0              0.009762
9         1074           hit     house  1.000000        house                 1.0              0.006800
10        1132           hit   counter  1.000000      counter                 1.0              0.005075
11        1375           hit       man  1.000000          man                 1.0              0.005226
12        1590         error     table  0.416667          bed                  --              0.004689
13        1687           hit     chair  1.000000        chair                 1.0              0.004306
14        2611           hit      bird  1.000000         bird                 1.0              0.007295
15        2657  same_cluster    animal  1.000000          cow                 1.0              0.004147
16        3611           hit     horse  1.000000        horse                 1.0              0.006690
17        3966   co-hyponyms      desk  1.000000      counter                  --              0.007187
18        4257           hit  building  1.000000     building                 1.0              0.005799
19        4711           hit     house  1.000000        house                 1.0              0.005526
20        4725           hit     house  1.000000        house                 1.0              0.005695
21        4766           hit     house  1.000000        house                 1.0              0.007050
22        4884           hit     chair  1.000000        chair                 1.0              0.008450
23        4911           hit    carpet  1.000000       carpet                 1.0              0.008343
24       61562           hit       rug  1.000000          rug                 1.0              0.005216
25       61586  same_cluster    umpire  1.000000          man                 1.0              0.004761
26       61590  same_cluster       boy  1.000000  snowboarder                 1.0              0.004719
27      150336           hit     woman  1.000000        woman                 1.0              0.004448
28      150418           hit     horse  1.000000        horse                 1.0              0.009789
29      286084           hit     truck  1.000000        truck                 1.0              0.008015
...        ...           ...       ...       ...          ...                 ...                   ...
1041   2414948           hit       bed  0.625000          bed               0.625              0.004765
1042   2415085  same_cluster   dresser  1.000000        table                 1.0              0.005359
1043   2415135  same_cluster     shirt  0.875000       jacket               0.875              0.004993
1044   2415556           hit       boy  1.000000          boy                 1.0              0.004657
1045   2415650   co-hyponyms       boy  0.833333        woman                  --              0.004753
1046   2415665           hit       boy  1.000000          boy                 1.0              0.004946
1047   2415754           hit     shirt  1.000000        shirt                 1.0              0.006095
1048   2415760           hit     couch  1.000000        couch                 1.0              0.005455
1049   2415831           hit     train  1.000000        train                 1.0              0.006530
1050   2416021           hit      desk  1.000000         desk                 1.0              0.006107
1051   2416302           hit     dress  0.833333        dress  0.8333333333333334              0.006242
1052   2416535           hit     woman  1.000000        woman                 1.0              0.004709
1053   2416595           hit     bench  1.000000        bench                 1.0              0.008417
1054   2416656           hit       cat  1.000000          cat                 1.0              0.009563
1055   2416688           hit   giraffe  1.000000      giraffe                 1.0              0.009296
1056   2416771           hit     train  1.000000        train                 1.0              0.007767
1057   2416887           hit      cake  1.000000         cake                 1.0              0.005362
1058   2416954           hit      desk  1.000000         desk                 1.0              0.005192
1059   2417025           hit  sandwich  0.875000     sandwich               0.875              0.008231
1060   2417127           hit     woman  1.000000        woman                 1.0              0.005197
1061   2417141           hit     woman  0.833333        woman  0.8333333333333334              0.006597
1062   2417184           hit       cow  1.000000          cow                 1.0              0.005337
1063   2417294           hit      desk  0.833333         desk  0.8333333333333334              0.009500
1064   2417386           hit    bridge  1.000000       bridge                 1.0              0.006775
1065   2417434           hit     couch  1.000000        couch                 1.0              0.007363
1066   2417438           hit       bed  0.900000          bed                 0.9              0.006303
1067   2417585         error  airplane  1.000000        bench                  --              0.003789
1068   2417682           hit   curtain  1.000000      curtain                 1.0              0.014026
1069   2417758           hit       man  0.833333          man  0.8333333333333334              0.005623
1070   2417910           hit   counter  1.000000      counter                 1.0              0.004722

[1071 rows x 7 columns]

In [15]:
df.query('vg_img_id == 32')

       vg_img_id                               cat           synset vg_obj_name                                                                                         responses_r0      opt-outs vg_domain top_response_domain_r0                                                                                                               responses_domains_r0                                                                url  ...                                                  responses_r3 top_response_domain_r3 vg_object_id                                                                                                                                 all_responses                                                                                                                                clean                                                                                                                canon                                                                                                                  spellchecked                                                  spellchecked_min2                                                                                                                                                                             verified  mn_name
21087         32  instrumentality, instrumentation  furnishing.n.02     cabinet  {'cabinet': 2, 'wood': 1, 'sink': 1, 'cabinets': 1, 'cabinetry': 1, 'modern kitchen': 1, 'wall': 1}  {'#bbox': 1}      home                   home  {'home': 0.25, '$wood': 0.125, '$sink': 0.125, '$cabinets': 0.125, '$cabinetry': 0.125, '$modern kitchen': 0.125, '$wall': 0.125}  http://object-naming-amore.upf.edu//32_1058643_seed_ambiguous.png  ...  {'cabinet': 4, 'cabinets': 2, 'cupboards': 2, 'cupboard': 1}                   home      1058643  Counter({'cabinet': 15, 'cabinets': 9, 'cupboard': 3, 'wood': 2, 'cupboards': 2, 'sink': 1, 'cabinetry': 1, 'modern kitchen': 1, 'wall': 1})  {'cabinet': 15, 'cabinets': 9, 'cupboard': 3, 'wood': 2, 'cupboards': 2, 'sink': 1, 'cabinetry': 1, 'modern kitchen': 1, 'wall': 1}  {'cabinet': 15, 'cabinets': 9, 'cupboard': 5, 'wood': 2, 'sink': 1, 'cabinetry': 1, 'modern kitchen': 1, 'wall': 1}  Counter({'cabinet': 15, 'cabinets': 9, 'cupboard': 5, 'wood': 2, 'sink': 1, 'cabinetry': 1, 'modern kitchen': 1, 'wall': 1})  Counter({'cabinet': 15, 'cabinets': 9, 'cupboard': 5, 'wood': 2})  {'cabinets': {'cluster': ('cabinet', 'cabinets', 'cupboard'), 'can_be_same_object': ('cabinet', 'cabinets', 'cupboard'), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id':...  cabinet

[1 rows x 28 columns]

In [90]:
def get_error(topname,predname,verified,response):
    if predname == topname:
        return 'hit'
    if predname not in verified:
        if predname in response:
            return 'low_count'
        else:
            return 'off???'
    if topname in verified[predname]['can_be_same_object']:
        return 'adequate'
    if not verified[predname]['inadequacy_type']:
        return 'adequate_diff_object'
    
    return verified[predname]['inadequacy_type']

In [91]:
hum_error_cats = Counter()
sys_error_cats = Counter()
sys_error_cats2 = Counter()


for ix,row in dfsys.iterrows():
    
    rowh = df.query('vg_img_id == %d' % row['image_id']).iloc[0]
    resp = rowh['canon']
    topname = resp.most_common(1)[0][0]
    verif = rowh['verified']
    
    if rowh['cat'] != 'person':

    #print(topname)
        for name in resp:
            if name in vocab:
                err = get_error(topname,name,verif,resp)
                hum_error_cats[err] += resp[name]
        
        sys_err = get_error(topname,row['pred_name'],verif,resp)
        sys_error_cats[sys_err] += 1
    
    
for ix,row in dfsys2.iterrows():
    
    rowh = df.query('vg_img_id == %d' % row['image_id']).iloc[0]
    resp = rowh['canon']
    topname = resp.most_common(1)[0][0]
    verif = rowh['verified']
    if rowh['cat'] != 'person':
        
        sys_err = get_error(topname,row['pred_name'],verif,resp)
        sys_error_cats2[sys_err] += 1

In [61]:
len(df)

25315

In [62]:
df

       vg_img_id                               cat            synset   vg_obj_name                                                                                      responses_r0                                 opt-outs       vg_domain top_response_domain_r0                                                                                                                   responses_domains_r0                                                                         url  ...                                                                                        responses_r3 top_response_domain_r3 vg_object_id                                                                                                                                                                        all_responses                                                                                                                                                                                clean                                                                                                                                                                                canon                                                                                                                                                                         spellchecked                                                                                                   spellchecked_min2                                                                                                                                                                             verified       mn_name
0        2357077                            person      athlete.n.01        batter                           {'man': 4, 'batter': 2, 'baseball player': 1, 'player': 1, 'person': 1}                                       {}          people                 people                                                                                           {'people': 0.889, '$baseball player': 0.111}        http://object-naming-amore.upf.edu//2357077_815223_singleton_obj.png  ...                                         {'player': 3, 'man': 2, 'batter': 1, 'bat': 1, 'helmet': 1}                 people       815223                                                     Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})                                                              {'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1}                                                              {'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1}                                                     Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})                      Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2})  {'batter': {'cluster': ('baseball player', 'batter', 'man', 'person', 'player'), 'can_be_same_object': ('baseball player', 'batter', 'man', 'person', 'player'), 'adequacy': 1.0...           man
1        2378759               article of clothing  overgarment.n.01        jacket                                {'jacket': 3, 'sweatshirt': 2, 'man': 2, 'hoodie': 1, 'person': 1}                                       {}        clothing               clothing                                                           {'clothing': 0.333, '$sweatshirt': 0.222, 'people': 0.333, '$hoodie': 0.111}     http://object-naming-amore.upf.edu//2378759_1365136_supercat_unique.png  ...                                   {'jacket': 4, 'man': 2, 'sweatshirt': 1, 'hoodie': 1, 'shirt': 1}               clothing      1365136                                                                                            Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                                                                                                     {'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1}                                                                                                     {'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1}                                                                                            Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                                       Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2})  {'hoodie': {'cluster': ('hoodie', 'jacket', 'sweatshirt'), 'can_be_same_object': ('hoodie', 'jacket', 'sweatshirt'), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id': 0, ...        jacket
2        2319953                            animal     ungulate.n.01       giraffe                                                                                    {'giraffe': 7}                             {'#bbox': 2}  animals_plants         animals_plants                                                                                                                {'animals_plants': 1.0}       http://object-naming-amore.upf.edu//2319953_3089834_singleton_obj.png  ...                                                                          {'giraffe': 8, 'woman': 1}         animals_plants      3089834                                                                                                                                                 Counter({'giraffe': 32, 'woman': 1})                                                                                                                                                          {'giraffe': 32, 'woman': 1}                                                                                                                                                          {'giraffe': 32, 'woman': 1}                                                                                                                                                 Counter({'giraffe': 32, 'woman': 1})                                                                                            Counter({'giraffe': 32})                           {'giraffe': {'cluster': ['giraffe'], 'adequacy': 1.0, 'can_be_same_object': ['giraffe'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}       giraffe
3        2361401                            animal     ungulate.n.01       giraffe                                                                                    {'giraffe': 9}                                       {}  animals_plants         animals_plants                                                                                                                {'animals_plants': 1.0}       http://object-naming-amore.upf.edu//2361401_2363103_singleton_obj.png  ...                                                                                      {'giraffe': 9}         animals_plants      2363103                                                                                                                                                             Counter({'giraffe': 36})                                                                                                                                                                      {'giraffe': 36}                                                                                                                                                                      {'giraffe': 36}                                                                                                                                                             Counter({'giraffe': 36})                                                                                            Counter({'giraffe': 36})                           {'giraffe': {'cluster': ['giraffe'], 'adequacy': 1.0, 'can_be_same_object': ['giraffe'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}       giraffe
4        2401994                    food, nutrient         dish.n.02      sandwich                                                           {'sandwich': 6, 'food': 2, 'hotdog': 1}                                       {}            food                   food                                                                                                      {'food': 0.889, '$hotdog': 0.111}       http://object-naming-amore.upf.edu//2401994_1141828_singleton_obj.png  ...                                       {'food': 3, 'sandwich': 3, 'foot': 1, 'cake': 1, 'burger': 1}                   food      1141828                                                                                 Counter({'sandwich': 25, 'food': 6, 'hotdog': 1, 'sandwhich': 1, 'foot': 1, 'cake': 1, 'burger': 1})                                                                                          {'sandwich': 25, 'food': 6, 'hotdog': 1, 'sandwhich': 1, 'foot': 1, 'cake': 1, 'burger': 1}                                                                                                                     {'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake': 1, 'burger': 1}                                                                                                            Counter({'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake': 1, 'burger': 1})                                                                                Counter({'sandwich': 26, 'food': 7})  {'food': {'cluster': ('food', 'sandwich'), 'can_be_same_object': ('food', 'sandwich'), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}, 'sandw...      sandwich
5        2415944                           vehicle        truck.n.01           van                                              {'van': 4, 'automobile': 2, 'car': 2, 'tailgate': 1}                                       {}        vehicles               vehicles                                                                                                {'vehicles': 0.889, '$tailgate': 0.111}       http://object-naming-amore.upf.edu//2415944_3255495_singleton_obj.png  ...                           {'car': 3, 'van': 3, 'suitcase': 1, 'motorized vehicle': 1, 'vehicle': 1}               vehicles      3255495                                           Counter({'van': 15, 'car': 10, 'automobile': 3, 'truck': 2, 'vehicle': 2, 'tailgate': 1, 'bus': 1, 'suitcase': 1, 'motorized vehicle': 1})                                                    {'van': 15, 'car': 10, 'automobile': 3, 'truck': 2, 'vehicle': 2, 'tailgate': 1, 'bus': 1, 'suitcase': 1, 'motorized vehicle': 1}                                                    {'van': 15, 'car': 10, 'automobile': 3, 'truck': 2, 'vehicle': 2, 'tailgate': 1, 'bus': 1, 'suitcase': 1, 'motorized vehicle': 1}                                           Counter({'van': 15, 'car': 10, 'automobile': 3, 'truck': 2, 'vehicle': 2, 'tailgate': 1, 'bus': 1, 'suitcase': 1, 'motorized vehicle': 1})                                          Counter({'van': 15, 'car': 10, 'automobile': 3, 'truck': 2, 'vehicle': 2})  {'van': {'cluster': ('automobile', 'car', 'truck', 'van', 'vehicle'), 'can_be_same_object': ('automobile', 'car', 'truck', 'van', 'vehicle'), 'adequacy': 1.0, 'inadequacy_type'...           van
6        2398394                           vehicle          car.n.01           car                                                                       {'car': 8, 'automobile': 1}                                       {}        vehicles               vehicles                                                                                                                      {'vehicles': 1.0}      http://object-naming-amore.upf.edu//2398394_1180292_seed_ambiguous.png  ...                                                                                {'car': 8, 'van': 1}               vehicles      1180292                                                                                                                        Counter({'car': 33, 'automobile': 1, 'vehicle': 1, 'van': 1})                                                                                                                                 {'car': 33, 'automobile': 1, 'vehicle': 1, 'van': 1}                                                                                                                                 {'car': 33, 'automobile': 1, 'vehicle': 1, 'van': 1}                                                                                                                        Counter({'car': 33, 'automobile': 1, 'vehicle': 1, 'van': 1})                                                                                                Counter({'car': 33})                                       {'car': {'cluster': ['car'], 'adequacy': 1.0, 'can_be_same_object': ['car'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}           car
7        1159907  instrumentality, instrumentation   furnishing.n.02          desk                                                                                       {'desk': 8}                                       {}            home                   home                                                                                                                          {'home': 1.0}       http://object-naming-amore.upf.edu//1159907_1598944_singleton_obj.png  ...                                                        {'desk': 6, 'keyboard': 2, 'electronics': 1}                   home      1598944                                                                                             Counter({'desk': 29, 'keyboard': 3, 'curtain': 1, 'computer desk': 1, 'electronics': 1})                                                                                                      {'desk': 29, 'keyboard': 3, 'curtain': 1, 'computer desk': 1, 'electronics': 1}                                                                                                      {'desk': 29, 'keyboard': 3, 'curtain': 1, 'computer desk': 1, 'electronics': 1}                                                                                             Counter({'desk': 29, 'keyboard': 3, 'curtain': 1, 'computer desk': 1, 'electronics': 1})                                                                                Counter({'desk': 29, 'keyboard': 3})  {'desk': {'cluster': ('desk',), 'can_be_same_object': ('desk',), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 0.90625}, 'keyboard': {'cluster': ...          desk
8        2362791                            animal     ungulate.n.01         zebra                                                                                      {'zebra': 8}                                       {}  animals_plants         animals_plants                                                                                                                {'animals_plants': 1.0}        http://object-naming-amore.upf.edu//2362791_771078_singleton_obj.png  ...                                                                            {'zebra': 8, 'horse': 1}         animals_plants       771078                                                                                                                                                   Counter({'zebra': 33, 'horse': 1})                                                                                                                                                            {'zebra': 33, 'horse': 1}                                                                                                                                                            {'zebra': 33, 'horse': 1}                                                                                                                                                   Counter({'zebra': 33, 'horse': 1})                                                                                              Counter({'zebra': 33})                                 {'zebra': {'cluster': ['zebra'], 'adequacy': 1.0, 'can_be_same_object': ['zebra'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}         zebra
9        2411103                            person        child.n.01           kid                                                               {'child': 4, 'boy': 3, 'skater': 1}                                       {}          people                 people                                                                                                                        {'people': 1.0}        http://object-naming-amore.upf.edu//2411103_360540_singleton_obj.png  ...                         {'child': 3, 'boy': 2, 'glass': 1, 'skateboarder': 1, 'class': 1, 'kid': 1}                 people       360540                                                                     Counter({'child': 14, 'boy': 11, 'kid': 3, 'person': 2, 'skateboarder': 2, 'skater': 1, 'glass': 1, 'class': 1})                                                                              {'child': 14, 'boy': 11, 'kid': 3, 'person': 2, 'skateboarder': 2, 'skater': 1, 'glass': 1, 'class': 1}                                                                                          {'child': 14, 'boy': 11, 'kid': 3, 'person': 2, 'skateboarder': 2, 'glass': 2, 'skater': 1}                                                                                 Counter({'child': 14, 'boy': 11, 'kid': 3, 'person': 2, 'skateboarder': 2, 'glass': 2, 'skater': 1})                             Counter({'child': 14, 'boy': 11, 'kid': 3, 'person': 2, 'skateboarder': 2, 'glass': 2})  {'boy': {'cluster': ('boy', 'child', 'kid', 'person', 'skateboarder'), 'can_be_same_object': ('boy', 'child', 'kid', 'person', 'skateboarder'), 'adequacy': 1.0, 'inadequacy_typ...         child
10       2380079                            person        woman.n.01         woman                                                                 {'woman': 6, 'girl': 1, 'mom': 1}                                       {}          people                 people                                                                                             {'people': 0.875, 'animals_plants': 0.125}        http://object-naming-amore.upf.edu//2380079_711349_singleton_obj.png  ...                               {'woman': 4, 'shirt': 1, 'lady': 1, 'dress': 1, 'teen': 1, 'oven': 1}                 people       711349                                                                   Counter({'woman': 26, 'girl': 2, 'mom': 1, 'sweater': 1, 'shirt': 1, 'lady': 1, 'dress': 1, 'teen': 1, 'oven': 1})                                                                            {'woman': 26, 'girl': 2, 'mom': 1, 'sweater': 1, 'shirt': 1, 'lady': 1, 'dress': 1, 'teen': 1, 'oven': 1}                                                                            {'woman': 26, 'girl': 2, 'mom': 1, 'sweater': 1, 'shirt': 1, 'lady': 1, 'dress': 1, 'teen': 1, 'oven': 1}                                                                   Counter({'woman': 26, 'girl': 2, 'mom': 1, 'sweater': 1, 'shirt': 1, 'lady': 1, 'dress': 1, 'teen': 1, 'oven': 1})                                                                                   Counter({'woman': 26, 'girl': 2})  {'girl': {'cluster': ('girl', 'woman'), 'can_be_same_object': ('girl', 'woman'), 'adequacy': 0.8333333333333334, 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0...         woman

In [52]:
relevant_cats = ['hit','adequate','low_count','bounding box','off???']
table = [
    ["humans"]+[hum_error_cats[t]/sum(hum_error_cats.values()) for t in relevant_cats],
    ["FRCNN, no finetuning"]+[sys_error_cats2[t]/sum(sys_error_cats2.values()) for t in relevant_cats],
    ["FRCNN, finetuning on MN"]+[sys_error_cats[t]/sum(sys_error_cats.values()) for t in relevant_cats]
]

In [53]:
pd.DataFrame(table,columns=['(442-vocab)']+relevant_cats)

               (442-vocab)       hit  adequate  low_count  bounding box    off???
0                   humans  0.796357  0.116576   0.036565      0.041500  0.000000
1     FRCNN, no finetuning  0.760992  0.109357   0.021421      0.022548  0.077790
2  FRCNN, finetuning on MN  0.808343  0.076663   0.015784      0.010147  0.083427

In [56]:
sys_error_cats

Counter({'hit': 717,
         'off???': 74,
         'adequate': 68,
         'low_count': 14,
         'adequate_diff_object': 4,
         'bounding box': 9,
         'visual': 1})

In [57]:
sys_error_cats2

Counter({'adequate': 97,
         'off???': 69,
         'hit': 675,
         'bounding box': 20,
         'adequate_diff_object': 5,
         'low_count': 19,
         'visual': 2})

In [58]:
sum(sys_error_cats.values())

887

In [59]:
sum(hum_error_cats.values())

28771

In [60]:
hum_error_cats

Counter({'hit': 22912,
         'adequate': 3354,
         'low_count': 1052,
         'bounding box': 1194,
         'adequate_diff_object': 190,
         'visual': 58,
         'other': 11})

In [31]:
hum2_error_cats = Counter()
sys3_error_cats = Counter()
sys4_error_cats = Counter()


for ix,row in dfsys.iterrows():
    
    rowh = df.query('vg_img_id == %d' % row['image_id']).iloc[0]
    resp = rowh['canon']
    topname = rowh['vg_obj_name']
    verif = rowh['verified']
    
    if rowh['cat'] == 'person':

    #print(topname)
        for name in resp:
            if name in vocab:
                err = get_error(topname,name,verif,resp)
                hum2_error_cats[err] += resp[name]
        
        sys_err = get_error(topname,row['pred_name'],verif,resp)
        sys3_error_cats[sys_err] += 1
    
for ix,row in dfsys2.iterrows():
    
    rowh = df.query('vg_img_id == %d' % row['image_id']).iloc[0]
    resp = rowh['canon']
   
    topname = rowh['vg_obj_name']
    verif = rowh['verified']
    
    if rowh['cat'] == 'person':
        sys_err = get_error(topname,row['pred_name'],verif,resp)
        sys4_error_cats[sys_err] += 1

In [35]:
relevant_cats = ['hit','adequate','low_count','bounding box','off???']
table = [
   # ["VG","human",""]+[hum2_error_cats[t]/sum(hum2_error_cats.values()) for t in relevant_cats],
   # ["VG","FRCNN", "-"]+[sys4_error_cats[t]/sum(sys4_error_cats.values()) for t in relevant_cats],
   # ["VG","FRCNN", "+"]+[sys3_error_cats[t]/sum(sys3_error_cats.values()) for t in relevant_cats],
    ["MN","human",""]+[hum2_error_cats[t]/sum(hum2_error_cats.values()) for t in relevant_cats],
    ["MN","FRCNN", "-"]+[sys3_error_cats[t]/sum(sys3_error_cats.values()) for t in relevant_cats],
    ["MN","FRCNN", "+"]+[sys4_error_cats[t]/sum(sys4_error_cats.values()) for t in relevant_cats]
]
rdf = pd.DataFrame(table,columns=['Test on','model', 'finetuning']+relevant_cats)

In [36]:
rdf.round(3)

  Test on  model finetuning    hit  adequate  low_count  bounding box  off???
0      MN  human             0.432     0.434      0.070         0.055   0.000
1      MN  FRCNN          -  0.522     0.375      0.027         0.011   0.060
2      MN  FRCNN          +  0.527     0.353      0.033         0.000   0.076

In [15]:
smatx = np.loadtxt("scores.csv",delimiter=',')

In [16]:
smatx.shape

(25310, 1601)

In [48]:
avocab = [f.strip() for f in open("aliased-objects_vocab.txt","r").readlines()]

In [49]:
len(avocab)

1600

In [50]:
imgs = [int(f.strip()[:-4]) for f in open("imgids.txt","r").readlines()]

In [51]:
len(imgs)

25310

In [52]:
imgs;

In [53]:
predictions = np.argmax(smatx,axis=1)

In [54]:
predictions[:10]

array([ 92, 407,  36,  36, 179, 252,  53, 126,  86, 227])

In [55]:
predictions.shape

(25310,)

In [56]:
smatx[0][92]

0.427672803401947

In [57]:
smatx[2][36]

0.7019358277320862

In [58]:
avocab[36]

'helmet'

In [59]:
namepred = [avocab[nid-1] for nid in predictions]

In [65]:
fullsysdf = pd.DataFrame(zip(imgs,namepred),columns=['vg_img_id','full_pred_name'])

In [84]:
fullsysdf.head()

   vg_img_id full_pred_name
0    2357077         player
1    2378759         hoodie
2    2319953        giraffe
3    2361401        giraffe
4    2401994       sandwich

In [88]:
mdf = dfsys2.merge(fullsysdf,left_on='image_id',right_on='vg_img_id')

In [122]:
len(mdf)

1071

In [123]:
len(mdf.query('pred_name == full_pred_name'))

1036

In [124]:
len(mdf.query('pred_name != full_pred_name'))

35

In [35]:
df.head()

   vg_img_id                  cat            synset vg_obj_name                                                             responses_r0      opt-outs       vg_domain top_response_domain_r0                                                          responses_domains_r0                                                                      url  ...                                                          responses_domains_r3                                                       responses_r3 top_response_domain_r3 vg_object_id                                                                                                                     all_responses                                                                                                                             clean                                                                                                                             canon                                                                                                                      spellchecked                                                                               spellchecked_min2                                                                                                                                                                             verified
0    2357077               person      athlete.n.01      batter  {'man': 4, 'batter': 2, 'baseball player': 1, 'player': 1, 'person': 1}            {}          people                 people                                  {'people': 0.889, '$baseball player': 0.111}     http://object-naming-amore.upf.edu//2357077_815223_singleton_obj.png  ...                            {'people': 0.75, '$bat': 0.125, 'clothing': 0.125}        {'player': 3, 'man': 2, 'batter': 1, 'bat': 1, 'helmet': 1}                 people       815223  Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})  Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})  Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})  Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2, 'boy': 1, 'uniform': 1, 'bat': 1})  Counter({'man': 11, 'batter': 8, 'player': 5, 'person': 4, 'baseball player': 2, 'helmet': 2})  {'batter': {'cluster': ('baseball player', 'batter', 'man', 'person', 'player'), 'can_be_same_object': ('baseball player', 'batter', 'man', 'person', 'player'), 'adequacy': 1.0...
1    2378759  article of clothing  overgarment.n.01      jacket       {'jacket': 3, 'sweatshirt': 2, 'man': 2, 'hoodie': 1, 'person': 1}            {}        clothing               clothing  {'clothing': 0.333, '$sweatshirt': 0.222, 'people': 0.333, '$hoodie': 0.111}  http://object-naming-amore.upf.edu//2378759_1365136_supercat_unique.png  ...  {'clothing': 0.556, 'people': 0.222, '$sweatshirt': 0.111, '$hoodie': 0.111}  {'jacket': 4, 'man': 2, 'sweatshirt': 1, 'hoodie': 1, 'shirt': 1}               clothing      1365136                                         Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                                         Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                                         Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                                         Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2, 'shirt': 1})                   Counter({'jacket': 14, 'man': 11, 'sweatshirt': 4, 'hoodie': 4, 'person': 2})  {'hoodie': {'cluster': ('hoodie', 'jacket', 'sweatshirt'), 'can_be_same_object': ('hoodie', 'jacket', 'sweatshirt'), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id': 0, ...
2    2319953               animal     ungulate.n.01     giraffe                                                           {'giraffe': 7}  {'#bbox': 2}  animals_plants         animals_plants                                                       {'animals_plants': 1.0}    http://object-naming-amore.upf.edu//2319953_3089834_singleton_obj.png  ...                                    {'animals_plants': 0.889, 'people': 0.111}                                         {'giraffe': 8, 'woman': 1}         animals_plants      3089834                                                                                              Counter({'giraffe': 32, 'woman': 1})                                                                                              Counter({'giraffe': 32, 'woman': 1})                                                                                              Counter({'giraffe': 32, 'woman': 1})                                                                                              Counter({'giraffe': 32, 'woman': 1})                                                                        Counter({'giraffe': 32})                           {'giraffe': {'cluster': ['giraffe'], 'adequacy': 1.0, 'can_be_same_object': ['giraffe'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}
3    2361401               animal     ungulate.n.01     giraffe                                                           {'giraffe': 9}            {}  animals_plants         animals_plants                                                       {'animals_plants': 1.0}    http://object-naming-amore.upf.edu//2361401_2363103_singleton_obj.png  ...                                                       {'animals_plants': 1.0}                                                     {'giraffe': 9}         animals_plants      2363103                                                                                                          Counter({'giraffe': 36})                                                                                                          Counter({'giraffe': 36})                                                                                                          Counter({'giraffe': 36})                                                                                                          Counter({'giraffe': 36})                                                                        Counter({'giraffe': 36})                           {'giraffe': {'cluster': ['giraffe'], 'adequacy': 1.0, 'can_be_same_object': ['giraffe'], 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}}
4    2401994       food, nutrient         dish.n.02    sandwich                                  {'sandwich': 6, 'food': 2, 'hotdog': 1}            {}            food                   food                                             {'food': 0.889, '$hotdog': 0.111}    http://object-naming-amore.upf.edu//2401994_1141828_singleton_obj.png  ...                             {'food': 0.778, '$foot': 0.111, '$burger': 0.111}      {'food': 3, 'sandwich': 3, 'foot': 1, 'cake': 1, 'burger': 1}                   food      1141828                              Counter({'sandwich': 25, 'food': 6, 'hotdog': 1, 'sandwhich': 1, 'foot': 1, 'cake': 1, 'burger': 1})                              Counter({'sandwich': 25, 'food': 6, 'hotdog': 1, 'sandwhich': 1, 'foot': 1, 'cake': 1, 'burger': 1})                                                         Counter({'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake': 1, 'burger': 1})                                                         Counter({'sandwich': 26, 'food': 7, 'hotdog': 1, 'cake': 1, 'burger': 1})                                                            Counter({'sandwich': 26, 'food': 7})  {'food': {'cluster': ('food', 'sandwich'), 'can_be_same_object': ('food', 'sandwich'), 'adequacy': 1.0, 'inadequacy_type': None, 'cluster_id': 0, 'cluster_weight': 1.0}, 'sandw...

[5 rows x 27 columns]

In [108]:
hum_error_cats = Counter()
hum_error_cats2 = Counter()

sys_error_cats = Counter()
sys_error_cats2 = Counter()


for ix,row in mdf.iterrows():
    
    rowh = df.query('vg_img_id == %d' % row['image_id']).iloc[0]
    resp = rowh['canon']
    topname = resp.most_common(1)[0][0]
    verif = rowh['verified']
    
    #print(topname)
    for name in resp:
        err = get_error(topname,name,verif,resp)
        if name in vocab:
            hum_error_cats[err] += resp[name]

        if name in avocab:
            hum_error_cats2[err] += resp[name]
    
        
    sys_err = get_error(topname,row['pred_name'],verif,resp)
    sys_error_cats[sys_err] += 1
    
        
    sys_err = get_error(topname,row['full_pred_name'],verif,resp)
    sys_error_cats2[sys_err] += 1

In [118]:
relevant_cats = ['hit','adequate','low_count','bounding box','off???']
table = [
        ["humans, 442 vocab"]+[hum_error_cats[t]/sum(hum_error_cats.values()) for t in relevant_cats],
        ["FRCNN, 442 vocab"]+[sys_error_cats[t]/sum(sys_error_cats.values()) for t in relevant_cats],

        ["humans, 1600 vocab"]+[hum_error_cats2[t]/sum(hum_error_cats2.values()) for t in relevant_cats],
    ["FRCNN, 1600 vocab"]+[sys_error_cats2[t]/sum(sys_error_cats2.values()) for t in relevant_cats]

]

In [119]:
rdf = pd.DataFrame(table,columns=['model']+relevant_cats)

In [120]:
rdf

                model       hit  adequate  low_count  bounding box    off???
0   humans, 442 vocab  0.758558  0.146164   0.042169      0.043843  0.000000
1    FRCNN, 442 vocab  0.749767  0.122316   0.023343      0.018674  0.077498
2  humans, 1600 vocab  0.736372  0.153985   0.052731      0.046715  0.000000
3   FRCNN, 1600 vocab  0.738562  0.117647   0.024276      0.021475  0.088702

In [98]:
avocab

['yolk',
 'goal',
 'bathroom',
 'macaroni',
 'umpire',
 'toothpick',
 'alarm clock',
 'ceiling fan',
 'photos',
 'parrot',
 'tail fin',
 'birthday cake',
 'calculator',
 'catcher',
 'toilet',
 'batter',
 'stop sign,stopsign',
 'cone',
 'microwave,microwave oven',
 'skateboard ramp',
 'tea',
 'dugout',
 'products',
 'halter',
 'kettle',
 'kitchen',
 'refrigerator,fridge',
 'ostrich',
 'bathtub',
 'blinds',
 'court',
 'urinal',
 'knee pads',
 'bed',
 'flamingo',
 'giraffe',
 'helmet',
 'giraffes',
 'tennis court',
 'motorcycle',
 'laptop',
 'tea pot',
 'horse',
 'television,tv',
 'shorts',
 'manhole',
 'dishwasher',
 'jeans',
 'sail',
 'monitor',
 'man',
 'shirt',
 'car',
 'cat',
 'garage door',
 'bus',
 'radiator',
 'tights',
 'sailboat,sail boat',
 'racket,racquet',
 'plate',
 'rock wall',
 'beach',
 'trolley',
 'ocean',
 'headboard,head board',
 'tea kettle',
 'wetsuit',
 'tennis racket,tennis racquet',
 'sink',
 'train',
 'keyboard',
 'sky',
 'match',
 'train station',
 'stereo',
 'bats',
 'tennis player',
 'toilet brush',
 'lighter',
 'pepper shaker',
 'gazebo',
 'hair dryer',
 'elephant',
 'toilet seat',
 'zebra',
 'skateboard,skate board',
 'zebras',
 'floor lamp',
 'french fries',
 'woman',
 'player',
 'tower',
 'bicycle',
 'magazines',
 'christmas tree',
 'umbrella',
 'cow',
 'pants',
 'bike',
 'field',
 'living room',
 'latch',
 'bedroom',
 'grape',
 'castle',
 'table',
 'swan',
 'blender',
 'orange',
 'teddy bear',
 'net',
 'meter',
 'baseball field',
 'runway',
 'screen',
 'ski boot',
 'dog',
 'clock',
 'hair',
 'avocado',
 'highway',
 'skirt',
 'frisbee',
 'parasail',
 'desk',
 'pizza',
 'mouse',
 'sign',
 'shower curtain',
 'polar bear',
 'airplane',
 'jersey',
 'reigns',
 'hot dog,hotdog',
 'surfboard,surf board',
 'couch',
 'glass',
 'snowboard',
 'girl',
 'plane',
 'elephants',
 'oven',
 'dirt bike',
 'tail wing',
 'area rug',
 'bear',
 'washer',
 'date',
 'bow tie',
 'cows',
 'fire extinguisher',
 'bamboo',
 'wallet',
 'tail feathers',
 'truck',
 'beach chair',
 'boat',
 'tablet',
 'ceiling',
 'chandelier',
 'sheep',
 'glasses',
 'ram',
 'kite',
 'salad',
 'pillow',
 'fire hydrant,hydrant',
 'mug',
 'tarmac',
 'computer',
 'swimsuit',
 'tomato',
 'tire',
 'cauliflower',
 'fireplace',
 'snow',
 'building',
 'sandwich',
 'weather vane',
 'bird',
 'jacket',
 'chair',
 'water',
 'cats',
 'soccer ball',
 'horses',
 'drapes',
 'barn',
 'engine',
 'cake',
 'head',
 'head band',
 'skier',
 'town',
 'bath tub',
 'bowl',
 'stove',
 'tongue',
 'coffee table',
 'floor',
 'uniform',
 'ottoman',
 'broccoli',
 'olive',
 'mound',
 'pitcher',
 'food',
 'paintings',
 'traffic light',
 'parking meter',
 'bananas',
 'mountain',
 'cage',
 'hedge',
 'motorcycles',
 'wet suit',
 'radish',
 'teddy bears',
 'monitors',
 'suitcase,suit case',
 'drawers',
 'grass',
 'apple',
 'lamp',
 'goggles',
 'boy',
 'armchair',
 'ramp',
 'burner',
 'lamb',
 'cup',
 'tank top',
 'boats',
 'hat',
 'soup',
 'fence',
 'necklace',
 'visor',
 'coffee',
 'bottle',
 'stool',
 'shoe',
 'surfer',
 'stop',
 'backpack',
 'shin guard',
 'wii remote',
 'wall',
 'pizza slice',
 'home plate',
 'van',
 'packet',
 'earrings',
 'wristband',
 'tracks',
 'mitt',
 'dome',
 'snowboarder',
 'faucet',
 'toiletries',
 'ski boots',
 'room',
 'fork',
 'snow suit',
 'banana slice',
 'bench',
 'tie',
 'burners',
 'stuffed animals',
 'zoo',
 'train platform',
 'cupcake',
 'curtain',
 'ear',
 'tissue box',
 'bread',
 'scissors',
 'vase',
 'herd',
 'smoke',
 'skylight',
 'cub',
 'tail',
 'cutting board',
 'wave',
 'hedges',
 'windshield',
 'apples',
 'mirror',
 'license plate',
 'tree',
 'wheel',
 'ski pole',
 'clock tower',
 'freezer',
 'luggage',
 'skateboarder',
 'mousepad',
 'road',
 'bat',
 'toilet tank',
 'vanity',
 'neck',
 'cliff',
 'tub',
 'sprinkles',
 'dresser',
 'street',
 'wing',
 'suit',
 'veggie',
 'palm trees',
 'urinals',
 'door',
 'propeller',
 'keys',
 'skate park',
 'platform',
 'pot',
 'towel',
 'computer monitor',
 'flip flop',
 'eggs',
 'shed',
 'moped',
 'sand',
 'face',
 'scissor',
 'carts',
 'squash',
 'pillows',
 'family',
 'glove',
 'rug',
 'watch',
 'grafitti',
 'dogs',
 'scoreboard',
 'basket',
 'poster',
 'duck',
 'horns',
 'bears',
 'jeep',
 'painting',
 'lighthouse',
 'remote control',
 'toaster',
 'vegetables',
 'surfboards',
 'ducks',
 'lane',
 'carrots',
 'market',
 'paper towels',
 'island',
 'blueberries',
 'smile',
 'balloons',
 'stroller',
 'napkin',
 'towels',
 'papers',
 'person',
 'train tracks',
 'child',
 'headband',
 'pool',
 'plant',
 'harbor',
 'counter',
 'hand',
 'house',
 'donut,doughnut',
 'knot',
 'soccer player',
 'seagull',
 'bottles',
 'buses',
 'coat',
 'trees',
 'geese',
 'bun',
 'toilet bowl',
 'trunk',
 'station',
 'bikini',
 'goatee',
 'lounge chair',
 'breakfast',
 'nose',
 'moon',
 'river',
 'racer',
 'picture',
 'shaker',
 'sidewalk,side walk',
 'shutters',
 'stove top,stovetop',
 'church',
 'lampshade',
 'map',
 'shop',
 'platter',
 'airport',
 'hoodie',
 'oranges',
 'woods',
 'enclosure',
 'skatepark',
 'vases',
 'city',
 'park',
 'mailbox',
 'balloon',
 'billboard',
 'pasture',
 'portrait',
 'forehead',
 'ship',
 'cookie',
 'seaweed',
 'sofa',
 'slats',
 'tomato slice',
 'tractor',
 'bull',
 'suitcases',
 'graffiti',
 'policeman',
 'remotes',
 'pens',
 'window sill',
 'suspenders',
 'easel',
 'tray',
 'straw',
 'collar',
 'shower',
 'bag',
 'scooter',
 'tails',
 'toilet lid',
 'panda',
 'comforter',
 'outlet',
 'stems',
 'valley',
 'flag',
 'jockey',
 'gravel',
 'mouth',
 'window',
 'bridge',
 'corn',
 'mountains',
 'beer',
 "pitcher's mound",
 'palm tree',
 'crowd',
 'skis',
 'phone',
 'banana bunch',
 'tennis shoe',
 'ground',
 'carpet',
 'eye',
 'urn',
 'beak',
 'giraffe head',
 'steeple',
 'mattress',
 'baseball player',
 'wine',
 'water bottle',
 'kitten',
 'archway',
 'candle',
 'croissant',
 'tennis ball',
 'dress',
 'column',
 'utensils',
 'cell phone',
 'computer mouse',
 'cap',
 'lawn',
 'airplanes',
 'carriage',
 'snout',
 'cabinets',
 'lemons',
 'grill',
 'umbrellas',
 'meat',
 'wagon',
 'ipod',
 'bookshelf',
 'cart',
 'roof',
 'hay',
 'ski pants',
 'seat',
 'mane',
 'bikes',
 'drawer',
 'game',
 'clock face',
 'boys',
 'rider',
 'fire escape',
 'slope',
 'iphone',
 'pumpkin',
 'pan',
 'chopsticks',
 'hill',
 'uniforms',
 'cleat',
 'costume',
 'cabin',
 'police officer',
 'ears',
 'egg',
 'trash can',
 'horn',
 'arrow',
 'toothbrush',
 'carrot',
 'banana',
 'planes',
 'garden',
 'forest',
 'brocolli',
 'aircraft',
 'front window',
 'dashboard',
 'statue',
 'saucer',
 'people',
 'silverware',
 'fruit',
 'drain',
 'jet',
 'speaker',
 'eyes',
 'railway',
 'lid',
 'soap',
 'rocks',
 'office chair',
 'door knob',
 'banana peel',
 'baseball game',
 'asparagus',
 'spoon',
 'cabinet door',
 'pineapple',
 'traffic cone',
 'nightstand,night stand',
 'teapot',
 'taxi',
 'chimney',
 'lake',
 'suit jacket',
 'train engine',
 'ball',
 'wrist band',
 'pickle',
 'fruits',
 'pad',
 'dispenser',
 'bridle',
 'breast',
 'cones',
 'headlight',
 'necktie',
 'skater',
 'toilet paper',
 'skyscraper',
 'telephone',
 'ox',
 'roadway',
 'sock',
 'paddle',
 'dishes',
 'hills',
 'street sign',
 'headlights',
 'benches',
 'fuselage',
 'card',
 'napkins',
 'bush',
 'rice',
 'computer screen',
 'spokes',
 'flowers',
 'bucket',
 'rock',
 'pole',
 'pear',
 'sauce',
 'store',
 'juice',
 'knobs',
 'mustard',
 'ski',
 'stands',
 'cabinet',
 'dirt',
 'goats',
 'wine glass',
 'spectators',
 'crate',
 'pancakes',
 'kids',
 'engines',
 'shade',
 'feeder',
 'cellphone',
 'pepper',
 'blanket',
 'sunglasses',
 'train car',
 'magnet',
 'donuts,doughnuts',
 'sweater',
 'signal',
 'advertisement',
 'log',
 'vent',
 'whiskers',
 'adult',
 'arch',
 'locomotive',
 'tennis match',
 'tent',
 'motorbike',
 'magnets',
 'night',
 'marina',
 'wool',
 'vest',
 'railroad tracks',
 'stuffed bear',
 'moustache',
 'bib',
 'frame',
 'snow pants',
 'tank',
 'undershirt',
 'icons',
 'neck tie',
 'beams',
 'baseball bat',
 'safety cone',
 'paper towel',
 'bedspread',
 'can',
 'container',
 'flower',
 'vehicle',
 'tomatoes',
 'back wheel',
 'soccer field',
 'nostril',
 'suv',
 'buildings',
 'canopy',
 'flame',
 'kid',
 'baseball',
 'throw pillow',
 'belt',
 'rainbow',
 'lemon',
 'oven door',
 'tag',
 'books',
 'monument',
 'men',
 'shadow',
 'bicycles',
 'cars',
 'lamp shade',
 'pine tree',
 'bouquet',
 'toothpaste',
 'potato',
 'sinks',
 'hook',
 'switch',
 'lamp post,lamppost',
 'lapel',
 'desert',
 'knob',
 'chairs',
 'pasta',
 'feathers',
 'hole',
 'meal',
 'station wagon',
 'kites',
 'boots',
 'baby',
 'biker',
 'gate',
 'signal light',
 'headphones',
 'goat',
 'waves',
 'bumper',
 'bud',
 'logo',
 'curtains',
 'american flag',
 'yacht',
 'box',
 'baseball cap',
 'fries',
 'controller',
 'awning',
 'path',
 'front legs',
 'life jacket',
 'purse',
 'outfield',
 'pigeon',
 'toddler',
 'beard',
 'thumb',
 'water tank',
 'board',
 'parade',
 'robe',
 'newspaper',
 'wires',
 'camera',
 'pastries',
 'deck',
 'watermelon',
 'clouds',
 'deer',
 'motorcyclist',
 'kneepad',
 'sneakers',
 'women',
 'onions',
 'eyebrow',
 'gas station',
 'vane',
 'girls',
 'trash',
 'numerals',
 'knife',
 'tags',
 'light',
 'bunch',
 'outfit',
 'groom',
 'infield',
 'frosting',
 'forks',
 'entertainment center',
 'stuffed animal',
 'yard',
 'numeral',
 'ladder',
 'shoes',
 'bracelet',
 'teeth',
 'guy',
 'display case',
 'cushion',
 'post',
 'pathway',
 'tablecloth',
 'skiers',
 'trouser',
 'cloud',
 'hands',
 'produce',
 'beam',
 'ketchup',
 'paw',
 'dish',
 'raft',
 'crosswalk',
 'front wheel',
 'toast',
 'cattle',
 'players',
 'group',
 'coffee pot',
 'track',
 'cowboy hat',
 'petal',
 'eyeglasses',
 'handle',
 'table cloth',
 'jets',
 'shakers',
 'remote',
 'snowsuit',
 'bushes',
 'dessert',
 'leg',
 'eagle',
 'fire truck,firetruck',
 'game controller',
 'smartphone',
 'backsplash',
 'trains',
 'shore',
 'signs',
 'bell',
 'cupboards',
 'sweat band',
 'sack',
 'ankle',
 'coin slot',
 'bagel',
 'masts',
 'police',
 'drawing',
 'biscuit',
 'toy',
 'legs',
 'pavement',
 'outside',
 'wheels',
 'driver',
 'numbers',
 'blazer',
 'pen',
 'cabbage',
 'trucks',
 'key',
 'saddle',
 'pillow case',
 'goose',
 'label',
 'boulder',
 'pajamas',
 'wrist',
 'shelf',
 'cross',
 'coffee cup',
 'foliage',
 'lot',
 'fry',
 'air',
 'officer',
 'pepperoni',
 'cheese',
 'lady',
 'kickstand',
 'counter top',
 'veggies',
 'baseball uniform',
 'book shelf',
 'bags',
 'pickles',
 'stand',
 'netting',
 'lettuce',
 'facial hair',
 'lime',
 'animals',
 'drape',
 'boot',
 'railing',
 'end table',
 'shin guards',
 'steps',
 'trashcan',
 'tusk',
 'head light',
 'walkway',
 'cockpit',
 'tennis net',
 'animal',
 'boardwalk',
 'keypad',
 'bookcase',
 'blueberry',
 'trash bag',
 'ski poles',
 'parking lot',
 'gas tank',
 'beds',
 'fan',
 'base',
 'soap dispenser',
 'banner',
 'life vest',
 'train front',
 'word',
 'cab',
 'liquid',
 'exhaust pipe',
 'sneaker',
 'light fixture',
 'power lines',
 'curb',
 'scene',
 'buttons',
 'roman numerals',
 'muzzle',
 'sticker',
 'bacon',
 'pizzas',
 'paper',
 'feet',
 'stairs',
 'triangle',
 'plants',
 'rope',
 'beans',
 'brim',
 'beverage',
 'letters',
 'soda',
 'menu',
 'finger',
 'dvds',
 'candles',
 'picnic table',
 'wine bottle',
 'pencil',
 'tree trunk',
 'nail',
 'mantle',
 'countertop',
 'view',
 'line',
 'motor bike',
 'audience',
 'traffic sign',
 'arm',
 'pedestrian',
 'stabilizer',
 'dock',
 'doorway',
 'bedding',
 'end',
 'worker',
 'canal',
 'crane',
 'grate',
 'little girl',
 'rims',
 'passenger car',
 'plates',
 'background',
 'peel',
 'brake light',
 'roman numeral',
 'string',
 'tines',
 'turf',
 'armrest',
 'shower head',
 'leash',
 'stones',
 'stoplight',
 'handle bars',
 'front',
 'scarf',
 'band',
 'jean',
 'tennis',
 'pile',
 'doorknob',
 'foot',
 'houses',
 'windows',
 'restaurant',
 'booth',
 'cardboard box',
 'fingers',
 'mountain range',
 'bleachers',
 'rail',
 'pastry',
 'canoe',
 'sun',
 'eye glasses',
 'salt shaker',
 'number',
 'fish',
 'knee pad',
 'fur',
 'she',
 'shower door',
 'rod',
 'branches',
 'birds',
 ...]

In [ ]:
df.iloc½