In [7]:
import pandas as pd
import glob
import os
import json
import sys
from collections import Counter
import numpy as np
from IPython.display import display_html 
pd.set_option('max_colwidth',200)
pd.set_option('max_rows',500)

# to show multiple tables side by side
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [8]:
imgs = pd.read_csv('all_responses_round0-3_cleaned.csv',sep="\t")

In [9]:
imgs.columns

Index(['Unnamed: 0', 'vg_img_id', 'cat', 'synset', 'vg_obj_name',
       'responses_r0', 'opt-outs', 'vg_domain', 'top_response_domain_r0',
       'responses_domains_r0', 'url', 'sample_type', 'responses_domains_r1',
       'responses_r1', 'top_response_domain_r1', 'responses_domains_r2',
       'responses_r2', 'top_response_domain_r2', 'responses_domains_r3',
       'responses_r3', 'top_response_domain_r3', 'vg_object_id',
       'all_responses', 'clean', 'canon', 'spellchecked'],
      dtype='object')

In [10]:
#imgs[['spellchecked','url']].head(50)

In [11]:
#pd.crosstab(df.top_response_domain_r1,df.top_response_domain_r2)

In [12]:
#pairs[pairs.totalfreq].sort_values(['relation','freq_both_orders'],ascending=[True, False])

In [48]:
df = pd.read_csv('domains_names_pairs_relations_v2.csv',index_col=0)
#b1=df.str.startswith('man')
df.columns=['domain', 'word1', 'word2', 'relation', 'totalfreq', 'freq_w1_w2',
       'freq_w2_w1', 'domain_w1', 'domain_w2', 'syn_w1', 'syn_w2']
df.head()
#df[df.word1=="man"].sort_values('totalfreq',ascending=False)
#df[(df.word1=="man") & (df.word2=="shirt")]
#df[df.freq_w2_w1 > df.freq_w1_w2]
df[(df.relation=="not-covered")].sort_values('totalfreq',ascending=False).head(100)

,domain,word1,word2,relation,totalfreq,freq_w1_w2,freq_w2_w1,domain_w1,domain_w2,syn_w1,syn_w2
735,vehicles,train,train car,not-covered,322,322,0,vehicles,vehicles,0,0
1033,home,counter,kitchen counter,not-covered,240,240,0,home,home,0,0
1676,clothing,jacket,suit jacket,not-covered,239,239,0,clothing,clothing,0,0
1678,clothing,suit,suit jacket,not-covered,232,232,0,clothing,clothing,0,0
2858,vehicles,truck,food truck,not-covered,191,191,0,vehicles,vehicles,0,0
1038,home,countertop,kitchen counter,not-covered,181,161,20,home,home,0,0
35,clothing,jacket,hoodie,not-covered,171,148,23,clothing,clothing,0,0
620,food,pizza,pizza slice,not-covered,169,169,0,food,food,0,0
4185,vehicles,train,train engine,not-covered,167,167,0,vehicles,vehicles,0,0
1042,home,table,kitchen counter,not-covered,150,122,28,home,home,0,0
6373,clothing,tie,suit jacket,not-covered,149,122,27,clothing,clothing,0,0
2092,vehicles,truck,firetruck,not-covered,147,119,28,vehicles,vehicles,0,0
930,people,person,frisbee player,not-covered,133,109,24,people,people,0,0
88,home,desk,computer desk,not-covered,132,132,0,home,home,0,0
46,clothing,shirt,hoodie,not-covered,122,91,31,clothing,clothing,0,0
352,vehicles,airplane,fighter jet,not-covered,122,122,0,vehicles,vehicles,0,0
349,vehicles,plane,fighter jet,not-covered,122,122,0,vehicles,vehicles,0,0
355,vehicles,jet,fighter jet,not-covered,114,110,4,vehicles,vehicles,0,0
929,people,man,frisbee player,not-covered,114,110,4,people,people,0,0
1066,home,sink,bathroom sink,not-covered,110,107,3,home,home,0,0
1679,clothing,coat,suit jacket,not-covered,110,77,33,clothing,clothing,0,0
42,clothing,hoodie,sweatshirt,not-covered,109,60,49,clothing,clothing,0,0
1064,home,counter,bathroom counter,not-covered,109,109,0,home,home,0,0
1969,home,table,computer desk,not-covered,107,103,4,home,home,0,0
1061,home,counter,bathroom sink,not-covered,106,105,1,home,home,0,0
1069,home,sink,bathroom counter,not-covered,103,101,2,home,home,0,0
931,people,player,frisbee player,not-covered,101,75,26,people,people,0,0
6391,home,bed,bedsheets,not-covered,101,100,1,home,home,0,0
623,food,food,pizza slice,not-covered,99,61,38,food,food,0,0
1074,home,vanity,bathroom counter,not-covered,93,89,4,home,home,0,0
1071,home,vanity,bathroom sink,not-covered,92,84,8,home,home,0,0
2191,people,person,sky board,not-covered,89,74,15,people,people,0,0
1696,people,person,skating board,not-covered,89,85,4,people,people,0,0
1694,people,man,skating board,not-covered,89,88,1,people,people,0,0
2863,vehicles,food truck,van,not-covered,88,56,32,vehicles,vehicles,0,0
1692,people,skater,skating board,not-covered,85,84,1,people,people,0,0
1701,people,skateboarder,skating board,not-covered,84,84,0,people,people,0,0
6061,clothing,shirt,suit jacket,not-covered,83,47,36,clothing,clothing,0,0
2185,people,man,sky board,not-covered,76,76,0,people,people,0,0
2537,vehicles,truck,semi truck,not-covered,72,72,0,vehicles,vehicles,0,0
1032,home,counter,kitchen countertop,not-covered,71,71,0,home,home,0,0
4472,clothing,hoodie,sweater,not-covered,68,49,19,clothing,clothing,0,0
91,home,keyboard,computer desk,not-covered,67,60,7,home,home,0,0
2210,people,woman,frisbee player,not-covered,67,63,4,people,people,0,0
10280,people,t-shirt,frisbee player,not-covered,67,45,22,clothing,people,0,0
15617,clothing,blazer,suit jacket,not-covered,66,33,33,clothing,clothing,0,0
6059,clothing,suit jacket,blazer,not-covered,66,33,33,clothing,clothing,0,0
3036,home,bench,sitting bench,not-covered,59,59,0,home,home,0,0
5246,home,sink,kitchen counter,not-covered,59,42,17,home,home,0,0
2627,people,man,biker,not-covered,59,59,0,people,people,0,0
978,people,skateboarder,sky board,not-covered,59,59,0,people,people,0,0
975,people,skater,sky board,not-covered,59,59,0,people,people,0,0
2901,home,countertop,bathroom counter,not-covered,58,44,14,home,home,0,0
1768,home,cabinet,hatstand,not-covered,56,47,9,home,home,0,0
934,people,boy,frisbee player,not-covered,56,48,8,people,people,0,0
3758,animals_plants,toy,stuffed animal,not-covered,56,56,0,home,animals_plants,0,0
3648,people,shoe,frisbee player,not-covered,55,33,22,people,people,0,0
145,food,pizza,pizza toppings,not-covered,55,55,0,food,food,0,0
2862,vehicles,food truck,vehicle,not-covered,55,44,11,vehicles,vehicles,0,0
5251,home,cabinet,kitchen counter,not-covered,54,42,12,home,home,0,0
1041,home,table,kitchen countertop,not-covered,53,53,0,home,home,0,0
483,food,food,pizza toppings,not-covered,52,49,3,food,food,0,0
10606,vehicles,truck,pick up truck,not-covered,52,52,0,vehicles,vehicles,0,0
5253,home,kitchen,kitchen counter,not-covered,52,28,24,home,home,0,0
3841,food,pizza slice,slice,not-covered,52,30,22,food,food,0,0
4186,vehicles,train engine,locomotive,not-covered,51,28,23,vehicles,vehicles,0,0
3911,home,table,picnic table,not-covered,49,49,0,home,home,0,0
10608,vehicles,car,pick up truck,not-covered,48,45,3,vehicles,vehicles,0,0
8828,home,bed,bed set,not-covered,48,48,0,home,home,0,0
2632,people,biker,person,not-covered,47,25,22,people,people,0,0
4730,home,vase,flower vase,not-covered,47,46,1,home,home,0,0
21788,home,chair,sitting bench,not-covered,46,46,0,home,home,0,0
980,people,boy,sky board,not-covered,46,42,4,people,people,0,0
3708,home,rug,area rug,not-covered,44,44,0,home,home,0,0
4647,home,desk,keyboarder,not-covered,44,44,0,home,home,0,0
1698,people,boy,skating board,not-covered,44,43,1,people,people,0,0
1037,home,countertop,kitchen countertop,not-covered,44,44,0,home,home,0,0
5044,clothing,jacket,suit coat,not-covered,43,43,0,clothing,clothing,0,0
3710,home,carpet,area rug,not-covered,43,43,0,home,home,0,0
2215,people,frisbee player,athlete,not-covered,43,22,21,people,people,0,0
1787,home,table,hatstand,not-covered,42,35,7,home,home,0,0
2899,home,countertop,bathroom sink,not-covered,42,32,10,home,home,0,0
12740,clothing,t-shirt,hoodie,not-covered,42,24,18,clothing,clothing,0,0
10650,clothing,coat,hoodie,not-covered,42,24,18,clothing,clothing,0,0
485,food,cheese,pizza toppings,not-covered,41,37,4,food,food,0,0
8156,home,laptop,computer desk,not-covered,41,37,4,home,home,0,0
1776,home,entertainment center,hatstand,not-covered,41,28,13,home,home,0,0
2213,people,girl,frisbee player,not-covered,41,36,5,people,people,0,0
625,food,plate,pizza slice,not-covered,41,25,16,food,food,0,0
5426,clothing,suit,suit coat,not-covered,39,39,0,clothing,clothing,0,0
13473,people,shoe,skating board,not-covered,39,38,1,people,people,0,0
9846,home,bench,picnic table,not-covered,38,27,11,home,home,0,0
6041,vehicles,food truck,wheel,not-covered,37,25,12,vehicles,vehicles,0,0
1354,food,pizza,slice of pizza,not-covered,37,37,0,food,food,0,0
2195,people,shoe,sky board,not-covered,37,32,5,people,people,0,0
7917,home,chair,office chair,not-covered,37,37,0,home,home,0,0
4650,home,table,keyboarder,not-covered,37,33,4,home,home,0,0
12305,vehicles,truck,box truck,not-covered,36,36,0,vehicles,vehicles,0,0
2096,vehicles,firetruck,fire truck,not-covered,35,31,4,vehicles,vehicles,0,0
3855,home,bowl,fruit bowl,not-covered,35,35,0,home,home,0,0

In [14]:
df[df.relation=="crossclassified"].domain.value_counts()

home              20286
people            12275
clothing           6833
buildings          6510
vehicles           5910
food               4231
animals_plants     3451
Name: domain, dtype: int64

In [62]:
#df.groupby(['domain','same_object'])['freq_w1_w2'].agg({'type': 'count', 'token': 'sum'})
ft=pd.crosstab(df.domain,df.same_object,margins=True,normalize='index')
#f=df[df.same_object=='f']
display_side_by_side(ft)

same_object,f,t
domain,,
animals_plants,0.620000,0.380000
buildings,0.700000,0.300000
clothing,0.550000,0.450000
food,0.720000,0.280000
home,0.890000,0.110000
people,0.620000,0.380000
vehicles,0.750000,0.250000
All,0.692857,0.307143

In [50]:
df=pd.read_csv('pairs-annotation/annotated-crossclasssified-pairs-alldomains.csv',index_col=0)
df.head()
f_all=df[df.same_object=='f'].subrelation.value_counts()
t_all=df[df.same_object=='t'].subrelation.value_counts()
print("false, subrelations:")
print("true, subrelations:")

print(f_all)
print(t_all)

false, subrelations:
true, subrelations:
adjacent      167
supports.1    122
part.2        102
supports.2     64
part.1         20
other          10
Name: subrelation, dtype: int64
co-hyponyms    104
overlapping     69
hypernym.1      18
hypernym.2      16
other            8
Name: subrelation, dtype: int64

In [36]:
#temp=df[df.subrelation!="other"]
temp=df
f=temp[temp.same_object=='f']
t=temp[temp.same_object=='t']
myt=pd.crosstab(f.domain,f.subrelation,margins=True)
myt.iloc[:, np.argsort(myt.loc['All'])]

subrelation     other  part.1  supports.2  part.2  supports.1  adjacent  All
domain
animals_plants      3       1           3       6           2        47   62
buildings           2       3           2      19           1        43   70
clothing            0       0          24       0           3        28   55
food                0       1          14      25          11        21   72
home                0       7           2       8          63         9   89
people              0       0          16       0          42         4   62
vehicles            5       8           3      44           0        15   75
All                10      20          64     102         122       167  485

In [37]:
myt2=pd.crosstab(t.domain,t.subrelation,margins=True)
myt2.iloc[:, np.argsort(myt2.loc['All'])]

subrelation     other  hypernym.2  hypernym.1  overlapping  co-hyponyms  All
domain
animals_plants      0           2           2           14           20   38
buildings           1           0           4            6           19   30
clothing            0           3           8            2           32   45
food                2           5           0           14            7   28
home                2           0           0            2            7   11
people              1           3           0           31            3   38
vehicles            2           3           4            0           16   25
All                 8          16          18           69          104  215

In [38]:
#f[f.subrelation=="adjacent"]

Empty DataFrame
Columns: [domain, word1, word2, relation, same_object, subrelation, totalfreq, freq_w1_w2, freq_w2_w1, domain_w1, domain_w2, syn_w1, syn_w2]
Index: []

In [61]:
for r in f.subrelation.unique():
    print(r)
    a=f[f.subrelation==r].sample(8)
    print(a[['domain','word1','word2']])

adjacent
               domain     word1     word2
2914             food  sandwich     pizza
3366   animals_plants   giraffe      pole
11798  animals_plants     horse    jacket
12497            food  toppings     plate
14045       buildings  building     truck
10918        vehicles      boat     truck
17861  animals_plants     sheep     flock
23390       buildings     truck  building
other
              domain     word1    word2
2517  animals_plants      bird     wood
3820       buildings     house   wooden
7709  animals_plants     horse     wood
1730        vehicles     plane   flight
5409  animals_plants   giraffe   wooden
1752        vehicles     plane  airline
1733        vehicles       jet   flight
1727        vehicles  airplane   flight
part.2
         domain     word1   word2
12012      food  sandwich  cheese
1729   vehicles     plane    wing
12007      food    burger  cheese
10673      food     bread    meat
657    vehicles   vehicle  window
479        food     pizza  cheese
2884   vehicles     plane   wheel
138    vehicles     truck   wheel
part.1
          domain     word1       word2
989         home      sink      vanity
3865    vehicles     wheel  automobile
4654        home  keyboard      laptop
3678    vehicles     train     railcar
35813  buildings    window        home
2971   buildings    tracks      bridge
18413   vehicles     wheel        jeep
5422    vehicles     wheel        semi
supports.1
      domain   word1      word2
467   people   woman    t-shirt
3276    food   plate  vegetable
6786    home   chair        dog
119   people   woman      dress
1020    home   table   keyboard
20    people  player        bat
296   people     boy       shoe
7185    home    desk        cat
supports.2
        domain    word1    word2
5510  clothing      tie      man
41    clothing    shirt      man
4231  clothing  sweater    woman
4205  clothing   jacket    woman
488   clothing  t-shirt      man
966     people     shoe  athlete
729     people      boy    dress
5052  clothing     suit      man