In [2]:
import pandas as pd
import glob
import os
import json
import sys
from collections import Counter
import numpy as np

In [3]:
from load_results import *

In [4]:
hitfile = "../amt_pilot/pilot01c2019/production/created_2019-Jan-29_18_22_44_final.json"
hit2images = process_hits(hitfile)

In [5]:
resultfile = "../amt_pilot/pilot01c2019/production/results3/created_2019-Jan-29_18_22_44_final.json"
rdf = process_answers(resultfile,hit2images)

36MUZ9VAE77W39MGSAQA70L4IPAED9
368IUKXGA6D1FRWRR1Y7V6AGFAP6PU
3L1EFR8WWUAC6X9VB55E3MNE35A9F5
3CMV9YRYP46NC1W0JSZPNT61W68JLF

In [6]:
rdf

,vg_img_id,vg_object_id,cat,synset,url,responses
0,2389064,507067,ambiguous_synset,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'ottoman': 25, 'outtoman': 1, 'sofar': 1, 'po..."
1,2316226,1055203,ambiguous_synset,aircraft.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'jet fighter': 2, 'jet': 18, 'aircraft': 1, '..."
2,2398812,1175558,ambiguous_synset,horse.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'horse head': 6, 'horse': 28, 'horse's head':..."
3,2403052,383993,ambiguous_synset,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'baby zebra': 1, 'zebra': 37, 'line horse': 1}"
4,2393917,1215702,singleton_category,flower.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'sunflower': 29, 'sun flower': 4, 'flower': 5..."
5,2363125,2056940,singleton_category,overgarment.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'jacket': 22, 'man': 1, 'coat': 2, 'shirt': 1..."
6,2356851,3120857,singleton_obj,flower.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'dandelion': 6, 'flower': 26, 'marigold': 1, ..."
7,2405320,654642,ambiguous_category,overgarment.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'man': 2, 'baby sling': 2, 'towel': 1, 'napki..."
8,2393669,1217850,ambiguous_category,car.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'car': 35, 'automobile': 1, 'vehicle': 2, 'ca..."
9,2330865,2895016,singleton_category,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'dirt bike': 1, 'mat': 15, 'floor mat': 4, 'c..."
10,2417401,2805653,ambiguous_synset,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'bull': 16, 'cow': 12, 'oxen': 2, 'ox pulling..."
11,2362871,2391867,ambiguous_category,ship.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'ferry': 4, 'ship': 16, 'boat': 13, 'yaht': 1..."
12,2385325,1298357,singleton_category,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'sofa': 12, 'couch': 21, 'sofar': 1, 'settee'..."
13,2403323,354473,singleton_obj,horse.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'horse': 35, 'clydsdale': 1, 'horus': 1, 'cly..."
14,2367161,2481329,ambiguous_synset,neckwear.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'tie': 22, 'necktie': 5, 'fabric': 1, 'neck t..."
15,2408164,266906,singleton_category,bird.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'penguin': 25, 'bird': 9, 'baby penguin': 1, ..."
16,4070,1556532,ambiguous_synset,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'carpet': 27, 'bed skirt': 1, 'floor': 4, 'ru..."
17,2384721,1305893,singleton_category,overgarment.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'jacket': 22, 'rain jacket': 1, 'man': 4, 've..."
18,2327756,2739137,singleton_obj,headdress.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'beanie': 4, 'face': 11, 'man': 6, 'touque': ..."
19,2373806,1986195,ambiguous_synset,car.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'police officer': 4, 'police': 2, 'man': 1, '..."
20,2365594,2254805,singleton_category,aircraft.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'baby': 3, 'balloon': 12, 'newborn': 1, 'peop..."
21,2316079,3206535,ambiguous_synset,neckwear.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'tie': 1, 'bowtie': 12, 'bow tie': 8, 'bow': ..."
22,2417043,3198072,ambiguous_category,car.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'van': 16, 'bus': 14, 'minibus': 1, 'tour-bus..."
23,2370234,1757900,singleton_category,bird.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'bird': 31, 'bad': 1, 'bird with very long be..."
24,2397143,436817,singleton_obj,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'desk': 22, 'filing cabinet': 1, 'drawers': 1..."
25,2370214,605402,singleton_category,overgarment.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'man': 2, 'top': 1, 'pancho': 3, 'poncho': 19..."
26,2390817,1246716,singleton_category,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'cat': 3, 'curtain': 27, 'curtains': 1, 'wind..."
27,2319108,1004620,ambiguous_synset,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'gizelle': 1, 'gazelle': 8, 'ram': 2, 'antelo..."
28,2333895,3489083,singleton_category,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'sheep': 32, 'lamb': 1}"
29,2343599,921837,ambiguous_category,headdress.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'helmet': 27, 'hat': 4, 'white helment': 1, '..."
30,2391964,484515,ambiguous_synset,bird.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'flamingo': 36, 'crane': 1, 'pink flamingo': ..."
31,2349445,874713,singleton_category,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'cat': 12, 'bench': 12, 'washing line': 1, 'c..."
32,2350885,864652,singleton_category,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'cat': 22, 'sofas': 1, 'couch': 4, 'picture':..."
33,2356284,1694677,ambiguous_synset,boat.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'boat': 30, 'canoe': 1, 'rowboat': 3, 'row bo..."
34,2363673,763118,ambiguous_synset,bird.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'bird': 14, 'seagull': 14, 'birds': 1, 'pigeo..."
35,2382025,1331957,singleton_obj,aircraft.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'plane': 8, 'jet': 13, 'fighter jet': 7, 'air..."
36,2346998,894511,singleton_obj,train.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'train': 36, 'bus': 1, 'bullet train': 1, 'tr..."
37,2379445,552755,ambiguous_synset,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,{'zebra': 33}
38,2341107,3656954,singleton_category,headdress.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'hat': 35, 'brim of a hat': 1, 'fisherman's h..."
39,2349587,2162340,ambiguous_synset,bird.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'parrot': 31, 'tucan': 1, 'bird': 5, 'macaw': 2}"

In [7]:
def snodgrass_agreement(rdict,singletons=False):
   
    # to decide: do we include singleton answers for calculating agreement?
    if singletons:
        vec = np.array([rdict[key] for key in rdict])
    else:
        vec = np.array([rdict[key] for key in rdict if rdict[key] > 1])
    vec_rel = vec/(np.sum(vec))
    
    
    agr = np.sum(vec_rel * np.log2(1/vec_rel)) ## check whether this is correct
    
    return agr

In [9]:
rdf.iloc[0]

vg_img_id                                                 2389064
vg_object_id                                               507067
cat                                              ambiguous_synset
synset                                            furnishing.n.02
url             http://www.coli.uni-saarland.de/~carina/object...
responses       {'ottoman': 25, 'outtoman': 1, 'sofar': 1, 'po...
Name: 0, dtype: object

In [10]:
snodgrass_agreement(rdf.iloc[0]['responses'])

0.7167256591148785

In [11]:
snodgrass_agreement(rdf.iloc[0]['responses'], singletons=True)

2.319517976278159

In [ ]:
# the higher the value, the lower the agreement ...

In [12]:
rdf['agreement'] = rdf['responses'].apply(lambda x: snodgrass_agreement(x))

In [13]:
rdf.head()

,vg_img_id,vg_object_id,cat,synset,url,responses,agreement
0,2389064,507067,ambiguous_synset,furnishing.n.02,http://www.coli.uni-saarland.de/~carina/object...,"{'ottoman': 25, 'outtoman': 1, 'sofar': 1, 'po...",0.716726
1,2316226,1055203,ambiguous_synset,aircraft.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'jet fighter': 2, 'jet': 18, 'aircraft': 1, '...",1.794737
2,2398812,1175558,ambiguous_synset,horse.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'horse head': 6, 'horse': 28, 'horse's head':...",0.672295
3,2403052,383993,ambiguous_synset,ungulate.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'baby zebra': 1, 'zebra': 37, 'line horse': 1}",0.000000
4,2393917,1215702,singleton_category,flower.n.01,http://www.coli.uni-saarland.de/~carina/object...,"{'sunflower': 29, 'sun flower': 4, 'flower': 5...",1.024478

In [14]:
for c in set(list(rdf['synset'])):
    print(c,np.mean(rdf[rdf['synset'] == c]['agreement']))

horse.n.01 0.336147408537819
flower.n.01 1.0012466754063818
headdress.n.01 0.8171548916920622
car.n.01 1.3322622417991463
train.n.01 0.0
furnishing.n.02 0.8231917911982704
bird.n.01 0.6355574030756033
overgarment.n.01 1.5457667154451706
boat.n.01 0.943421043842116
ship.n.01 1.4048269576665082
aircraft.n.01 1.4830722003866263
neckwear.n.01 1.4629227466378505
ungulate.n.01 0.7588896472226224