In [1]:
import pandas as pd
import glob
import os
import json
import sys
from collections import Counter
import numpy as np
from IPython.display import display_html 
pd.set_option('max_colwidth',200)
pd.set_option('max_rows',500)

# to show multiple tables side by side
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [3]:
imgs = pd.read_csv('../proc_data_phase0/spellchecking/all_responses_round0-3_cleaned.csv',sep="\t")

In [4]:
imgs.columns

Index(['Unnamed: 0', 'vg_img_id', 'cat', 'synset', 'vg_obj_name',
       'responses_r0', 'opt-outs', 'vg_domain', 'top_response_domain_r0',
       'responses_domains_r0', 'url', 'sample_type', 'responses_domains_r1',
       'responses_r1', 'top_response_domain_r1', 'responses_domains_r2',
       'responses_r2', 'top_response_domain_r2', 'responses_domains_r3',
       'responses_r3', 'top_response_domain_r3', 'vg_object_id',
       'all_responses', 'clean', 'canon', 'spellchecked'],
      dtype='object')

In [9]:
imgs.vg_obj_name.value_counts()

train           954
giraffe         915
shirt           904
bed             888
boy             853
horse           822
man             806
woman           766
cat             754
bench           714
table           687
desk            672
dog             654
girl            650
car             642
pizza           518
counter         516
plane           485
airplane        479
motorcycle      466
truck           465
zebra           461
jacket          451
boat            450
couch           366
chair           365
lady            342
house           340
guy             330
cow             324
carpet          307
bird            295
bridge          274
coat            267
cake            261
child           230
bowl            219
sheep           216
dress           190
bread           186
curtain         182
cabinet         154
sandwich        153
bun             143
sofa            141
rug             140
batter          110
cheese          110
jet             106
dugout           91
vase             90
aircraft         85
kid              85
skateboarder     80
donut            78
hat              77
van              76
salad            70
knife            70
sauce            68
cup              67
motorbike        67
skier            67
t-shirt          62
bottle           53
tent             53
tie              51
fork             49
bull             48
bathtub          48
pot              45
blazer           43
tub              43
catcher          41
dresser          40
flower           40
goat             38
ship             35
blender          34
pan              34
restaurant       33
apple            33
bookcase         33
spoon            33
skater           30
scooter          30
lamp             29
pitcher          29
rice             27
hood             26
dish             25
soup             25
moped            25
vegetable        25
suv              25
furniture        23
overpass         23
jar              22
grill            22
pie              21
cap              20
puppy            20
athlete          19
duck             19
robe             19
parrot           18
garage           18
mouse            18
carpeting        17
toddler          17
hotel            16
pastry           15
toast            15
helicopter       15
castle           14
bucket           13
automobile       13
aeroplane        13
pickup           13
cupcake          13
jeep             13
gentleman        12
armchair         12
sedan            11
booth            11
necktie          11
shelter          10
bagel            10
shed             10
bath             10
dough             9
taxi              9
cabbage           9
apartment         9
pancake           9
airliner          9
hamburger         9
stool             8
pony              8
owl               8
dude              8
pasta             8
ketchup           7
helmet            7
tomato            7
drape             7
basin             7
minivan           7
fish              7
cookie            7
sectional         6
hut               6
wheelchair        6
seasoning         6
glove             6
ambulance         6
beef              6
loveseat          6
windbreaker       6
spatula           6
goose             6
palace            5
recliner          5
broth             5
cathedral         5
cereal            5
wrap              5
housing           5
bike              5
aquarium          5
gown              5
hose              5
bathrobe          5
canoe             5
gravy             5
butterfly         5
ox                5
beer              5
cot               5
seagull           5
squirrel          5
swan              5
person            4
forward           4
sugar             4
skillet           4
glider            4
wine              4
omelette          4
lion              4
milk              4
muffin            4
jug               4
buffet            4
crib              4
eagle             4
croissant         4
ferry             4
beanie            3
building          3
barge             3
bidet             3
flatbread         3
flour             3
lemon             3
cafe              3
kimono            3
turkey            3
bowtie            3
temple            3
drapery           3
peacock           3
bedframe          3
tanker            3
slaw              3
player            3
barber            3
hoagie            3
streetlight       3
vehicle           3
jetliner          3
desk.             3
sidecar           3
hummingbird       3
cheesecake        3
hitter            3
balloon           3
pavilion          3
waffle            3
pelican           3
goalie            3
raincoat          3
kayak             3
cheeseburger      3
sunflower         3
pig               3
bulldog           3
bowls             3
buffalo           3
blackberry        3
pigeon            2
hen               2
peacoat           2
goalkeeper        2
liquor            2
retriever         2
melon             2
penguin           2
daybed            2
lantern           2
chair.            2
hamster           2
syrup             2
spice             2
tabby             2
nurse             2
shack             2
marquee           2
guacamole         2
food              2
photographer      2
flamingo          2
engine            2
poodle            2
resort            2
ballplayer        2
mule              2
burrito           2
bovine            2
gerbil            2
rowboat           2
wok               2
pesto             2
man's             2
abbey             2
mayo              2
biscuit           2
hatchback         2
hawk              2
elk               2
mozzarella        2
cottage           2
highchair         2
artist            2
backstop          2
countertop        2
parka             2
seat              2
outhouse          2
lounge            2
dove              2
tortilla          2
pug               2
wardrobe          2
urn               2
coffee            2
juice             2
cooker            2
sari              2
turban            2
moose             2
footstool         1
poncho            1
birdbath          1
boar              1
crow              1
veggie            1
square            1
benching          1
head              1
charger           1
terrier           1
seabird           1
grasshopper       1
conductor         1
skiier            1
dugout.           1
llama             1
reindeer          1
tool              1
drone             1
radish            1
train's           1
bedstead          1
surfer            1
holstein          1
vulture           1
bean              1
overcoat          1
dolphin           1
carabao           1
boat.             1
cinderella        1
kitchenware       1
stand             1
chapel            1
quesadilla        1
wife              1
rhubarb           1
pail              1
pheasant          1
dirt              1
tofu              1
blt               1
salsa             1
caftan            1
shark             1
mare              1
part              1
bug               1
bookshelf         1
mountian          1
teapot            1
ale               1
yolk              1
batter's          1
baby              1
torte             1
tarpon            1
female            1
spreader          1
potato            1
stingray          1
man.              1
airplane"         1
infielder         1
goldfinch         1
mix               1
pro               1
mac               1
biplane           1
carport           1
bobcat            1
cameraman         1
mom               1
chowder           1
hippopotamus      1
teacher           1
tea               1
tugboat           1
bassinet          1
butter            1
tomcat            1
shawl             1
queen             1
pita              1
brat              1
condominium       1
dachshund         1
farmer            1
heifer            1
mitten            1
fence             1
casserole         1
teepee            1
cabinet.          1
gyro              1
instructor        1
body              1
dehydrated        1
blouse            1
baguette          1
surface           1
husky             1
seaplane          1
chick             1
daisy             1
souffle           1
romaine           1
tipper            1
house.            1
poultry           1
squeezer          1
top               1
maker             1
kettle            1
snowsuit          1
sweater           1
suit              1
doggy             1
doctor            1
truck.            1
chickadee         1
pagoda            1
yogurt            1
cornbread         1
canine            1
animal            1
caregiver         1
pinafore          1
pickle            1
cheetah           1
pew               1
lobster           1
shower            1
floor             1
oatmeal           1
teen              1
chaise            1
beverage          1
piece             1
bridegroom        1
dwelling          1
hutch             1
sauerkraut        1
upper             1
side              1
tumbler           1
saucepan          1
Name: vg_obj_name, dtype: int64

In [5]:
#pd.crosstab(df.top_response_domain_r1,df.top_response_domain_r2)

In [6]:
#pairs[pairs.totalfreq].sort_values(['relation','freq_both_orders'],ascending=[True, False])

In [7]:
df = pd.read_csv('domains_names_pairs_relations_v2.csv',index_col=0)
#b1=df.str.startswith('man')
df.columns=['domain', 'word1', 'word2', 'relation', 'totalfreq', 'freq_w1_w2',
       'freq_w2_w1', 'domain_w1', 'domain_w2', 'syn_w1', 'syn_w2']
df.head()
#df[df.word1=="man"].sort_values('totalfreq',ascending=False)
#df[(df.word1=="man") & (df.word2=="shirt")]
#df[df.freq_w2_w1 > df.freq_w1_w2]
#df[(df.relation=="not-covered")].sort_values('totalfreq',ascending=False).head(100)

,domain,word1,word2,relation,totalfreq,freq_w1_w2,freq_w2_w1,domain_w1,domain_w2,syn_w1,syn_w2
330,vehicles,airplane,plane,synonymy,15257,11326,3931,vehicles,vehicles,Synset('airplane.n.01'),Synset('airplane.n.01')
256,vehicles,motorcycle,bike,synonymy,2702,2673,29,vehicles,vehicles,Synset('motorcycle.n.01'),Synset('motorcycle.n.01')
331,vehicles,airplane,jet,hypernymy.1,1842,1670,172,vehicles,vehicles,Synset('airplane.n.01'),Synset('jet.n.01')
333,vehicles,plane,jet,hypernymy.1,1763,1488,275,vehicles,vehicles,Synset('airplane.n.01'),Synset('jet.n.01')
65,vehicles,truck,car,co-hyponymy,1564,1168,396,vehicles,vehicles,Synset('motor_vehicle.n.01'),Synset('motor_vehicle.n.01')

In [8]:
df[df.relation=="crossclassified"].domain.value_counts()

home              20286
people            12275
clothing           6833
buildings          6510
vehicles           5910
food               4231
animals_plants     3451
Name: domain, dtype: int64

In [9]:
df=pd.read_csv('pairs-annotation/annotated-crossclasssified-pairs-alldomains.csv',index_col=0)
df.head()
df.groupby(['domain','same_object'])['freq_w1_w2'].agg({'type': 'count', 'token': 'sum'}).unstack()
ft=pd.crosstab(df.domain,df.same_object,margins=True)#,normalize='index')
#f=df[df.same_object=='f']
display_side_by_side(ft)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

same_object,f,t,All
domain,,,
animals_plants,62,38,100
buildings,70,30,100
clothing,55,45,100
food,72,28,100
home,89,11,100
people,62,38,100
vehicles,75,25,100
All,485,215,700

In [10]:
f_all=df[df.same_object=='f'].subrelation.value_counts()
t_all=df[df.same_object=='t'].subrelation.value_counts()
print("false, subrelations:")
print("true, subrelations:")

print(f_all)
print(t_all)

false, subrelations:
true, subrelations:
adjacent      167
supports.1    122
part.2        102
supports.2     64
part.1         20
other          10
Name: subrelation, dtype: int64
co-hyponyms    148
overlapping     22
hypernym.1      19
hypernym.2      18
other            8
Name: subrelation, dtype: int64

In [11]:
#temp=df[df.subrelation!="other"]
temp=df
f=temp[temp.same_object=='f']
t=temp[temp.same_object=='t']
myt=pd.crosstab(f.domain,f.subrelation,margins=True)
myt.iloc[:, np.argsort(myt.loc['All'])]

subrelation     other  part.1  supports.2  part.2  supports.1  adjacent  All
domain
animals_plants      3       1           3       6           2        47   62
buildings           2       3           2      19           1        43   70
clothing            0       0          24       0           3        28   55
food                0       1          14      25          11        21   72
home                0       7           2       8          63         9   89
people              0       0          16       0          42         4   62
vehicles            5       8           3      44           0        15   75
All                10      20          64     102         122       167  485

In [12]:
myt2=pd.crosstab(t.domain,t.subrelation,margins=True)
myt2.iloc[:, np.argsort(myt2.loc['All'])]

subrelation     other  hypernym.2  hypernym.1  overlapping  co-hyponyms  All
domain
animals_plants      0           4           2           11           21   38
buildings           1           0           4            5           20   30
clothing            0           3           8            0           34   45
food                2           5           1            6           14   28
home                2           0           0            0            9   11
people              1           3           0            0           34   38
vehicles            2           3           4            0           16   25
All                 8          18          19           22          148  215

In [13]:
#for r in f.subrelation.unique():
#    print(r)
#    a=f[f.subrelation==r].sample(8)
#    print(a[['domain','word1','word2']])

In [14]:
pd.crosstab(t.domain_w1,t.domain_w2)

domain_w2,animals_plants,buildings,clothing,food,home,people,vehicles
domain_w1,,,,,,,
animals_plants,32,0,0,1,3,1,0
buildings,0,28,0,0,2,0,0
clothing,0,0,46,0,0,0,0
food,0,0,0,24,2,0,1
home,2,0,0,0,11,0,0
people,0,0,0,0,0,37,0
vehicles,0,0,0,0,0,0,25

In [15]:
pd.crosstab(f.domain_w1,f.domain_w2)

domain_w2,animals_plants,buildings,clothing,food,home,people,vehicles
domain_w1,,,,,,,
animals_plants,26,5,4,1,12,12,2
buildings,1,30,5,1,10,4,14
clothing,1,0,16,5,4,25,1
food,3,0,0,63,5,0,0
home,13,2,6,9,62,1,0
people,1,0,34,0,0,30,0
vehicles,4,7,3,0,5,0,58

In [17]:
f[f.subrelation=="adjacent"]

,domain,word1,word2,relation,same_object,subrelation,totalfreq,freq_w1_w2,freq_w2_w1,domain_w1,domain_w2,syn_w1,syn_w2
5459,animals_plants,horse,belt,crossclassified,f,adjacent,226,226,0,animals_plants,animals_plants,0,0
135,animals_plants,dog,cat,crossclassified,f,adjacent,219,111,108,animals_plants,animals_plants,0,0
823,animals_plants,giraffe,zebra,crossclassified,f,adjacent,197,120,77,animals_plants,animals_plants,0,0
4239,animals_plants,horse,shoe,crossclassified,f,adjacent,141,141,0,animals_plants,people,0,0
1113,animals_plants,cow,goat,crossclassified,f,adjacent,132,90,42,animals_plants,animals_plants,0,0
1103,animals_plants,sheep,cow,crossclassified,f,adjacent,114,66,48,animals_plants,animals_plants,0,0
5781,animals_plants,dog,belt,crossclassified,f,adjacent,106,106,0,animals_plants,animals_plants,0,0
1757,animals_plants,cow,horse,crossclassified,f,adjacent,99,75,24,animals_plants,animals_plants,0,0
1643,animals_plants,giraffe,camel,crossclassified,f,adjacent,94,94,0,animals_plants,animals_plants,0,0
3150,animals_plants,horse,t-shirt,crossclassified,f,adjacent,55,55,0,animals_plants,clothing,0,0
4567,animals_plants,cat,laptop,crossclassified,f,adjacent,48,48,0,animals_plants,home,0,0
2803,animals_plants,horse,shirt,crossclassified,f,adjacent,43,43,0,animals_plants,clothing,0,0
8419,animals_plants,horse,pole,crossclassified,f,adjacent,34,34,0,animals_plants,buildings,0,0
6886,animals_plants,horse,pant,crossclassified,f,adjacent,33,33,0,animals_plants,people,0,0
33148,animals_plants,bird,peak,crossclassified,f,adjacent,33,33,0,animals_plants,animals_plants,0,0
4293,animals_plants,belt,animal,crossclassified,f,adjacent,30,15,15,animals_plants,animals_plants,0,0
10018,animals_plants,animal,belt,crossclassified,f,adjacent,30,15,15,animals_plants,animals_plants,0,0
3366,animals_plants,giraffe,pole,crossclassified,f,adjacent,27,27,0,animals_plants,buildings,0,0
1109,animals_plants,lamb,cow,crossclassified,f,adjacent,27,19,8,animals_plants,animals_plants,0,0
3313,animals_plants,dog,plate,crossclassified,f,adjacent,26,26,0,animals_plants,food,0,0
24769,animals_plants,cat,shoe,crossclassified,f,adjacent,26,26,0,animals_plants,people,0,0
9983,animals_plants,horse,cap,crossclassified,f,adjacent,25,25,0,animals_plants,people,0,0
17861,animals_plants,sheep,flock,crossclassified,f,adjacent,24,24,0,animals_plants,animals_plants,0,0
31604,animals_plants,cat,bag,crossclassified,f,adjacent,23,22,1,animals_plants,people,0,0
21399,animals_plants,giraffe,tree,crossclassified,f,adjacent,21,21,0,animals_plants,buildings,0,0
12645,animals_plants,belt,shoe,crossclassified,f,adjacent,21,12,9,animals_plants,people,0,0
13335,animals_plants,cat,pillow,crossclassified,f,adjacent,21,21,0,animals_plants,home,0,0
8826,animals_plants,dog,pillow,crossclassified,f,adjacent,21,21,0,animals_plants,home,0,0
11035,animals_plants,shoe,animal,crossclassified,f,adjacent,20,17,3,people,animals_plants,0,0
10587,animals_plants,animal,pole,crossclassified,f,adjacent,19,12,7,animals_plants,buildings,0,0
35273,animals_plants,dog,shoe,crossclassified,f,adjacent,18,12,6,animals_plants,people,0,0
11798,animals_plants,horse,jacket,crossclassified,f,adjacent,17,17,0,animals_plants,clothing,0,0
8289,animals_plants,cat,keyboard,crossclassified,f,adjacent,16,16,0,animals_plants,home,0,0
21725,animals_plants,fish,chicken,crossclassified,f,adjacent,16,13,3,animals_plants,animals_plants,0,0
3611,animals_plants,cat,sink,crossclassified,f,adjacent,16,16,0,animals_plants,home,0,0
15137,animals_plants,dog,frisbee,crossclassified,f,adjacent,15,15,0,animals_plants,people,0,0
28158,animals_plants,horse,woman,crossclassified,f,adjacent,15,15,0,animals_plants,people,0,0
348,animals_plants,dog,t-shirt,crossclassified,f,adjacent,15,14,1,animals_plants,clothing,0,0
29265,animals_plants,cow,cap,crossclassified,f,adjacent,14,14,0,animals_plants,people,0,0
26202,animals_plants,dog,ball,crossclassified,f,adjacent,14,11,3,animals_plants,people,0,0
12135,animals_plants,horse,wheel,crossclassified,f,adjacent,14,13,1,animals_plants,vehicles,0,0
10023,animals_plants,dog,rope,crossclassified,f,adjacent,14,14,0,animals_plants,animals_plants,0,0
2158,animals_plants,cow,rope,crossclassified,f,adjacent,14,13,1,animals_plants,animals_plants,0,0
14374,animals_plants,sheep,field,crossclassified,f,adjacent,13,13,0,animals_plants,animals_plants,0,0
34944,animals_plants,cat,belt,crossclassified,f,adjacent,13,11,2,animals_plants,animals_plants,0,0
2968,animals_plants,cat,table,crossclassified,f,adjacent,13,13,0,animals_plants,home,0,0
4776,animals_plants,bird,tree,crossclassified,f,adjacent,13,13,0,animals_plants,buildings,0,0
6981,buildings,house,tree,crossclassified,f,adjacent,106,82,24,buildings,buildings,0,0
5870,buildings,bridge,road,crossclassified,f,adjacent,103,79,24,buildings,buildings,0,0
7001,buildings,building,tree,crossclassified,f,adjacent,97,52,45,buildings,buildings,0,0
5274,buildings,bridge,pole,crossclassified,f,adjacent,87,87,0,buildings,buildings,0,0
1973,buildings,building,pole,crossclassified,f,adjacent,80,70,10,buildings,buildings,0,0
1979,buildings,house,pole,crossclassified,f,adjacent,71,68,3,buildings,buildings,0,0
7809,buildings,dugout,bat,crossclassified,f,adjacent,69,69,0,buildings,people,0,0
183,buildings,dugout,fence,crossclassified,f,adjacent,65,65,0,buildings,buildings,0,0
1444,buildings,building,clock,crossclassified,f,adjacent,65,48,17,buildings,buildings,0,0
364,buildings,house,car,crossclassified,f,adjacent,60,60,0,buildings,vehicles,0,0
4662,buildings,dugout,cap,crossclassified,f,adjacent,50,50,0,buildings,people,0,0
24034,buildings,building,bus,crossclassified,f,adjacent,49,29,20,buildings,vehicles,0,0
9175,buildings,dugout,helmet,crossclassified,f,adjacent,43,43,0,buildings,people,0,0
21779,buildings,building,t-shirt,crossclassified,f,adjacent,42,29,13,buildings,clothing,0,0
12189,buildings,building,wheel,crossclassified,f,adjacent,40,35,5,buildings,vehicles,0,0
7808,buildings,dugout,t-shirt,crossclassified,f,adjacent,40,40,0,buildings,clothing,0,0
653,buildings,building,car,crossclassified,f,adjacent,40,29,11,buildings,vehicles,0,0
2917,buildings,building,umbrella,crossclassified,f,adjacent,39,30,9,buildings,buildings,0,0
1442,buildings,building,clock tower,crossclassified,f,adjacent,37,37,0,buildings,buildings,0,0
6661,buildings,house,t-shirt,crossclassified,f,adjacent,37,35,2,buildings,clothing,0,0
4771,buildings,bridge,car,crossclassified,f,adjacent,36,35,1,buildings,vehicles,0,0
2916,buildings,house,umbrella,crossclassified,f,adjacent,32,30,2,buildings,buildings,0,0
5872,buildings,bridge,bus,crossclassified,f,adjacent,32,32,0,buildings,vehicles,0,0
17762,buildings,dugout,players,crossclassified,f,adjacent,32,32,0,buildings,buildings,0,0
1818,buildings,house,shirt,crossclassified,f,adjacent,31,30,1,buildings,clothing,0,0
1821,buildings,building,shirt,crossclassified,f,adjacent,31,29,2,buildings,clothing,0,0
5290,buildings,train,pole,crossclassified,f,adjacent,31,16,15,vehicles,buildings,0,0
38780,buildings,window,pole,crossclassified,f,adjacent,31,25,6,home,buildings,0,0
28639,buildings,building,giraffe,crossclassified,f,adjacent,30,21,9,buildings,animals_plants,0,0
7050,buildings,building,man,crossclassified,f,adjacent,30,26,4,buildings,people,0,0
7106,buildings,building,train,crossclassified,f,adjacent,30,19,11,buildings,vehicles,0,0
193,buildings,dugout,gallery,crossclassified,f,adjacent,29,29,0,buildings,buildings,0,0
12195,buildings,house,wheel,crossclassified,f,adjacent,28,28,0,buildings,vehicles,0,0
3989,buildings,dugout,team,crossclassified,f,adjacent,27,27,0,buildings,buildings,0,0
7107,buildings,overpass,building,crossclassified,f,adjacent,26,13,13,buildings,buildings,0,0
8934,buildings,bridge,wheel,crossclassified,f,adjacent,26,26,0,buildings,vehicles,0,0
13898,buildings,building,overpass,crossclassified,f,adjacent,26,13,13,buildings,buildings,0,0
14045,buildings,building,truck,crossclassified,f,adjacent,26,13,13,buildings,vehicles,0,0
23390,buildings,truck,building,crossclassified,f,adjacent,26,13,13,vehicles,buildings,0,0
15386,buildings,building,fence,crossclassified,f,adjacent,25,21,4,buildings,buildings,0,0
4343,buildings,bridge,boat,crossclassified,f,adjacent,25,25,0,buildings,vehicles,0,0
181,buildings,dugout,railing,crossclassified,f,adjacent,24,24,0,buildings,buildings,0,0
14043,buildings,house,truck,crossclassified,f,adjacent,24,24,0,buildings,vehicles,0,0
293,clothing,shirt,tie,crossclassified,f,adjacent,1046,807,239,clothing,clothing,0,0
3604,clothing,jacket,tie,crossclassified,f,adjacent,761,662,99,clothing,clothing,0,0
3601,clothing,suit,tie,crossclassified,f,adjacent,712,546,166,clothing,clothing,0,0
2645,clothing,jacket,dress,crossclassified,f,adjacent,313,220,93,clothing,clothing,0,0
3606,clothing,tie,coat,crossclassified,f,adjacent,307,181,126,clothing,clothing,0,0
1746,clothing,coat,t-shirt,crossclassified,f,adjacent,176,141,35,clothing,clothing,0,0
2477,clothing,shirt,cake,crossclassified,f,adjacent,110,108,2,clothing,food,0,0
6060,clothing,tie,blazer,crossclassified,f,adjacent,102,88,14,clothing,clothing,0,0
2156,clothing,shirt,phone,crossclassified,f,adjacent,91,88,3,clothing,people,0,0
2856,clothing,shirt,glass,crossclassified,f,adjacent,83,77,6,clothing,home,0,0
7361,clothing,shirt,pizza,crossclassified,f,adjacent,80,80,0,clothing,food,0,0
935,clothing,hood,car,crossclassified,f,adjacent,75,63,12,clothing,vehicles,0,0
1862,clothing,shirt,food,crossclassified,f,adjacent,67,66,1,clothing,food,0,0
2047,clothing,shirt,necktie,crossclassified,f,adjacent,64,38,26,clothing,clothing,0,0
4310,clothing,shirt,plate,crossclassified,f,adjacent,62,56,6,clothing,food,0,0
6777,clothing,jacket,phone,crossclassified,f,adjacent,62,58,4,clothing,people,0,0
5897,clothing,vest,tie,crossclassified,f,adjacent,57,31,26,clothing,clothing,0,0
1861,clothing,shirt,donut,crossclassified,f,adjacent,54,48,6,clothing,food,0,0
2155,clothing,shirt,mobile,crossclassified,f,adjacent,53,51,2,clothing,people,0,0
6105,clothing,tie,dress,crossclassified,f,adjacent,53,41,12,clothing,clothing,0,0
5833,clothing,banana,shirt,crossclassified,f,adjacent,52,29,23,home,clothing,0,0
8906,clothing,shirt,doll,crossclassified,f,adjacent,46,39,7,clothing,home,0,0
9148,clothing,hat,cat,crossclassified,f,adjacent,44,44,0,clothing,animals_plants,0,0
11055,clothing,shirt,watch,crossclassified,f,adjacent,44,36,8,clothing,people,0,0
4203,clothing,jacket,scarf,crossclassified,f,adjacent,43,41,2,clothing,clothing,0,0
7280,clothing,shirt,laptop,crossclassified,f,adjacent,43,40,3,clothing,home,0,0
6779,clothing,coat,phone,crossclassified,f,adjacent,42,38,4,clothing,people,0,0
7263,clothing,shirt,toy,crossclassified,f,adjacent,42,26,16,clothing,home,0,0
51,food,sandwich,cake,crossclassified,f,adjacent,138,120,18,food,food,0,0
2914,food,sandwich,pizza,crossclassified,f,adjacent,98,74,24,food,food,0,0
4703,food,pizza,bread,crossclassified,f,adjacent,92,58,34,food,food,0,0
10657,food,food,snakes,crossclassified,f,adjacent,67,67,0,food,food,0,0
3491,food,pizza,burger,crossclassified,f,adjacent,64,39,25,food,food,0,0
2966,food,burger,cake,crossclassified,f,adjacent,62,31,31,food,food,0,0
5310,food,cake,burger,crossclassified,f,adjacent,62,31,31,food,food,0,0
1707,food,cheese,sauce,crossclassified,f,adjacent,38,25,13,food,food,0,0
10672,food,sandwich,snakes,crossclassified,f,adjacent,36,35,1,food,food,0,0
20844,food,bun,cheese,crossclassified,f,adjacent,34,27,7,food,food,0,0
12061,food,hotdog,cake,crossclassified,f,adjacent,34,32,2,food,food,0,0
8681,food,food,spoon,crossclassified,f,adjacent,31,29,2,food,home,0,0
31232,food,cake,cheese,crossclassified,f,adjacent,31,20,11,food,food,0,0
4841,food,hotdog,ketchup,crossclassified,f,adjacent,29,27,2,food,food,0,0
3487,food,hotdog,pizza,crossclassified,f,adjacent,28,25,3,food,food,0,0
12497,food,toppings,plate,crossclassified,f,adjacent,27,22,5,food,food,0,0
3286,food,sandwich,salad,crossclassified,f,adjacent,27,16,11,food,food,0,0
5806,food,cake,toast,crossclassified,f,adjacent,27,15,12,food,food,0,0
1615,food,mustard,hotdog,crossclassified,f,adjacent,26,15,11,food,food,0,0
6645,food,pizza,bun,crossclassified,f,adjacent,25,15,10,food,food,0,0
11807,food,dessert,pizza,crossclassified,f,adjacent,24,17,7,food,food,0,0
2412,home,chair,table,crossclassified,f,adjacent,594,325,269,home,home,0,0
2000,home,bed,table,crossclassified,f,adjacent,210,148,62,home,home,0,0
3348,home,sofa,table,crossclassified,f,adjacent,203,149,54,home,home,0,0
1423,home,table,shelf,crossclassified,f,adjacent,186,142,44,home,home,0,0
3346,home,couch,table,crossclassified,f,adjacent,174,142,32,home,home,0,0
152,home,curtain,window,crossclassified,f,adjacent,168,123,45,home,home,0,0
7137,home,bed,chair,crossclassified,f,adjacent,155,82,73,home,home,0,0
1933,home,desk,chair,crossclassified,f,adjacent,138,107,31,home,home,0,0
6631,home,bathtub,sink,crossclassified,f,adjacent,130,90,40,home,home,0,0
2179,people,shoe,t-shirt,crossclassified,f,adjacent,453,303,150,people,clothing,0,0
959,people,woman,child,crossclassified,f,adjacent,263,148,115,people,people,0,0
324,people,shoe,shirt,crossclassified,f,adjacent,245,192,53,people,clothing,0,0
1833,people,woman,boy,crossclassified,f,adjacent,220,119,101,people,people,0,0
5059,vehicles,train,trolley,crossclassified,f,adjacent,128,117,11,vehicles,vehicles,0,0
7044,vehicles,wheel,mirror,crossclassified,f,adjacent,61,53,8,vehicles,vehicles,0,0
3845,vehicles,boat,dog,crossclassified,f,adjacent,57,56,1,vehicles,animals_plants,0,0
15290,vehicles,truck,dog,crossclassified,f,adjacent,54,38,16,vehicles,animals_plants,0,0
2848,vehicles,train,airplane,crossclassified,f,adjacent,45,29,16,vehicles,vehicles,0,0
15021,vehicles,car,dog,crossclassified,f,adjacent,44,36,8,vehicles,animals_plants,0,0
14056,vehicles,car,meter,crossclassified,f,adjacent,43,43,0,vehicles,vehicles,0,0
6040,vehicles,truck,t-shirt,crossclassified,f,adjacent,37,35,2,vehicles,clothing,0,0
25304,vehicles,car,cat,crossclassified,f,adjacent,36,36,0,vehicles,animals_plants,0,0
6551,vehicles,car,t-shirt,crossclassified,f,adjacent,34,30,4,vehicles,clothing,0,0
15442,vehicles,boat,train,crossclassified,f,adjacent,34,20,14,vehicles,vehicles,0,0
10918,vehicles,boat,truck,crossclassified,f,adjacent,32,25,7,vehicles,vehicles,0,0
10510,vehicles,car,shirt,crossclassified,f,adjacent,31,31,0,vehicles,clothing,0,0
5992,vehicles,train,building,crossclassified,f,adjacent,29,29,0,vehicles,buildings,0,0
15020,vehicles,dog,vehicle,crossclassified,f,adjacent,29,15,14,animals_plants,vehicles,0,0